<gw-frontend-professional-header></gw-frontend-professional-header>
<mat-sidenav-container class="sidenav-container" color="primary" autosize>
    <mat-sidenav class="sidenav" #sidenav opened="true" mode="side">
        <mat-nav-list>
            <gw-core-hierarchical-vertical id="hierarchicalVertical" />
        </mat-nav-list>
        <mat-divider></mat-divider>
        <gw-core-vertical id="vertical" />
    </mat-sidenav>
    <div class="router-outlet__div page">
        <gw-core-loader />
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
<gw-frontend-professional-footer />