@if (calendar) {
  <table class='calendar-table'>
    <thead>
      <tr style="text-align: center; width: 100%">
        <td colspan="7">
          <h1 style="text-align: center; width: 100%">{{displayMonth}}</h1>
          <div>
            <button (click)="decreaseMonth()" mat-button class="Form_Button" color="primary">
              <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">remove</i>
            </button>
            <button (click)="setCurrentMonth()" mat-button class="Form_Button" color="primary">
              Today
            </button>
            <button (click)="increaseMonth()" mat-button class="Form_Button" color="primary">
              <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">add</i>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
      @for (week of calendar; track week; let weekIndex = $index) {
        <tr>
          @for (day of week | keyvalue; track day; let propertyIndex = $index) {
            <td class="calendar-day-header">
              <gw-DayOfWeek [day]=day [weekNumber]=weekIndex></gw-DayOfWeek>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
}