.pickListTable {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    padding: 2px;
    font-family: verdana, arial;
    font-size: 1rem;
    background-color: white;
}

.pickListTableHeader td {
    background-color: #B2B2B2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    font-size: .8rem;
    background-color: #b6cbeb;
}

.pickListTableHelp td {
    padding: 2px;
    font-size: .5rem;
}

.pickListTableContents {
    padding: 2px;
    font-size: .8rem;
}

.help {
    font-size: 1.2rem;
    text-align: center;
    vertical-align: middle;
}

select.selectList {
    width: 250px;
  }