<body>
  <gw-lib-toaster></gw-lib-toaster>
  <header>
    <mat-toolbar color="primary">
      <button style="outline: none;" class="white-icon" mat-icon-button (click)="drawer.toggle();">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <mat-drawer-container class="drawer-container" color="primary" autosize>
    <mat-drawer #drawer class="drawer-sidenav" opened="true" mode="side">
      <button style="outline: none;" color="primary" mat-icon-button (click)="showFiller = !showFiller;">
        <span *ngIf="showFiller" class="material-icons">arrow_left</span>
        <span *ngIf="!showFiller" class="material-icons">arrow_right</span>
      </button>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <div mat-list-item *ngFor="let item of sideNavLinks; let i = index">
          <a *ngIf="item.isRouterLink" [routerLink]="['/', item.routerLink]">
            <i style="padding-right: 3px;" class="material-icons">{{ item.icon }}</i>
            <span *ngIf="showFiller" [@animateText]="showFiller ? 'show' : 'hide'">{{ item.linkText }}</span>
          </a>
          <a *ngIf="!item.isRouterLink" href="{{item.routerLink}}" target="_blank">
            <i style="padding-right: 3px;" class="material-icons">{{ item.icon }}</i>
            <span *ngIf="showFiller" [@animateText]="showFiller ? 'show' : 'hide'">{{ item.linkText }}</span>
          </a>
        </div>
      </mat-nav-list>
    </mat-drawer>
    <div style="margin-left: 10px;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
  <footer>footer</footer>
</body>
