.white-icon {
  color: white;
}

.header {
  font-size: 20px;
  padding: 10px 20px;
  padding-left: 7px;
  white-space: nowrap;
  background: rgb(40, 155, 125); /*Visionary Green: #289b7d*/
  color: white;
}

.drawer-container {
  width: 100%;
  height: calc(85vh);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.drawer-sidenav {
  padding: 10px;
}

ul li {
  list-style: none;
}
