/* Default CSS Stylesheet for a new Web Application project */
BODY
{
    BACKGROUND-COLOR: white;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    FONT-SIZE: .8em;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal;
    padding: 0px;
	margin: 0px 0px 0px 0px
}
.ClientMsg
{
	color:Red;
	font-weight: bold
}
H1, H2, H3, H4, H5, TH, THEAD, TFOOT
{
    COLOR: #003366;
}
H1	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	2em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H2	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.75em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H3	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.58em;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H4	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.33em;
	font-weight:	500;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H5, DT	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H6	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	.8em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
TABLE
{
	font-size: 12px
}
TFOOT, THEAD	{	
	font-size:	1em;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	
		
TH	{	
	vertical-align:	baseline;
	font-size:	1em;
	font-weight:	bold;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	


A:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: blue;
	font-family:  Arial, Helvetica, sans-serif;
	text-decoration: none;
}	
		
A:visited	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:	none;
	color: Blue;
	}	
		
A:active	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:	none;
	color:	#333399;
	}	
		
A:hover	{	
	text-decoration:	underline;
	color:	#3333cc;
	}
	
SMALL	{	
	font-size:	.7em;
	}	

BIG	{	
	font-size:	1.17em;
	}	

BLOCKQUOTE, PRE	{	
	font-family:	Courier New, monospace;
	}	
ul#tabStripUL,ul#tabStripUL li
{
	list-style-type:none;
	margin:0;padding:0
}
ul#tabStripUL
{
	padding-left:15px
}
ul#tabStripUL li
{
	float:left;
	width:80px;
	margin-right:2px;
	text-align: center
}
/* done through code ... needed to set background color to Subhead color
ul#tabStrip a
{
	float:left;
	width:80px;
	text-decoration:none;
	background: #FFC;
	color: #999
}
*/
ul#tabStripUL li.active a,ul#tabStripUL a:hover
{
	color: #000
}	

UL LI	{	
	list-style-type:	square ;
	}	

UL LI LI	{	
	list-style-type:	disc;
	}	

UL LI LI LI	{	
	list-style-type:	circle;
	}	
	
OL LI	{	
	list-style-type:	decimal;
	}	

OL OL LI	{	
	list-style-type:	lower-alpha;
	}	

OL OL OL LI	{	
	list-style-type:	lower-roman;
	}
.inset
{
	border-width:thin;
	BORDER-TOP-STYLE: inset; 
	BORDER-RIGHT-STYLE: inset; 
	BORDER-LEFT-STYLE: inset; 
	BORDER-BOTTOM-STYLE: inset
}

.Form_Title {font-weight: bold; font-size: 17px; font-variant: small-caps;}
.Form_Description {font-size: 12px;}
.Form_Table {background-color: #cccccc; border: thick solid #AAAAAA 1px;}
.Form_LabelRow {font-size: 10pt;}
.Form_LabelCell {font-size: 10pt;}
.Form_LabelText {font-size: 10pt; font-variant: small-caps;}
.Form_FieldRow {font-size: 12px;}
.Form_FieldCell {font-size: 12px;}
.Form_Field {font-size: 11px;}
.Form_SectionRow {background-color: #ccccff;}
.Form_SectionCell {font-size: 12pt;}
.Form_SectionText {font-weight: bold;}
.Form_Button {font-size: 12px;}
.Form_HelpText {font-size: 8pt;}
.Form_SubSectionRow {font-size: 13px;}
.Form_SubSectionCell {font-size: 13px;}
.Form_SubSectionText {font-size: 13px;}
.Form_List {font-size: 12px;}
.Form_Message {font-size: 12px; color: #CC0000}

.pageDescription { font-family: Arial; font-size: 12px; color: #666666;} 
.formSection {background-color:#DCDDDE; width:500; border-collapse:collapse;}
.formSectionHeader {background-color:#B2B2B2; padding:5px; font-family:verdana, arial; font-weight: bold; font-size: 12px; color: #FFFFFF;}
.formSectionHelp {padding:2px;font-family:verdana, arial; font-size: 10px;}
.formSectionContents {padding:2px;font: 14px Verdana;}
.formSectionContents td {font: 12px Verdana;}
.listPicker {width:200px;font-family:verdana, arial; font-size: 10px;}

.MainNav {font-family: verdana, arial, helvetica, sans-serif; font-size: 11px; font-weight: bold;}
.MainNav a:active {color: #990000; text-decoration: none; font-size: 11px; font-weight: bold;}
.MainNav a:link {color: #990000; text-decoration: none; font-size: 11px; font-weight: bold;}
.MainNav a:visited {color: #990000; text-decoration: none; font-size: 11px; font-weight: bold;}
.MainNav a:hover {color: #DC143C; text-decoration: none; font-size: 11px; font-weight: bold;}

.AdminIcon {background: url("Images/Administration_icon.gif");}

.tabDesc {line-height: 18px; font-family: Arial; font-size: 12px; color: #333333;}

.headerItemStyle {font-size: 12px;}
.itemStyle {font: 12px Arial;}
.alternatingItemStyle {background-color: #eeeeee;font: 12px Arial}