<form id="frmChangePassword">
    <div>
        <table border="0" cellpadding="3" cellspacing="3" style="font: 8pt verdana, arial;">
            <tr id="trOldPassword">
                <td align="right" valign="top">
                    <span class="Form_LabelText">Old Password&nbsp;:</span>
                </td>
                <td align="left">
                    <input type="password" class="rounded" id="OldPassword" />
                    <asp:RequiredFieldValidator ID="RequiredFieldValidator1" CssClass="Form_Message" SetFocusOnError="true" ErrorMessage="(required)" ControlToValidate="OldPassword" />
                </td>
            </tr>
            <tr>
                <td align="right" valign="top">
                    <span class="Form_LabelText">New Password&nbsp;:</span>
                </td>
                <td align="left">
                    <input type="password" class="rounded" id="NewPassword" />
                    <asp:RequiredFieldValidator ID="RequiredFieldValidator2" CssClass="Form_Message" Display="dynamic" SetFocusOnError="true" ControlToValidate="NewPassword" ErrorMessage="(required)" />
                    <asp:CompareValidator ID="CompareValidator1" CssClass="Form_Message" ControlToCompare="OldPassword" Display="dynamic" ControlToValidate="NewPassword" Operator="NotEqual" ErrorMessage="New password can not match the old password." />
                </td>
            </tr>
            <tr>
                <td align="right" valign="top">
                    <span class="Form_LabelText">Confirm Password&nbsp;:</span>
                </td>
                <td align="left">
                    <input type="password" class="rounded" id="ConfirmPassword" />
                    <asp:RequiredFieldValidator ID="RequiredFieldValidator3" CssClass="Form_Message" SetFocusOnError="true" ErrorMessage="(required)" ControlToValidate="ConfirmPassword" />
                    <asp:CompareValidator ID="CompareValidator2" CssClass="Form_Message" ControlToCompare="NewPassword" Display="dynamic" ControlToValidate="ConfirmPassword" Operator="Equal" ErrorMessage="New password and confirm password must match." />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="left">
                    <input type="button" id="btnChangePassword" class="btn btn-primary" value="Change Password" onclick="javascript: changePassword();" />
                </td>
            </tr>
            <tr id="trNormalChange">
                <td colspan="2" align="left">
                    <b>Please Note:</b>
                    <ul>
                        <li>All fields are required </li>
                        <li>"Old password" can not match new password </li>
                        <li>"New Password" and "Confirm Password" must match </li>
                    </ul>
                </td>
            </tr>
            <tr id="trForceChange">
                <td colspan="2" align="left">
                    <b>Please Note:</b>
                    <ul>
                        <li>All fields are required </li>
                        <li>"New Password" and "Confirm Password" must match </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</form>
