.drawer-container {
  width: 100%;
  height: calc(85vh);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.drawer-sidenav {
  padding: 10px;
}

.router-outlet__div {
  margin-left: 10px;
  height: 90%;
  width: 98%;
}
