<gw-frontend-default-header [sidenav]="sidenav"></gw-frontend-default-header>
<mat-sidenav-container class="sidenav-container" color="primary" autosize>
  <mat-sidenav #sidenav class="sidenav" opened="true" mode="side">
    <button style="outline: none;" color="primary" mat-icon-button (click)="onShowSideNavLinkText();">
      @if (showSideNavLinkText) {
        <span class="material-icons">arrow_left</span>
      }
      @if (!showSideNavLinkText) {
        <span class="material-icons">arrow_right</span>
      }
    </button>
    <mat-divider></mat-divider>
    <gw-core-vertical name="vertical" />
    <mat-divider></mat-divider>
    <mat-nav-list>
      <gw-core-hierarchical-vertical name="hierarchicalVertical" />
    </mat-nav-list>
  </mat-sidenav>
  <div class="router-outlet__div page">
    <gw-core-loader />
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
<gw-frontend-default-footer />
