.tabHeight {
    // From (ManageNameValuePairsComponent._nameValuePairWindowSize)
    min-height: calc(350px - 125px);
    min-width: calc(600px - 50px);
}

.firstCell {
    width: 30px;
    vertical-align: top;
}

.middleCell {
    margin-top: 5px;
    vertical-align: middle;
    width: 20px;
}

.disabled {
    background-color: #f0f0f0;
    color: #666;
    cursor: not-allowed;
    opacity: 0.7; /* Optional: reduce opacity for a more disabled appearance */
}