<form id="frmFormName">
    <div>
        <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-dialog-buttons ui-draggable ui-resizable">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle">
                <span id="ui-id-5" class="ui-dialog-title" style="width: 100%;">FormName</span>
                <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="close" data-ng-click="cancelEdit()">
                    <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
                    <span class="ui-button-text">close</span>
                </button>
            </div>
            <div class="Form_Message">&nbsp;{{vm.clientMessage}}</div>
            <div class="container container-full" id="tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="nav active"><a data-toggle="tab" data-target="#tabsGeneral">General</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabsGeneral">
                        Details here
                    </div>
                </div>
                <div class="pull-right lower-right-buttons">
                    <button class="btn btn-primary" id="btnSave" data-ng-click="doSave()">
                        <span class="bootstrap-dialog-button-icon glyphicon glyphicon-save"></span>Save
                    </button>
                    <button class="btn btn-primary disabled" id="btnDelete" data-ng-show="vm.securityInfo.MayDelete" disabled="vm.securityInfo.MayDelete" data-ng-click="doDelete()">
                        <span class="bootstrap-dialog-button-icon glyphicon glyphicon-remove"></span>Delete
                    </button>
                    <button class="btn btn-primary" id="btnCancel" data-ng-click="doCancel()">
                        <span class="bootstrap-dialog-button-icon glyphicon glyphicon-thumbs-down"></span>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>