<?xml version="1.0" encoding="utf-8"?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="Database Instance" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="Oracle Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.OracleDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      </databaseTypes>
      <instances>
        <instance name="Database Instance" type="Oracle Server" connectionString="Oracle Connection String" />
      </instances>
      <connectionStrings>
        <connectionString xsi:type="OracleConnectionStringData" name="Oracle Connection String">
          <parameters>
            <parameter name="Password" value="kahiko" isSensitive="true" />
            <parameter name="server" value="DEVELOP.UMASSMED.EDU" isSensitive="false" />
          </parameters>
          <packages>
            <package prefix="SECMOD" name="Oracle Package" />
          </packages>
        </connectionString>
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>