<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
****************************************************************************
*	For deployment:
*		change the following keys:
*			appSettings:
*				Environment - to the appropriate environment
*			system.web:
*				sessionState
*		Change the following code
*			Version - located in the web projects AssemblyInfo.vb
****************************************************************************
*	BaseDAL - Is used to tell the factory classes the name
*	of the Assembly to load to access to the data store
****************************************************************************
-->
<!--
    <add key="BaseDAL" value="DALSQLServer" />
    <add key="BaseDAL" value="DALOracle" />
-->
    <add key="BaseDAL" value="DALSQLServer" />
<!--
	The environment setting determines which key well
	be read when the key is specific to an environmnet
	Valid Values are:
	
	Local, Development, QA, Procution
	
	This is case sensitive!
-->
    <add key="Environment" value="Local" />
<!--
	What to call a business unit for our customers
-->
    <add key="BusinessUnitTranslation" value="Portfolio" />
    <add key="DefaultBusinessUnitID" value="1" />
<!--
	Does the application need to support aspx pages?
	Valid vales are True or False
-->
    <add key="PageSupport" value="False" />
    <!-- Maintaince -->
<!-- 
	If SessionMethod is set to any value other than 'InProc'
	then the SessionTimeOut will be used.
	See ClientChoices.BasePage Sub Page_Init
-->
    <add key="ServerSideViewState" value="True"/>
    <add key="SessionMethod" value="NotInProc" />
    <add key="SessionTimeOut" value="120" />
    <add key="UnderConstruction" value="false" />
    <add key="ExpectedUpBy" value="Today by 10:00 am" />
<!-- Connection Information SQL Server 
    <add key="LocalSQLServerAppDB" value="server=(local);database=BaseApplication;uid=sa;pwd=kahiko" />
-->
    <add key="LocalSQLServerAppDB" value="server=(local);database=BaseApplication;trusted_connection=true" />
    <add key="DevelopmentSQLServerAppDB" value="9pECO/qGkFKFGyOv3QbNTam7Rlj6fmTU3jEPucbEjvbOyGZcTWEky3mo0n4gurmhytfl62QS4QnRDvv8PTEyUw==" />
    <add key="QASQLServerAppDB" value="9pECO/qGkFKFGyOv3QbNTam7Rlj6fmTU3jEPucbEjvbOyGZcTWEky3mo0n4gurmhytfl62QS4QnRDvv8PTEyUw==" />
    <add key="ProductionSQLServerAppDB" value="9pECO/qGkFKFGyOv3QbNTam7Rlj6fmTU3jEPucbEjvbOyGZcTWEky3mo0n4gurmhytfl62QS4QnRDvv8PTEyUw==" />
    <!--
	<add key="LocalSQLServerAppDB" value="server=(local);database=BaseApplication;UID=sa;pwd=kahiko;"/>
-->
    <!-- Connection Information Oracle Server -->
    <add key="LocalOracleDAL" value="Data Source=MAUDEV.AD.UMASSMED.EDU;User Id=zb_user;Password=zb_user" />
    <!--  Testing Oracle server dal
	<add key="LocalOracleDAL" value="Data Source=RXPROD.AD.UMASSMED.EDU;User Id=ma_app_user;Password=ma_app_user;Integrated Security=no;"/>
-->
    <!-- LDAP Server 
Will work with the 
	nt ad	(LDAP://ad.umassmed.edu) - UMASS Production
	ldap	(LDAP://146.189.111.32) - Production
	ldap	(LDAP://146.189.194.67) - Dev, Test, QA
Note:
	There is a note to read in the logon code!
-->
    <add key="LocalLDAPServer" value="LDAP://ad.umassmed.edu" />
    <add key="DevelopmentLDAPServer" value="LDAP://ad.umassmed.edu" />
    <add key="QALDAPServer" value="LDAP://ad.umassmed.edu" />
    <add key="ProcutionLDAPServer" value="LDAP://ad.umassmed.edu" />
    <add key="LocalLDAPDomain" value="" />
    <add key="DevelopmentLDAPDomain" value="" />
    <add key="QALDAPDomain" value="" />
    <add key="ProcutionLDAPDomain" value="" />
    <!-- 
Authenticaion Type 
valid values are ldap or internal
-->
    <add key="LocalAuthenticationType" value="internal" />
    <add key="DevelopmentAuthenticationType" value="internal" />
    <add key="QAAuthenticationType" value="internal" />
    <add key="ProcutionAuthenticationType" value="internal" />
    <!-- Start Force HTTPS -->
    <add key="LocalForceHTTPS" value="false" />
    <add key="DevelopmentForceHTTPS" value="false" />
    <add key="QAForceHTTPS" value="true" />
    <add key="ProductionForceHTTPS" value="true" />
    <!-- End Force HTTPS -->
    <!-- SMTPServer -->
    <add key="LocalSMTPServer" value="edcentmail01.ad.umassmed.edu" />
    <add key="DevelopmentSMTPServer" value="edcentmail01.ad.umassmed.edu" />
    <add key="QASMTPServer" value="mail.umassmed.edu" />
    <add key="ProductionSMTPServer" value="mail.umassmed.edu" />
    <!-- From Mail Address -->
    <add key="LocalSMTPFrom" value="notify@BaseApplication.com" />
    <add key="DevelopmentSMTPFrom" value="notify@BaseApplication.com" />
    <add key="QASMTPFrom" value="notify@BaseApplication.com" />
    <add key="ProductionSMTPFrom" value="notify@BaseApplication.com" />
    <!-- LogPath -->
    <add key="LocalLogPath" value="C:\WebProjects\2003\BaseApplication\Logs\" />
    <add key="DevelopmentLogPath" value="C:\Inetpub\wwwroot\BaseApplication\Logs\" />
    <add key="QALogPath" value="C:\Inetpub\wwwroot\BaseApplication\Logs\" />
    <add key="ProductionLogPath" value="C:\Inetpub\wwwroot\BaseApplication\Logs\" />
    <!-- LogPath -->
    <!-- Initial Log Level:
		Debug, Info, Warn, Error, Fatal
-->
    <add key="LocalLogPriority" value="Debug" />
    <add key="DevelopmentLogPriority" value="Error" />
    <add key="QALogPriority" value="Error" />
    <add key="ProductionLogPriority" value="Error" />
    <!-- Initial Log Level -->
    <!-- Start Business Objects -->
    <!-- Servers -->
    <add key="LocalBOServer" value="b4" />
    <add key="DevelopmentBOServer" value="b4" />
    <add key="QABOServer" value="b4" />
    <add key="ProductionBOServer" value="b4" />
    <!-- Authentication types -->
    <add key="LocalBOAuthenticationType" value="secEnterprise" />
    <add key="DevelopmentBOAuthenticationType" value="secEnterprise" />
    <add key="QABOAuthenticationType" value="secEnterprise" />
    <add key="ProductionBOAuthenticationType" value="secEnterprise" />
    <!-- End Business Objects-->
    <!-- Start UI Skin -->
    <add key="LocalUISkinPath" value="C:\WebProjects\2003\BaseApplication\UI\" />
    <add key="DevelopmentUISkinPath" value="C:\Inetpub\wwwroot\BaseApplication\UI\" />
    <add key="QAUISkinPath" value="C:\Inetpub\wwwroot\BaseApplication\UI\" />
    <add key="ProductionUISkinPath" value="C:\Inetpub\wwwroot\BaseApplication\UI\" />
    <!-- End UI Theme -->
    <!-- The default page .. if blank no page is displayed in the URL -->
    <add key="BasePage" value="" />
    <add key="AppName" value="BaseApplication" />
    <add key="AppDisplayedName" value="Base Application" />
    <add key="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
    <add key="AppendToFile" value="true" />
    <add key="AlwaysLeftNav" value="true" />
    <add key="DefaultAction" value="home" />
    <!-- 
	Currently not used but clsIndexServer.vb does require it
	Changes will need to be put in place for this
	class to work correctly with in the application. 
-->
    <add key="ISCatalog" value="WebBasedDocuments" />
  </appSettings>
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
          Change debug to false for production
    -->
    <compilation defaultLanguage="vb" debug="true">
      <assemblies>
        <!--
			<add assembly="CrystalDecisions.CrystalReports.Engine, Version=11.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			<add assembly="CrystalDecisions.ReportSource, Version=11.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			<add assembly="CrystalDecisions.Shared, Version=11.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			<add assembly="CrystalDecisions.Web, Version=11.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=11.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			<add assembly="CrystalDecisions.Enterprise.Framework, Version=11.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=11.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			<add assembly="CrystalDecisions.Enterprise.Web, Version=11.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			-->
      </assemblies>
    </compilation>
    <!-- CUSTOM HTTP MODULES -->
    <httpModules>
      <!--Initiates the ClientChoices Modules when application loades." 
		type="yoursolution.clientchoices.clientchoicesmodule,yoursolution"
      -->
      <add name="ClientChoices" type="BaseApplication.ClientChoices.ClientChoicesModule,BaseApplication" />
    </httpModules>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    <customErrors mode="RemoteOnly" defaultRedirect="~/Pages/System/ErrorPage.aspx"/>
    -->
    <customErrors mode="On" defaultRedirect="~/Pages/System/ErrorPage.aspx" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Forms">
      <forms loginUrl="~/Default.aspx" />
    </authentication>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <deny users="?" />
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>

	<sessionState mode="SQLServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="120" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
</configuration>