<form id="SelectSecurityEntity">
    <div>
        <table cellspacing="5" cellpadding="2" border="0">
            <tr align="left">
                <td align="left">
                    <select id="dropSecurityEntities" class="rounded" data-ng-model="selectedSE" data-ng-options="item.Name for item in validSecurityEntities track by item.SE_SEQ_ID"></select>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <input type="button" id="btnGo" class="btn btn-primary" data-ng-click="save()" value="Go" />
                </td>
            </tr>
        </table>
    </div>
</form>