<form [formGroup]="frmChangePassword" (ngSubmit)="onSubmit()" class="containerSize">
  <div class="table containerSize">
    <div class="tr">
      <div class="td">
        <div class="table">
          <div class="tr formSection">
            <div class="td center">
              {{title}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div class="table">
          <div class="tr">
            <div class="td leftCell">
              <span class="Form_LabelText">Old Password&nbsp;:</span>
            </div>
            <div class="td middleCell">
              <input formControlName="oldPassword" type="password" class="Form_Field rounded" id="OldPassword" #oldPassword />&nbsp;
            </div>
            <div class="td rightCell">
              @if (getControls['oldPassword'].invalid) {
                <span class="Form_LabelTextRed">{{getErrorMessage('oldPassword')}}</span>
              }
            </div>
          </div>

          <div class="tr">
            <div class="td leftCell">
              <span class="Form_LabelText">New Password&nbsp;:</span>
            </div>
            <div class="td middleCell">
              <input formControlName="newPassword" type="password" class="Form_Field rounded" id="NewPassword" #newPassword />&nbsp;
            </div>
            <div class="td rightCell">
              @if (getControls['newPassword'].invalid) {
                <span class="Form_LabelTextRed">{{getErrorMessage('newPassword')}}</span>
              }
            </div>
          </div>

          <div class="tr">
            <div class="td leftCell">
              <span class="Form_LabelText">Confirm Password&nbsp;:</span>
            </div>
            <div class="td middleCell">
              <input formControlName="confirmPassword" type="password" class="Form_Field rounded" id="ConfirmPassword" />&nbsp;
            </div>
            <div class="td rightCell">
              @if (getControls['confirmPassword'].hasError('required')) {
                <span class="Form_LabelTextRed">{{getErrorMessage('confirmPassword')}}</span>
              }
              @if (getControls['confirmPassword'].hasError('mismatch')) {
                <span class="Form_LabelTextRed">Password do not match.</span>
              }
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div class="table">
          <div class="tr">
            <div class="td right">
              <button type="submit" [disabled]="frmChangePassword.invalid" mat-button class="Form_Button" color="primary">
                <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">save</i>Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>