.containerSize {
    min-height: calc(250px - 125px);
    max-width: calc(600px - 50px);
    min-width: calc(600px - 50px);
}

.leftCell {
    width: 25%;
}

.middleCell {
    width: 25%;
}

.rightCell {
    width: 50%;
}