.containerSize {
    max-height: calc(225px - 125px);
    min-height: calc(225px - 125px);
    max-width: calc(550px - 50px);
    min-width: calc(550px - 50px);
}

.leftCell {
    width: 25%;
}

.middleCell {
    width: 25%;
}

.rightCell {
    width: 50%;
}