<div>
    <table border="0" width="100%" cellpadding="0" cellspacing="0" style="FONT: 8pt verdana, arial">
        <tr>
            <td align="left" valign="top" style="PADDING-RIGHT:0px; PADDING-LEFT:0px; PADDING-BOTTOM:0px; PADDING-TOP:0px">
                <asp:Image ID="SideImage" ImageUrl='<%=ResolveUrl( "~/Content/GrowthWare/Images/Misc/sidebar_blue.gif" )%>' Runat="server"></asp:Image>
            </td>
            <td align="left" valign="top" style="PADDING-RIGHT:15px; PADDING-LEFT:15px; PADDING-BOTTOM:15px; PADDING-TOP:15px; width: 100%;">
                <b>Welcome to the <asp:Label id="lblAppName" runat="server">lblAppName</asp:Label></b>
                <p>
                    Growthware is an idea dedicated to producing reusable and extendable core technologies used to produce a working web application (Web 2.0) in less than 10 minutes. At the core are the Framework, custom web controls, and the core web application.
                </p>
                The framework was developed to provide a data store independent/generic code base to supply the following functionality and features.
                <ul>
                    <li>
                        Account Management
                        <ul>
                            <li>
                                Account creation and Registration
                                <ul>
                                    <li>
                                        Using populate social media providers
                                        <ul>
                                            <li>Google </li>
                                            <li>Facebook </li>
                                            <li>Twitter </li>
                                            <li>Microsoft Account </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>Account edit (including the ability for each client to edit their personal information) </li>
                            <li>
                                Account authentication
                                <ul>
                                    <li>By internal data store </li>
                                    <li>By LDAP/ADSI </li>
                                    <li>By IIS A.K.A Windows Authentication </li>
                                </ul>
                            </li>
                            <li>Security Management </li>
                        </ul>
                    </li>
                    <li>An E-Mail facility </li>
                    <li>Logging using Log4Net </li>
                    <li>
                        Security Entity Management
                        <ul>
                            <li>Manage properties of a Security Entity </li>
                            <li>Add a Security Entity through the UI </li>
                            <li>Unlimited number of Parent/Child Security Entitys </li>
                        </ul>
                    </li>
                    <li>
                        Role management
                        <ul>
                            <li>Adding a role </li>
                            <li>Editing a role </li>
                            <li>Deleting a role </li>
                        </ul>
                        Note: Role management is by Security Entity, roles are created and assigned to Page/Functions for 4 “Permissions” (View, Add, Edit, and Delete). Roles are also assigned to Accounts. When both the Client/Account and Function/Page for any given permission has the same role then that permission is granted. The role based security is accumulative meaning if the account is in a any role that has a permission then the permission is granted.
                    </li>
                    <li>
                        Function/Page Management
                        <ul>
                            <li>Add Functions/Pages </li>
                            <li>Edit Functions/Pages </li>
                            <li>Delete Functions/Pages </li>
                            <li>Security Management – Assigning roles by Security Entitys </li>
                        </ul>
                    </li>
                    <li>
                        Client Choice Management
                        <ul>
                            <li>As a client makes choices in the application the information is stored in the data store and retrieved when necessary. </li>
                        </ul>
                    </li>
                    <li>
                        Personalization
                        <ul>
                            <li>Choose from 5 color schemas </li>
                            <li>Select your favoriate action </li>
                            <li>Choose the number of records to show per page </li>
                        </ul>
                    </li>
                    <li>
                        Skinning
                        <ul>
                            <li>Skinning is the ability to put any look and feel to the application without changing the underpinnings of the application code. </li>
                            <li>Skins can be applied on the fly </li>
                            <li>Skins are setup on a per Security Entity basis, so when a Security Entity is selected the look an feel change to the Security Entitys skin. </li>
                            <li>Skins make an excellent visual queue making it easier to identify the Security Entity your working with </li>
                        </ul>
                    </li>
                    <li>
                        Quick development
                        <ul>
                            <li>When using the web application as a staring point the setup time should be less than a single day, after the setup time all efforts can be concentrated on the business logic at hand saving precious development time. </li>
                            <li>Applications starting with the Web Application start with a given level of <b>Q</b>uality <b>A</b>ssurance and behavior </li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>

