<form [formGroup]="frmProfile">
    <mat-grid-list cols="2" rowHeight="32px">
        <mat-grid-tile>
            <input type="time" id="startTime" name="startTime" min="09:00" max="18:00" step="900" formControlName="startTime" (change)="timeChanged$.next(0)">
            <button mat-raised-button color="primary" (click)="setToCurrentTime('startTime')">Now</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <input type="time" id="endTime" min="09:00" max="18:00" step="900" formControlName="endTime" (change)="timeChanged$.next(0)">
            <button mat-raised-button color="primary" (click)="setToCurrentTime('endTime')">Now</button>
        </mat-grid-tile>
    </mat-grid-list>
</form>