.custom-form-field {
    width: 50px;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: -1.25em;
  
    mat-datepicker-toggle {
        font-size: 12px;
    }
  
    input.mat-input-element {
        padding-bottom: 2px;
        font-size: 12px;
    }
  }