body
{
}
.toolbar
{
    font: 1em Arial, Helvetica, Verdana, sans-serif;
    text-align:left;
    padding: 3px;
    filter: 
    progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=lightblue);
}

.HierarchalMenuStyle
{
	background-color:#3F3F3F;
	border:1px;
	border-bottom-color:black;
	border-top-color:gray;
	border-left-color:gray;
	border-right-color:black;
	border-style:solid;
	white-space:nowrap
}
.HierarchalMenuItem
{
	font-family:verdana;
	font-size:10pt;
	padding:6px;
	padding-left:5px;
	padding-right:15px;
	border:1px;
	border-style:none;
	white-space:nowrap
}
.HierarchalMenuMouseup
{
	background-color:#3F3F3F;
	color:white;
	font-family:verdana;
	font-size:10pt;
	padding:2px;
	padding-left:5px;
	padding-right:15px;
	border:1px;
	border-color:#3F3F3F;
	border-style:solid;
	cursor:auto;
	cursor:hand;
	white-space:nowrap
}
.HierarchalMenuMouseover
{
	background-color:#3B5386;
	color:white;
	font-family:verdana;
	font-size:10pt;
	padding:2px;
	padding-left:5px;
	padding-right:15px;
	border:1px;
	border-color:#3F3F3F;
	border-left-color:#8A99BA;
	border-top-color:#8A99BA;
	border-right-color:black;
	border-bottom-color:black;
	border-style:ridge;
	cursor:auto;
	cursor:hand;
	white-space:nowrap
}
.HierarchalMenuMousedown
{
	background-color:#3B5386;
	color:white;
	font-family:verdana;
	font-size:10pt;
	padding:2px;
	padding-left:5px;
	padding-right:15px;
	border:1px;
	border-color:#3F3F3F;
	border-right-color:#8A99BA;
	border-bottom-color:#8A99BA;
	border-left-color:black;
	border-top-color:black;
	border-style:solid;
	cursor:auto;
	cursor:hand;
	white-space:nowrap
}