<?xml version="1.0"?><!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
    <add key="Append_To_File" value="true"/>
    <add key="Always_Left_Nav" value="False"/>
    <add key="App_Name" value="ApplicationBase"/>
    <add key="App_Displayed_Name" value="Application Base"/>
    <add key="Business_Unit_Translation" value="Business Unit"/>
    <add key="Base_Page" value=""/>
    <add key="Conversion_Pattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
    <add key="Default_Action" value="home"/>
    <add key="Expected_Up_By" value="Today by 10:00 am"/>
    <add key="Environment" value="Local"/>
    <add key="IS_Catalog" value="WebBasedDocuments"/>
    <add key="Page_Support" value="False"/>
    <add key="Server_Side_ViewState" value="True"/>
    <add key="Session_Method" value="NotInProc"/>
    <add key="Session_Time_Out" value="120"/>
    <add key="Under_Construction" value="false"/>
<!-- Environmental settings LOCAL-->
    <add key="LocalAuthentication_Type" value="internal"/>
    <add key="LocalBO_Server" value="b4"/>
    <add key="LocalBO_Authentication_Type" value="secEnterprise"/>
    <add key="LocalDAL" value="ApplicationBaseDALSQLServer"/>
    <add key="LocalDefault_Business_Unit_ID" value="1"/>
    <add key="LocalEnable_Encryption" value="True"/>
    <add key="LocalEnable_Cache" value="True" />
    <add key="LocalForce_HTTPS" value="false"/>
    <add key="LocalLDAP_Server" value="LDAP://ad.umassmed.edu"/>
    <add key="LocalLog_Path" value="C:\WebProjects\2005\ApplicationBase\ApplicationBase\Logs\"/>
    <add key="LocalLog_Priority" value="Debug"/>
    <add key="LocalApplicationBaseDALOracle" value="Data Source=MAUDEV.AD.UMASSMED.EDU;User Id=zb_user;Password=zb_user"/>
    <add key="LocalApplicationBaseDALSQLServer" value="server=(local);database=ApplicationBase;trusted_connection=true;"/>
    <add key="LocalSMTP_Server" value="edcentmail01.ad.umassmed.edu"/>
    <add key="LocalSMTP_From" value="notify@com"/>
    <add key="LocalUI_Skin_Path" value="C:\WebProjects\2005\ApplicationBase\ApplicationBase\UI\"/>
<!-- Environmental settings LOCAL-->
<!-- Added by Crystal/BO-->
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
<!-- Added by Crystal/BO-->
  </appSettings>
	  <connectionStrings>
      
    </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
<!--
				<add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.Desktop.Report, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
-->
      </assemblies>
		</compilation>
		<httpModules>
			<add name="ClientChoices" type="ApplicationBase.ClientChoices.ClientChoicesModule,ApplicationBase"/>
		</httpModules>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms loginUrl="~/Default.aspx"></forms>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
    <!-- 
      You will need to run the following in order to use
       SqlSessionStateStore as your data store
      Aspnet_regsql.exe -ssadd -E 
      This is located in the framework directory
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="120"></sessionState>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	  <httpHandlers>
<!--
       <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
-->
</httpHandlers>
  </system.web>
</configuration>