<mat-toolbar>
  <span>
    <button type="button" mat-button color="accent" id="btnNewFolder_{{configurationName}}" name="btnNewFolder_{{configurationName}}" (click)="onCreateDirectory()">
      <span color="white" class="material-icons">add</span>
      <span>New Folder</span>
    </button>
  </span>
  <span>
    <gw-lib-upload></gw-lib-upload>
  </span>
  <span>
    <button type="button" (click)="onRefresh()" mat-button color="accent" id="btnRefresh_{{configurationName}}" name="btnRefresh_{{configurationName}}">
      <span color="white" class="material-icons">refresh</span>
    </button>
  </span>
  <span class="spacer"></span>
  <span>
    <button type="button" mat-button color="accent" id="btnView_{{configurationName}}" name="btnView_{{configurationName}}">
      <span color="white" class="material-icons">grid_view</span>
    </button>
  </span>
  <span>
    <button type="button" (click)="onHelp()" mat-button color="accent" id="btnInfo_{{configurationName}}" name="btnInfo_{{configurationName}}">
      <span color="white" class="material-icons">info_outline</span>
    </button>
  </span>
</mat-toolbar>
<div class="table container">
  <div class="tr">
    <div class="td directories">
      <gw-lib-directory-tree></gw-lib-directory-tree>
    </div>
    <div class="td fileList">
      <ng-container *ngIf="(skin$ | async) as layout" [ngSwitch]="layout">
        <gw-lib-file-list numberOfColumns="5" *ngSwitchCase="'snake'"></gw-lib-file-list>
        <gw-lib-dynamic-table *ngSwitchCase="'snake'" configurationName="FileManagerTable"></gw-lib-dynamic-table>
        <div *ngSwitchDefault>
          <gw-lib-file-list numberOfColumns="5"></gw-lib-file-list>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #helpText>
  <div class="formSectionContents">
    <p>
      File manage uses "right click" context menu to manage files and folders.
    </p>
    <p>
      Foler:
    </p>
    <ul>
      <li>Select the desired folder by "left" clicking on the folder</li>
      <li>"Right" click on the selected folder to open the context menu</li>
    </ul>
    <p>
      File:
    </p>
    <ul>
      <li>"Right" click on the file to open the context menu</li>
    </ul>
  </div>
</ng-template>
<ng-template #createDirectory>
  <div class="formSection">
    <div class="formSectionContents">
      <form [formGroup]="frmCreateDirectory" (ngSubmit)="onCreateDirectorySubmit()">
        <div class="table">
          <div class="tr">
            <div class="td left">
              <span class="Form_LabelText">New name&nbsp;:</span>
            </div>
            <div class="td right">
              <input formControlName="newDirectoryName" class="Form_Field rounded" id="newDirectoryName" />&nbsp;
            </div>
            <div class="td">
              <span *ngIf="getControls['newDirectoryName'].hasError('required')" class="Form_LabelTextRed">{{getErrorMessage('newDirectoryName')}}</span>
            </div>
          </div>
          <div class="tr">
            <div class="td"></div>
            <div class="td right">
              <button type="submit" [disabled]="frmCreateDirectory.invalid" mat-button class="Form_Button" style="float: right;" color="primary">
                <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">save</i> Save
              </button>
            </div>
            <div class="td"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>