<div class="formSectionHeader" style="text-align: center;">
  Change password
</div>
<form [formGroup]="frmChangePassword" (ngSubmit)="onSubmit(frmChangePassword)" style="width: 150px;">
  <div class="table">
    <div class="tr" [style.visibility]="(hideOldPassword) ? 'hidden' : 'visible' ">
      <div class="td left">
        <span class="Form_LabelText">Old Password&nbsp;:</span>
      </div>
      <div class="td right">
        <input formControlName="oldPassword" type="password" class="Form_Field rounded" id="OldPassword" />&nbsp;
      </div>
      <div class="td">
        <span *ngIf="getControls['oldPassword'].invalid" class="Form_LabelTextRed">{{getErrorMessage('oldPassword')}}</span>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <span class="Form_LabelText">New Password&nbsp;:</span>
      </div>
      <div class="td">
        <input formControlName="newPassword" type="password" class="Form_Field rounded" id="NewPassword" #newPassword />&nbsp;
      </div>
      <div class="td">
        <span *ngIf="getControls['newPassword'].invalid" class="Form_LabelTextRed">{{getErrorMessage('newPassword')}}</span>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <span class="Form_LabelText">Confirm Password&nbsp;:</span>
      </div>
      <div class="td">
        <input formControlName="confirmPassword" type="password" class="Form_Field rounded" id="ConfirmPassword" />&nbsp;
      </div>
      <div class="td">
        <span *ngIf="getControls['confirmPassword'].hasError('required')" class="Form_LabelTextRed">{{getErrorMessage('confirmPassword')}}</span>
        <span *ngIf="getControls['confirmPassword'].hasError('mismatch')" class="Form_LabelTextRed">Password do not match.</span>
      </div>
    </div>
    <div class="tr">
      <div class="td"></div>
      <div class="td right">
        <button type="submit" [disabled]="frmChangePassword.invalid" mat-button class="Form_Button" color="primary">
          <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">save</i>Save
        </button>
      </div>
      <div class="td"></div>
    </div>
  </div>
</form>

