/* custom.css */

/* Replace the Swagger UI logo with your own image */
.swagger-ui .topbar img {
    content: url('../../favicon.ico');
    height: 24px;
    width: 24px;
    max-width: 200px; /* Set a maximum width for the logo */
}

