<!--
  Here is where I belive that we can add skinning of the application.
  1.) Make a call to clientchoices service to get the selected business unit
  2.) use the skin property for the business unit
  3.) set the skin as a public property
  use ngSwitch or ngIf to use show the seleted "skin" div
  This won't be as dynamic as earlier versions of growhware but it may
  work with the newer version of angular

-->
<body>
  <app-nav-menu></app-nav-menu>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #leftSidenav mode="side" opened="true">
      sidebar nav here
    </mat-sidenav>
    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
      <div class="main_content">
        <div style="padding: 20px">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  footer here
</body>
