<cdk-virtual-scroll-viewport itemSize="48" style="height: 500px;">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <!-- This is the tree node template for leaf nodes -->
    <!-- There is inline padding applied to this node using styles.
      This padding value depends on the mat-icon-button width. -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle
      (click)="onSelectDirectory(node)"
      (contextmenu)="onRightClick($event, { content: node })"
      [ngClass]="{ 'background-highlight': activeNode === node }">
        {{node.name}}
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node"
          (click)="onSelectDirectory(node)"
          (contextmenu)="onRightClick($event, { content: node })"
          [ngClass]="{ 'background-highlight': activeNode === node }">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </div>
        <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
            role="group">
          <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>
  </mat-tree>  
</cdk-virtual-scroll-viewport>

<!-- an hidden div is created to set the position of appearance of the menu-->
<div 
  style="visibility: hidden; position: fixed;"
  [style.left.px]="menuTopLeftPosition.x"
  [style.top.px]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu">
</div>

<!-- standar material menu -->
<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button *ngIf="showDelete" mat-menu-item (click)="onMenuDeleteClick(item.content)">Delete</button>
    <button *ngIf="showRename" mat-menu-item (click)="onMenuRenameClick(item.content)">Rename</button>
    <button mat-menu-item (click)="onMenuPropertiesClick(item.content)">Properties</button>
  </ng-template>
</mat-menu>

<ng-template #deleteDirectory>
  Are you sure you would like to delete<br>'{{selectedPath}}'<br>
  and all of the subdirectories and files?
</ng-template>

<ng-template #renameDirectory>

</ng-template>

<ng-template #directoryProperties>
  <div class="formSection">
    <div class="formSectionContents">
      <div class="table Form_Table" style="margin: auto; width: 98%">
        <div class="tr Form_LabelRow">
          <div class="td right"></div>
          <div class="td left"></div>
          <div class="td right"></div>
          <div class="td left"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>