<style>
    td {
        padding: 5px;
    }
</style>
<form id="frmAddEditFunctions">
    <div>
        <div class="Form_Message">&nbsp;{{vm.clientMessage}}</div>
        <div class="container container-full" id="tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="nav active"><a data-toggle="tab" data-target="#tabs-General">General</a></li>
                <li role="presentation"><a data-toggle="tab" data-target="#tabs-MenuOrder">Menu Order</a></li>
                <li role="presentation"><a data-toggle="tab" data-target="#tabs-Roles">Roles</a></li>
                <li role="presentation"><a data-toggle="tab" data-target="#tabs-Groups">Groups</a></li>
                <li role="presentation"><a data-toggle="tab" data-target="#tabs-DirectoryInformation">Directory Information</a></li>
                <li role="presentation"><a data-toggle="tab" data-target="#tabs-DerivedRoles">Derived Roles</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tabs-General">
                    <table border="0" style="width: 100%;" cellpadding="2">
                        <tr id="trID">
                            <td align="right">
                                <span class="Form_LabelText">ID:</span>
                            </td>
                            <td style="width: 0px;">
                                &nbsp;
                            </td>
                            <td align="left">
                                <div id="divFunctionSeqId">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <span class="Form_LabelText">Name:</span>
                            </td>
                            <td style="width: 0px;" valign="top">
                                &nbsp;
                            </td>
                            <td align="left">
                                <input type="text" id="txtName" data-ng-model="vm.profile.Name" class="rounded" style="width: 322px;" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <span class="Form_LabelText">Description: </span>
                            </td>
                            <td style="width: 0px;" valign="top">
                                &nbsp;
                            </td>
                            <td align="left">
                                <!-- todo add max length -->
                                <input type="text" class="rounded" id="txtDescription" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <span class="Form_LabelText">Notes: </span>
                            </td>
                            <td style="width: 0px;" valign="top">
                                &nbsp;
                            </td>
                            <td align="left">
                                <input type="text" ID="txtNotes" MaxLength="255" onKeyPress="return GW.Common.Validation.textboxMultilineMaxNumber(this,255)" class="rounded" Height="40px" TextMode="MultiLine" Width="500px" Columns="100" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <span class="Form_LabelText">Key Words: </span>
                            </td>
                            <td style="width: 0px;" valign="top">
                                &nbsp;
                            </td>
                            <td align="left">
                                <input type="text" ID="txtKeyWords" MaxLength="255" onKeyPress="return GW.Common.Validation.textboxMultilineMaxNumber(this,512)" class="rounded" Height="40px" TextMode="MultiLine" Width="500px" Columns="100" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <span class="Form_LabelText">Action:</span>
                            </td>
                            <td style="width: 0px;" valign="top">
                                <img onclick="GW.Common.showHelpMSG(document.getElementById('helpActions').innerHTML,'Action Help')" style="border: 0px;" src="Content/GrowthWare/Images/help.gif" alt="&nbsp;Help about actions&nbsp;" />
                            </td>
                            <td align="left">
                                <div id="divAction">
                                </div>
                                <input ID="txtAction" MaxLength="255" class="rounded" Height="20px" Width="500px" Columns="100" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <span class="Form_LabelText">Type: </span>
                            </td>
                            <td style="width: 0px;" valign="top">
                                &nbsp;
                            </td>
                            <td align="left">
                                <select ID="dropFunctionType" class="rounded"></select>
                            </td>
                        </tr>
                        <tr id="trSource">
                            <td align="right" valign="top">
                                <span class="Form_LabelText">Source: </span>
                            </td>
                            <td style="width: 0px;" valign="top">
                                <img onclick="GW.Common.showHelpMSG(document.getElementById('helpSource').innerHTML,'Source Help')" style="border: 0px;" src="Content/GrowthWare/Images/help.gif" alt="&nbsp;Help about source&nbsp;" />
                            </td>
                            <td align="left">
                                <input ID="txtSource" MaxLength="512" class="rounded" Width="500px" Columns="100" />
                            </td>
                        </tr>
                        <tr id="trController">
                            <td align="right" valign="top">
                                <span class="Form_LabelText">Controller: </span>
                            </td>
                            <td style="width: 0px;" valign="top">
                                <img onclick="GW.Common.showHelpMSG(document.getElementById('helpController').innerHTML,'Controller Help')" style="border: 0px;" src="Content/GrowthWare/Images/help.gif" alt="&nbsp;Help about controller&nbsp;" />
                            </td>
                            <td align="left">
                                <asp:TextBox ID="txtController" MaxLength="512" class="rounded" Width="500px" Columns="100" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table style="width: 100%">
                                    <input type="checkbox" ID="chkEnableViewState" Text="Enable ViewState" />
                                    <input type="checkbox" ID="chkEnableNotifications" Text="Enable Notifications" />
                                    <input type="checkbox" ID="chkRedirectOnTimeout" Text="Redirect on Session Timeout" />
                                    <input type="checkbox" ID="chkNoUI" Text="No UI" />
                                    <input type="checkbox" ID="chkIsNav" Text="Is Nav" />
                                </table>
                            </td>
                        </tr>
                        <tr id="trParent">
                            <td colspan="3">
                                <table border="0" style="width: 100%;">
                                    <span class="Form_LabelText">Nav type: </span>
                                    <asp:DropDownList ID="dropNavType" class="rounded">
                                    </asp:DropDownList>
                                    &nbsp;
                                    <span class="Form_LabelText">Parent: </span>
                                    <asp:DropDownList ID="dropNavParent" class="rounded">
                                        <asp:ListItem Text="None" Value="0" />
                                    </asp:DropDownList>
                                    &nbsp;
                                    <span class="Form_LabelText">Link Behavior: </span>
                                    <asp:DropDownList ID="dropLinkBehavior" class="rounded">
                                        <asp:ListItem Text="None" Value="0" />
                                    </asp:DropDownList>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div id="helpActions" style="display: none">
                        Note: Action should not have any special charactors.<br />
                        Once an action has been entered it can not be changed other than by direct access to the data store.<br />
                    </div>
                    <div id="helpSource" style="display: none">
                        Note: If specifing a page use the forward slash Ex:&nbsp; /pages/common/mypage.aspx.<br />
                    </div>
                    <div id="helpController" style="display: none">
                        Note: Used for AngularJs implementations.<br />
                    </div>

                </div>
                <div class="tab-pane fade" id="tabs-MenuOrder">
                    <p>
                        tabs-MenuOrder
                    </p>
                </div>
                <div class="tab-pane fade" id="tabs-Roles">
                    <p>
                        <gw-picklist size="200" rows="10" id="ctlRoles" data-ng-model="vm.profile.AccountRoles.Roles" selected-items="vm.profile.AccountRoles.Roles" available-items="vm.roles" all-items-text="All - Roles" selected-items-text="Selected Roles" picklist-table-help="Assign roles" header="Roles" sort-on-index="0" sort-on-change="true"></gw-picklist>
                    </p>
                </div>
                <div class="tab-pane fade" id="tabs-Groups">
                    <p>
                        <gw-picklist size="200" rows="10" id="ctlGroups" data-ng-model="vm.profile.AccountGroups.Groups" selected-items="vm.profile.AccountGroups.Groups" available-items="vm.groups" all-items-text="All - Groups" selected-items-text="Selected Groups" picklist-table-help="Assign Groups" header="Groups" sort-on-index="0" sort-on-change="true"></gw-picklist>
                    </p>
                </div>
                <div class="tab-pane fade" id="tabs-DirectoryInformation">
                    <p>
                        tabs-DirectoryInformation
                    </p>
                </div>
                <div class="tab-pane fade" id="tabs-DerivedRoles">
                    <p>
                        <gw-derived-roles size="200" rows="10" available-items="vm.profile.DerivedRoles" all-items-text="" picklist-table-help="Derived roles are calculated by combining roles that are directly assigned through Roles or indirectly assigned through Groups." header="Derived Roles"></gw-derived-roles>
                    </p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary" id="btnSave" data-ng-click="save()">
                        <span class="bootstrap-dialog-button-icon glyphicon glyphicon-save"></span>Save
                    </button>
                    <button class="btn btn-primary disabled" id="btnDelete" data-ng-show="vm.securityInfo.MayDelete" disabled="vm.securityInfo.MayDelete">
                        <span class="bootstrap-dialog-button-icon glyphicon glyphicon-remove"></span>Delete
                    </button>
                    <button class="btn btn-primary" id="btnCancel" data-ng-click="cancelEdit()">
                        <span class="bootstrap-dialog-button-icon glyphicon glyphicon-thumbs-down"></span>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
