.containerSize {
	max-height: calc(625px - 125px);
	min-height: calc(625px - 125px);
	max-width: calc(850px - 50px);  
	min-width: calc(850px - 50px);  
}

textarea {
    width: 500px;
}

.lineCount {
    overflow-y: scroll;
    height: 300px;
    width: 800px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}