.header {
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 60px;
}

.header__left {
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    background: #525252;
    display: inline-block;
    width: 266.5px;
}

.header__center {
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    background: #ebebeb;
    display: inline-block;
}

.header__center__menu {
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    display: inline-block;
    width: 95%;
}

.header__right {
    padding: 0px;
    margin: 0px;
    padding-right: 10px;
    background: #ebebeb;
    display: inline-block;
}

#logo {
    position: relative;
}

#logo a {
    color: #fff;
    cursor: pointer;
    font-family: 'Righteous', cursive;
    display: block;
    font-size: 20px;
    line-height: 50px;
    background: url('/assets/arc/images/logo.png') right 42px no-repeat;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#logo a:hover {
    background-position: right 25px;
    text-decoration: none;
}
