.header {
    padding: 0px;
    margin: 0px;
    background: #ebebeb;
}

.header__left {
    padding: 0px;
    margin: 0px;
    background: #525252;
}


#logo {
    position: relative;
}

#logo a {
    color: #fff;
    cursor: pointer;
    font-family: 'Righteous', cursive;
    display: block;
    font-size: 20px;
    line-height: 50px;
    background: url('/assets/arc/images/logo.png') right 42px no-repeat;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#logo a:hover {
    background-position: right 25px;
    text-decoration: none;
}