.drawer-sidenav {
    padding: 0px; 
    margin: 0px;
    // background-image: url('/assets/arc/images/menubg.gif');
    background-image: url('/assets/arc/images/thick_gray_line.gif');
}

/* Search */

.Search {font-family: Verdana, Arial, San-Serif; font-size: 10px; color: #000000;}
.Search a {color: #990000; text-decoration: none; font-size: 10px; font-weight: bold;}
.Search a:hover {color: #990000; text-decoration: underline; font-size: 10px; font-weight: bold;}
.Search_ListTable {border: none;}
.Search_ListItem {background-color:#dddddd;}
.Search_ListItem2 {background-color:#FFFFFF;}
.Search_ListAlternatingItem {border-top: thick dashed #cccccc 1px; background-color:#EEEEEE;}
.Search_ListAlternatingItem2 {background-color:#CCCCFF;}
.Search_ListTitle {font-size: 12px; font-weight: bold; font-variant: small-caps;}
.Search_ListTitleLink {color: #3366CC; text-decoration: none; font-size: 12px; font-weight: normal;}
.Search_ListAuthorLink {color: #3366CC; text-decoration: none; font-size: 12px; font-weight: normal;}
.Search_ListDateCreated {font-size: 12px;}
.Search_ListBriefDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.Search_NoResults {font-family: verdana, arial, helvetica; font-size: 12px; color: #CC0000;}


/* Form */

.Form_Title {font-weight: bold; font-size: 17px; font-variant: small-caps;}
.Form_Description {font-size: 12px;}
.Form_Table {background-color: #DADFCB; border: thick solid #000000 1px;}
.Form_LabelRow {font-size: 10pt;}
.Form_LabelCell {font-size: 10pt;}
.Form_LabelText {font-size: 10pt; font-variant: small-caps;}
.Form_FieldRow {font-size: 12px;}
.Form_FieldCell {font-size: 12px;}
.Form_Field {font-size: 11px;}
.Form_SectionRow {color: white;background-color: #807C4F;}
.Form_SectionCell {font-size: 12pt;}
.Form_SectionText {font-weight: bold;}
.Form_Button {font-size: 12px;}
.Form_HelpText {font-size: 8pt;}
.Form_SubSectionRow {font-size: 13px;}
.Form_SubSectionCell {font-size: 13px;}
.Form_SubSectionText {font-size: 13px;}
.Form_List {font-size: 12px;}
.Form_Message {font-size: 12px; color: #CC0000}