<form [formGroup]="frmSelectPreferences" (ngSubmit)="onSubmit()" class="containerSize" novalidate>
  <mat-tab-group mat-align-tabs="center" style="padding-bottom: 0px">
    <mat-tab label="Select Your Preferences">
      <div class="mat-tab__container formSection">
        <div class="mat-tab__content formSectionContents">
          <mat-radio-group aria-labelledby="colorSchemGroupLabel" formControlName="selectedColorScheme">
            <table class="table" style="padding: 5px">
              <caption>
                <label id="colorSchemGroupLabel">Pick your favorite color scheme</label>
              </caption>
              <thead>
                <tr>
                  <th class="rotated-th" style="width: 100px;">
                    <div>
                      <span  class="rotated-th__label">
                        Color Scheme
                      </span>
                    </div>
                  </th> 
                  @for (column of colorSchemeColumns; track column.propertyName; let colorSchemeColumnsIndex = $index) {
                    @if (colorSchemeColumnsIndex !== 0) {
                  <th class="rotated-th" style="width: 100px;">
                    <div>
                      <span  class="rotated-th__label">
                        {{column.displayedName}}
                      </span>
                    </div>
                  </th>                        
                    }
                  }
                </tr>
              </thead>
              <tbody>
                @for (row of validColorSchemes; track row; let colorSchemIndex = $index) {
                <tr>
                  <td>
                    <mat-radio-button [value]="row.color_Scheme">
                      <div style="display: inline-block; width: 50px;">{{row.color_Scheme}} </div>
                    </mat-radio-button>
                  </td>
                  @for (column of colorSchemeColumns; track column.propertyName; let colorSchemeColumnsIndex = $index) {
                    @if (colorSchemeColumnsIndex !== 0) {
                    <td>                      
                      <div [ngStyle]="{'background-color': getValue(row, column)}" style="height: 2opx; width: 20px;">&nbsp;</div>
                    </td>
                    }
                  }
                </tr>
                }
              </tbody>
            </table>
            <div class="tr">
              <div class="td">
                <div class="table" style="padding: 5px">
                  <div class="tr">
                    <div class="td left">
                      <span class="Form_LabelText">Favorite Link: </span>
                    </div>
                    <div class="td left">
                      <mat-select id="dropFavoriteLink" [(value)]="selectedAction" class="Form_Field selectRounded"
                        style="width: 300px;">
                        @for (item of validLinks; track item) {
                        <mat-option [value]="item.action" class="multiline-mat-option.mat-option">
                          {{item.title}}
                        </mat-option>
                        }
                      </mat-select>
                    </div>
                  </div>
                  <div class="tr">
                    <div class="td left">
                      <span class="Form_LabelText">Prefered records per page: </span>
                    </div>
                    <div class="td left">
                      <input matInput type="number" id="txtRecordsPerPage" name="txtRecordsPerPage"
                        formControlName="recordsPerPage" class="Form_Field rounded" style="height:auto;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="buttonRow">
    <button type="submit" [disabled]="frmSelectPreferences.invalid" mat-button class="Form_Button" color="primary">
      <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">save</i>Save
    </button>
  </div>
</form>