li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grid-list__ul {
  position: absolute;
  left: 295px;
  margin-top: 0;
  list-style-type: none;
  display: grid;
  gap: .5rem;
}

.bold {
  font-weight: bold;
}

.background-highlight {
  background-color: #CCE8FF;
}