<div class="selection-controls">
  <!-- Select/Unselect All Checkbox -->
  <div class="select-all">
    <label class="checkbox-label" style="width: 100px;"> <!-- set the width to keep the UI from shifting -->
      <input type="checkbox" [checked]="allSelected" (change)="onToggleSelectAll($event)" class="select-all-checkbox" aria-label="Select or unselect all files" />
      {{selectUnselectText}} All
    </label>
  </div>

  <!-- Delete Selected Button -->
  <div class="delete-button">
    <button type="button" [disabled]="!anySelected" (click)="onDeleteSelected()" mat-button class="delete-button" color="warn" aria-label="Delete selected files">
      <i style="padding-right: 3px" class="Form_Button_Icon material-icons">delete</i>Delete Selected
    </button>
  </div>

  <!-- Sorting Dropdown -->
  <div class="sorting-dropdown">
    <mat-form-field appearance="outline" dense>
      <mat-label>Select sorting option</mat-label>
      <mat-select [(value)]="selectedSortOption" (selectionChange)="onSortChange($event.value)" aria-label="Sort files by">
        <mat-option value="" disabled>Select an option</mat-option>
        <mat-option value="name-asc">Name (A-Z)</mat-option>
        <mat-option value="name-desc">Name (Z-A)</mat-option>
        <mat-option value="date-asc">Date Created (Oldest to Newest)</mat-option>
        <mat-option value="date-desc">Date Created (Newest to Oldest)</mat-option>
        <mat-option value="size-asc">Size (Smallest to Largest)</mat-option>
        <mat-option value="size-desc">Size (Largest to Smallest)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Filtering Input -->
  <div class="filter-input">
    <mat-form-field appearance="outline" dense>
      <mat-label>Search files...</mat-label>
      <input matInput type="text" [(ngModel)]="filterTerm" (input)="onFilterChange($event)" aria-label="Search files">
      <button mat-icon-button matSuffix (click)="filterTerm = ''; onFilterChange($event)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<!-- Grid List -->
<ul class="grid-list__ul" [ngStyle]="getTemplateColumnsStyle()">
  @for (item of data$(); track item.fullName; let rowIndex = $index) {
    @if (item.visible) {
      <li (click)="item.selected = !item.selected; onLeftClick(item)" (contextmenu)="onRightClick($event, item)" [ngClass]="{ 'background-highlight': selectedFile === item }">
        <input type="checkbox" [(ngModel)]="item.selected" />
        <i style="padding-right: 3px" class="Form_Button_Icon material-icons">text_snippet</i>{{ item.shortFileName }}
      </li>
    }
  }
</ul>

<!-- an hidden div is created to set the position of appearance of the menu-->
<div
  style="visibility: hidden; position: fixed;"
  [style.left.px]="menuTopLeftPosition.x"
  [style.top.px]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu">
</div>

<!-- standar material menu -->
<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    @if (showDelete) {
      <button mat-menu-item (click)="onMenuDeleteClick(item)">Delete</button>
    }
    @if (showDownload) {
      <button mat-menu-item (click)="onMenuDownloadClick(item)">Download</button>
    }
    @if (showRename) {
      <button mat-menu-item (click)="onMenuRenameClick(item)">Rename</button>
    }
    <button mat-menu-item (click)="onMenuPropertiesClick(item)">Properties</button>
  </ng-template>
</mat-menu>

<ng-template #deleteFile>
  <div style="width: 100%;">
    Are you sure you would like to delete<br>'{{selectedFile.name}}'?
  </div>
</ng-template>

<ng-template #deleteSelected>
  <div style="width: 100%;">
    Are you sure you would like to delete all of the selected files?
  </div>
</ng-template>

<ng-template #renameFile>
  <form [formGroup]="frmRenameFile" (ngSubmit)="onRenameSubmit(frmRenameFile)" style="width: 95%;">
    <div class="div__tab-container formSection">
      <div class="mat-tab__content formSectionContents" style="width: 95%;">
        <div class="table">
          <div class="tr">
            <div class="td left">
              <span class="Form_LabelText">New name&nbsp;:</span>
            </div>
            <div class="td right">
              <textarea matInput id="txtDescription" formControlName="newFileName" #description class="rounded" TextMode="MultiLine" Rows="3" style="width: 95%"></textarea>
            </div>
            <div class="td">
              @if (getControls['newFileName'].hasError('required')) {
                <span class="Form_LabelTextRed">{{getErrorMessage('newFileName')}}</span>
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="buttonRow">
      <button type="submit" [disabled]="frmRenameFile.invalid" mat-button class="Form_Button" color="primary">
        <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">save</i>Save
      </button>
    </div>
  </form>
</ng-template>

<ng-template #fileProperties>
  <div class="formSection">
    <div class="formSectionContents">
      <div class="table Form_Table" style="margin: auto; width: 98%">
        <div class="tr Form_LabelRow">
          <div class="td right"><span class="Form_LabelText">Name:</span></div>
          <div class="td left"><span class="Form_FieldCell bold">{{selectedFile.name}}</span></div>
          <div class="td right"><span class="Form_LabelText">Size:</span></div>
          <div class="td left"><span class="Form_FieldCell bold">{{selectedFile.size}}</span></div>
        </div>
        <div class="tr Form_LabelRow">
          <div class="td right"><span class="Form_LabelText">Created:</span></div>
          <div class="td left"><div class="td left"><span class="Form_FieldCell bold">{{selectedFile.createdShort}}</span></div></div>
          <div class="td right"><span class="Form_LabelText">Modified:</span></div>
          <div class="td left"><span class="Form_FieldCell bold">{{selectedFile.modifiedShort}}</span></div>
        </div>
        <div class="tr">
          <div class="td right"></div>
          <div class="td left"></div>
          <div class="td right"></div>
          <div class="td left"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>