<ul class="grid-list__ul" [ngStyle]="getTemplateColumnsStyle()">
  @for (item of data$ | async; track item; let rowIndex = $index) {
    <li (click)="onLeftClick(item)" (contextmenu)="onRightClick($event, item)" [ngClass]="{ 'background-highlight': selectedFile === item }">
      <i style="padding-right: 3px" class="Form_Button_Icon material-icons">text_snippet</i>{{ item.shortFileName }}
    </li>
  }
</ul>

<!-- an hidden div is created to set the position of appearance of the menu-->
<div
  style="visibility: hidden; position: fixed;"
  [style.left.px]="menuTopLeftPosition.x"
  [style.top.px]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu">
</div>

<!-- standar material menu -->
<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    @if (showDelete) {
      <button mat-menu-item (click)="onMenuDeleteClick(item)">Delete</button>
    }
    @if (showDownload) {
      <button mat-menu-item (click)="onMenuDownloadClick(item)">Download</button>
    }
    @if (showRename) {
      <button mat-menu-item (click)="onMenuRenameClick(item)">Rename</button>
    }
    <button mat-menu-item (click)="onMenuPropertiesClick(item)">Properties</button>
  </ng-template>
</mat-menu>

<ng-template #deleteFile>
  <div style="width: 100%;">
    Are you sure you would like to delete<br>'{{selectedFile.name}}'?
  </div>
</ng-template>

<ng-template #renameFile>
  <form [formGroup]="frmRenameFile" (ngSubmit)="onRenameSubmit(frmRenameFile)" style="width: 95%;">
    <div class="mat-tab__container formSection">
      <div class="mat-tab__content formSectionContents" style="width: 95%;">
        <div class="table">
          <div class="tr">
            <div class="td left">
              <span class="Form_LabelText">New name&nbsp;:</span>
            </div>
            <div class="td right">
              <textarea matInput id="txtDescription" formControlName="newFileName" #description class="rounded" TextMode="MultiLine" Rows="3" style="width: 95%"></textarea>
            </div>
            <div class="td">
              @if (getControls['newFileName'].hasError('required')) {
                <span class="Form_LabelTextRed">{{getErrorMessage('newFileName')}}</span>
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="buttonRow">
      <button type="submit" [disabled]="frmRenameFile.invalid" mat-button class="Form_Button" color="primary">
        <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">save</i>Save
      </button>
    </div>
  </form>
</ng-template>

<ng-template #fileProperties>
  <div class="formSection">
    <div class="formSectionContents">
      <div class="table Form_Table" style="margin: auto; width: 98%">
        <div class="tr Form_LabelRow">
          <div class="td right"><span class="Form_LabelText">Name:</span></div>
          <div class="td left"><span class="Form_FieldCell bold">{{selectedFile.name}}</span></div>
          <div class="td right"><span class="Form_LabelText">Size:</span></div>
          <div class="td left"><span class="Form_FieldCell bold">{{selectedFile.size}}</span></div>
        </div>
        <div class="tr Form_LabelRow">
          <div class="td right"><span class="Form_LabelText">Created:</span></div>
          <div class="td left"><div class="td left"><span class="Form_FieldCell bold">{{selectedFile.createdShort}}</span></div></div>
          <div class="td right"><span class="Form_LabelText">Modified:</span></div>
          <div class="td left"><span class="Form_FieldCell bold">{{selectedFile.modifiedShort}}</span></div>
        </div>
        <div class="tr">
          <div class="td right"></div>
          <div class="td left"></div>
          <div class="td right"></div>
          <div class="td left"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>