<div class="table">
    <div class="tr">
        <div class="td" style="border: solid 1px;">
            <table mat-table [dataSource]="dataTableSource" style="width: 400px;">
                <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
                <!-- col1 Column -->
                <ng-container matColumnDef="col1">
                    <th mat-header-cell *matHeaderCellDef style="width: 200px;"> COL1 </th>
                    <td mat-cell *matCellDef="let element" style="width: 200px;"> {{element.col1}} </td>
                </ng-container>
            
                <!-- coL2 Column -->
                <ng-container matColumnDef="col2">
                    <th mat-header-cell *matHeaderCellDef> COL2 </th>
                    <td mat-cell *matCellDef="let element"> {{element.col2}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="td" style="border: solid 1px;">
            <table mat-table [dataSource]="dataViewSource">
                <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
                <!-- col1 Column -->
                <ng-container matColumnDef="col1">
                    <th mat-header-cell *matHeaderCellDef style="width: 200px;"> COL1 </th>
                    <td mat-cell *matCellDef="let element" style="width: 200px;"> {{element.col1}} </td>
                </ng-container>
            
                <!-- coL2 Column -->
                <ng-container matColumnDef="col2">
                    <th mat-header-cell *matHeaderCellDef> COL2 </th>
                    <td mat-cell *matCellDef="let element"> {{element.col2}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>            
        </div>
    </div>
</div>
