@if (totalPages > 0) {
  <div style="display: flex; flex-grow: 0 1 0; margin: 5px;">
    <div>
      <button [disabled]="selectedPage === '1'" id="moveFirst_{{name()}}" name="moveFirst_{{name()}}" (click)="onPageChange('first')" title="First" style="margin: 5px;"><<</button>
      <button [disabled]="selectedPage === '1'" id="movePrevious_{{name()}}" name="movePrevious_{{name()}}" (click)="onPageChange('previous')" title="Previous" style="margin: 5px;"><</button>
    </div>
    <div style="margin: 5px;">
      <select id="selectPage_{{name()}}" name="selectPage_{{name()}}" (change)="onGoToPageClick()" [(ngModel)]="selectedPage">
        @for (item of pages; track item) {
          <option value="{{item}}">{{item}}</option>
        }
      </select>&nbsp;of&nbsp;{{totalPages}}
    </div>
    <div>
      <button [disabled]="selectedPage === totalPages.toString()" id="moveNext_{{name()}}" name="moveNext_{{name()}}" (click)="onPageChange('next')" title="Next" style="margin: 5px;">></button>
      <button [disabled]="selectedPage === totalPages.toString()" id="moveLast_{{name()}}" name="moveLast_{{name()}}" (click)="onPageChange('last')" title="Last" style="margin: 5px;">>></button>
    </div>
  </div>
}
