// Define the widths for the sections
$directory-tree-width: 300px;
$file-list-width: 875px;

// Calculate content width dynamically based on the above variables
$content-width: calc(#{$directory-tree-width} - 64px + #{$file-list-width});

.file-manager {
    display: flex;
    flex-direction: column;
    height: 100vh;
  
    .toolbar {
      background-color: #f5f5f5;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .main-section {
      display: flex;
      flex-grow: 1;
      background-color: #fff;
  
      .left-pane {
        width: 300px;
        height: 100%;
        // min-width: 300px;
        min-width: 0px;  // Allow collapsing fully
        // background-color: #e9ecef;
        padding: 10px;
        overflow-y: auto;
      }
  
      .divider {
        width: 5px;
        cursor: ew-resize;
        background-color: #ccc;
        user-select: none;
      }
  
      .right-pane {
        flex-grow: 1;
        padding: 10px;
        overflow-y: auto;
      }

    //   .right-pane {
    //     flex-grow: 1;
    //     min-width: 0;
    //     overflow-x: auto; // Enable horizontal scrollbar when needed
    //     overflow-y: hidden; // Adjust as necessary
    //   }

    }
  }
