<form id="frmChangePassword" data-ng-submit="changePassword()" data-ng-controller="ChangePasswordController">
    <div class="Form_Message">&nbsp;{{vm.clientMessage}}</div>
    <div>
        <table border="0" cellpadding="3" cellspacing="3" style="font: 8pt verdana, arial;">
            <tr id="trOldPassword" data-ng-show="vm.accountProfile.Status != 4">
                <td align="right" valign="top">
                    <span class="Form_LabelText">Old Password&nbsp;:</span>
                </td>
                <td align="left">
                    <input type="password" class="rounded" id="OldPassword" data-ng-model="vm.passwordProfile.OldPassword" />
                </td>
            </tr>
            <tr><td></td><td>&nbsp;</td></tr>
            <tr>
                <td align="right" valign="top">
                    <span class="Form_LabelText">New Password&nbsp;:</span>
                </td>
                <td align="left">
                    <input type="password" class="rounded" id="NewPassword" data-ng-model="vm.passwordProfile.NewPassword" />
                </td>
            </tr>
            <tr><td></td><td>&nbsp;</td></tr>
            <tr>
                <td align="right" valign="top">
                    <span class="Form_LabelText">Confirm Password&nbsp;:</span>
                </td>
                <td align="left">
                    <input type="password" class="rounded" id="ConfirmPassword" data-ng-model="vm.confirmPassword" />
                </td>
            </tr>
            <tr><td></td><td>&nbsp;</td></tr>
            <tr>
                <td colspan="2" align="left">
                    <input type="submit" id="btnChangePassword" data-ng-disabled="vm.IsPageBusy" class="btn btn-primary" value="Change Password" />
                </td>
            </tr>
            <tr id="trNormalChange" data-ng-show="vm.accountProfile.Status != 4">
                <td colspan="2" align="left">
                    <b>Please Note:</b>
                    <ul>
                        <li>All fields are required </li>
                        <li>"Old password" can not match new password </li>
                        <li>"New Password" and "Confirm Password" must match </li>
                    </ul>
                </td>
            </tr>
            <tr id="trForceChange" data-ng-show="vm.accountProfile.Status == 4">
                <td colspan="2" align="left">
                    <b>Please Note:</b>
                    <ul>
                        <li>All fields are required </li>
                        <li>"New Password" and "Confirm Password" must match </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</form>
