<form name="frmLogon" id="frmLogon" ng-submit="vm.logon()" role="form">
    <div style="height: 26px;">
        <div id="clientMessage" style="display: none;" class="Form_Message">asdf</div>
        <div id="incorrectLogon" style="display: none;"></div>
    </div>
    <div id="LogonPage">
        <div id="LogonData">
            <div style="text-align: right; width: 80px; float: left;">Account:&nbsp;&nbsp;</div><input type="text" class="Form_Field rounded" id="Account" ng-model="vm.logonInfo.Account" />
            <br /><br />
            <div style="text-align: right; width: 80px; float: left;">Password:&nbsp;&nbsp;</div><input type="{{vm.passwordType}}" ng-model="vm.logonInfo.Password" class="Form_Field rounded" id="Password" />
            <label for="chkShowPassword">
                <input type="checkbox" id="chkShowPassword" data-ng-click="vm.showHidePassword()" />
                Show password
            </label>
        </div>
        <br />
        <div style="text-align: right; width: 80px; float: left;">&nbsp;</div><input type="submit" class="btn btn-primary" id="btnLogon" value="Logon" />&nbsp;<input type="button" id="btnRequestChange" style="display: none" onclick="javascript: requestChange();" value="Change Password" />
        <br />
        <!--<uc:OpenAuthProviders runat="server" ID="OpenAuthLogin" />-->
    </div>
</form>
