<div>
  <div>
    <input type="button" (click)="setCurrentMonth()" value="today" />
    <input type="button" (click)="decreaseMonth()" value="-" />
    <input type="button" (click)="increaseMonth()" value="+" />
  </div>
</div>
<table class='calendar-table' *ngIf="calendar">
  <thead>
    <tr style="text-align: center; width: 100%">
      <td colspan="7">
        <h1 style="text-align: center; width: 100%">{{displayMonth}}</h1>
      </td>
    </tr>
    <tr>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let week of calendar; let weekIndex = index">
      <td *ngFor="let day of week | keyvalue; let propertyIndex = index" class="calendar-day-header">
          <gw-DayOfWeek [day]=day></gw-DayOfWeek>
      </td>
  </tr>
  </tbody>
</table>