<mat-toolbar color="primary">
  <button style="outline: none;" mat-icon-button (click)="sidenav().toggle();">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer">
    <button (click)="onLogoClick()" class="button__link">{{applicationName}}</button>
  </span>
  <gw-core-horizontal name="horizontal" fontColor="white" />
  <span>Version {{version}}</span>
  <button mat-icon-button>
    <mat-icon>help_outline</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>person_outline</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    @if (!isAuthenticated) {
      <div>
        <button (click)="onLogin()" mat-menu-item>
          <mat-icon>login</mat-icon>
          <span>Sign in</span>
        </button>
      </div>
    }
    @if (isAuthenticated) {
      <div>
        <div style="border: solid 1px; width: 98%; vertical-align: middle; text-align: center; ">{{accountName}}</div>
        <a mat-menu-item [routerLink]="['/accounts/edit-my-account']">
          <mat-icon>settings</mat-icon><span>Edit Profile</span>
        </a>
        <a mat-menu-item [routerLink]="['/accounts/change-password']">
          <mat-icon>lock_reset</mat-icon><span>Change Password</span>
        </a>
        <a mat-menu-item [routerLink]="['/accounts/logout']">
          <mat-icon>logout</mat-icon><span>logout</span>
        </a>
      </div>
    }
  </mat-menu>
</mat-toolbar>
