/*****************************
  Default Style Elements
*****************************/

body { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; background-color:#FFFFFF;font-size:12px;}


a { color: #993300; text-decoration: none; font: 12px verdana;}
a:hover {text-decoration: underline;}

.Footer {font-family: verdana, arial, helvetica, sans-serif; font-size: 11px;}


/*********************************
  Standard Style Elements
  -----------------------
  The following style elements are defined for every theme. When 
  creating a new theme, you should copy these elements.
***********************************/

/* Section Menu */

.SectionMenu a {color: #000000; text-decoration: none; font-family: verdana, arial, helvetica, sans-serif; font-size: 12px;}
.SectionMenu a:hover {text-decoration: underline;}

.SectionMenu2 {font-family: arial, helvetica, sans-serif; font-size: 10px;}
.SectionMenu2 a {color: #000000; text-decoration: none;font-family: arial, helvetica, sans-serif; font-size: 10px;}
.SectionMenu2 a:hover {text-decoration: underline;}



/* Topic Menu */

.TopicMenu {white-space: nowrap;}
.TopicMenu a {color: #000000; text-decoration: none; font-family: arial, helvetica, sans-serif; font-size: 10px;}



/* BreadCrumb Navigation */

.BreadCrumb {font-family: verdana, arial, helvetica, sans-serif; color: #000000; font-size: 10px; }
.BreadCrumb a { color: #000000; text-decoration: none;font-size: 10px;}
.BreadCrumb a:hover {color: #000000; text-decoration: underline;}


/* UserLogin */

.UserLogin {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px;}
.UserLogin a {color: #000000; text-decoration: none; font-size: 12px;}
.UserLogin a:hover {color: #000000; text-decoration: underline;}



/* Search */

.Search {font-family: Verdana, Arial, San-Serif; font-size: 10px; color: #000000;}
.Search a {color: #990000; text-decoration: none; font-size: 10px; font-weight: bold;}
.Search a:hover {color: #990000; text-decoration: underline; font-size: 10px; font-weight: bold;}




/***************************
  Modules 
***************************/


/* Articles */

.ArticleSection_SectionTitle {font-weight: bold; font-size: 17px; font-variant: small-caps;}
.ArticleSection_SectionDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.ArticleSection_ListTable {border: thick solid #000000 1px;}
.ArticleSection_ListItem {background-color:#DADFCB; font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.ArticleSection_ListItem2 {background-color:#FFFFFF;}
.ArticleSection_ListAlternatingItem {background-color:#CCCCFF;}
.ArticleSection_ListAlternatingItem2 {background-color:#CCCCFF;}
.ArticleSection_ListTitle {font-weight: bold; font-size: 12px; font-variant: small-caps;}
.ArticleSection_ListAuthorLink {color: #993300; text-decoration: none; font-size: 12px; font-weight: normal;}
.ArticleSection_ListBriefDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.ArticleSection_ListReadMoreLink {color: #993300; text-decoration: none; font-size: 12px; font-weight: normal;}
.ArticleSection_NoArticles {font-family: verdana, arial, helvetica; font-size: 12px; color: #CC0000;}

.Article_Table {border-top: thick solid #000000 1px;}
.Article_IntroCell {background-color:#DADFCB;border-top: thick solid #807C4F 2px;} 
.Article_BodyCell {background-color:#FFFFFF;}
.Article_Title {font-weight: bold; font-size: 17px; font-variant: small-caps;}
.Article_AuthorLink {color: #993300; text-decoration: none; font-size: 12px; font-weight: normal;}
.Article_BriefDescription {font: 12px verdana; font-style: italic;}
.Article_FullDescription {font-size: 12px;color: #333333}


/* Books */

.BookSection_SectionTitle {font-weight: bold; font-size: 14px; font-variant: small-caps;}
.BookSection_SectionDescription {color: #666666; font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.BookSection_ListTable {border: thick solid #000000 1px;}
.BookSection_ListItem {background-color:#FFFFFF;}
.BookSection_ListItem2 {background-color:#DADFCB;}
.BookSection_ListAlternatingItem {background-color:#CCCCFF;}
.BookSection_ListAlternatingItem2 {background-color:#CCCCFF;}
.BookSection_ListLabel {font: 10pt verdana;}
.BookSection_ListTitle {font-weight: bold; font-size: 14px; font-variant: small-caps;}
.BookSection_ListAuthor {font-style: italic;}
.BookSection_ListPublisher {font-style: italic;}
.BookSection_ListPublicationDate {font-style: italic; }
.BookSection_ListBriefDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.BookSection_ListReadMoreLink {color: #993300; text-decoration: none; font-size: 14px;}
.BookSection_NoBooks {font-family: verdana, arial, helvetica; font-size: 12px; color: #CC0000;}

.Book_Table {border: thick solid #000000 1px;}
.Book_IntroCell {background-color:#FFFFFF;} 
.Book_BodyCell {background-color:#FFFFFF;}
.Book_Label {font-size: 12px;}
.Book_Title {font-weight: bold; font-size: 12px; font-variant: small-caps;}
.Book_Author {font: 12pt;} 
.Book_BriefDescription {font: 12px verdana; font-style: italic;}
.Book_FullDescription {font: 14px verdana;color: #333333}


/* Downloads */

.DownloadSection_SectionTitle {font-weight: bold; font-size: 17px; font-variant: small-caps;}
.DownloadSection_SectionDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.DownloadSection_ListTable {border: thick solid #807C4F 1px;}
.DownloadSection_ListItem {background-color:#FFFFFF;}
.DownloadSection_ListItem2 {background-color:#FFFFFF;}
.DownloadSection_ListAlternatingItem {background-color:#CCCCFF;}
.DownloadSection_ListAlternatingItem2 {background-color:#CCCCFF;}
.DownloadSection_ListTitle {font-weight: bold; font-size: 12px; font-variant: small-caps;}
.DownloadSection_ListAuthorLink {color: #993300; text-decoration: none; font-size: 12px; font-weight: normal;}
.DownloadSection_ListFileSize {font-family: Trebuchet, verdana, arial, helvetica; font-size: 10px; color="#CC0000"}
.DownloadSection_ListBriefDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.DownloadSection_ListReadMoreLink {color: #993300; text-decoration: none; font-size: 12px; font-weight: normal;}
.DownloadSection_ListDownloadLink {color: #993300; text-decoration: none; font-size: 12px; font-weight: normal;}
.DownloadSection_NoDownloads {font-family: verdana, arial, helvetica; font-size: 12px; color: #CC0000;}

.Download_Table {border: thick solid #000000 1px;}
.Download_IntroCell {background-color:#FFFFFF;} 
.Download_BodyCell {background-color:#FFFFFF;}
.Download_Label {font-size: 12px; font-weight: bold; font-variant: small-caps;}
.Download_Title {font-size: 12px;}
.Download_FileSize {font-size: 12px;}
.Download_BriefDescription {font-size: 12px;}
.Download_FullDescription {font-size: 12px;color: #333333}
.Download_AuthorLink {color: #993300; text-decoration: none; font-size: 12px; font-weight: normal;}
.Download_DownloadLink {color: #993300; text-decoration: none; font-size: 12px; font-weight: normal;}



/* Events */

.EventSection_SectionTitle {font-weight: bold; font-size: 17px; font-variant: small-caps;}
.EventSection_SectionDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.EventSection_ListTable {border: thick solid #000000 1px;}
.EventSection_ListItem {background-color:#DADFCB;}
.EventSection_ListItem2 {background-color:#FFFFFF;}
.EventSection_ListAlternatingItem {background-color:#CCCCFF;}
.EventSection_ListAlternatingItem2 {background-color:#CCCCFF;}
.EventSection_ListTitle {font-size: 12px; font-weight: bold; font-variant: small-caps;}
.EventSection_ListDate {font-size: 12px; font-weight: bold; font-variant: small-caps;}
.EventSection_ListBriefDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.EventSection_ListReadMoreLink {color: #993300; text-decoration: none; font-size: 12px;}
.EventSection_ListNotVisible {background-color:#CCCCFF;font-size: 12px; font-style: italic;}
.EventSection_NoBooks {font-family: verdana, arial, helvetica; font-size: 12px; color: #CC0000;}

.Event_Table {border: none;}
.Event_IntroCell {background-color:#FFFFFF;} 
.Event_BodyCell {background-color:#FFFFFF;}
.Event_Title {font-size: 12px; font-weight: bold; font-variant: small-caps;}
.Event_Date {font-size: 12px; font-weight: bold; font-variant: small-caps;}
.Event_BriefDescription {font: 12px verdana; font-style: italic;}
.Event_FullDescription {font: 12px verdana;color: #333333}


/* Links */

.LinkSection_SectionTitle {font-weight: bold; font-size: 17px; font-variant: small-caps;}
.LinkSection_SectionDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.LinkSection_ListTable {border: none;}
.LinkSection_ListItem {border-top: thick dashed #cccccc 1px; background-color:#FFFFFF;}
.LinkSection_ListItem2 {background-color:#CCCCFF;font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.LinkSection_ListAlternatingItem {border-top: thick dashed #cccccc 1px; background-color:#EEEEEE;}
.LinkSection_ListAlternatingItem2 {background-color:#CCCCFF;}
.LinkSection_ListTitle {font-size: 12px; font-weight: bold; font-variant: small-caps;}
.LinkSection_ListBriefDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.LinkSection_ListCommentLink {color: #3366CC; text-decoration: none; font-size: 12px; font-weight: normal;}
.LinkSection_NoLinks {font-family: verdana, arial, helvetica; font-size: 12px; color: #CC0000;}

.Link_Table {border: none;}
.Link_IntroCell {background-color:#FFFFFF;} 
.Link_BodyCell {background-color:#FFFFFF;}
.Link_Link {font-size: 12px; font-weight: bold; font-variant: small-caps;}
.Link_BriefDescription {font-size: 12px;}


/* Parent Section */

.ParentSection_SectionTitle {font-weight: bold; font-size: 17px; font-variant: small-caps;}
.ParentSection_SectionDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.ParentSection_ListTable {border: none;}
.ParentSection_ListItem {border-top: thick dashed #cccccc 1px; background-color:#FFFFFF;}
.ParentSection_ListItem2 {background-color:#CCCCFF;font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.ParentSection_ListAlternatingItem {border-top: thick dashed #cccccc 1px; background-color:#EEEEEE;}
.ParentSection_ListAlternatingItem2 {background-color:#CCCCFF;}
.ParentSection_ListTitleLink {color: #993300; text-decoration: none; font: 12px verdana;}
.ParentSection_ListBriefDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}


/* Photo Gallery */

.PhotoSection_SectionTitle {font-weight: bold; font-size: 17px; font-variant: small-caps;}
.PhotoSection_SectionDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.PhotoSection_SpacerCell {background-color: #807C4F;}
.PhotoSection_ListTable {border: none;}
.PhotoSection_ListItem {border-top: thick dashed #cccccc 1px; background-color:#FFFFFF;}
.PhotoSection_ListItem2 {background-color:#CCCCFF;font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.PhotoSection_ListAlternatingItem {border-top: thick dashed #cccccc 1px; background-color:#EEEEEE;}
.PhotoSection_ListAlternatingItem2 {background-color:#CCCCFF;}
.PhotoSection_ListTitle {font-size: 12px; font-weight: bold; font-variant: small-caps;}
.PhotoSection_ListBriefDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.PhotoSection_ListReadMoreLink {color: #993300; text-decoration: none; font-size: 12px; font-weight: normal;}
.PhotoSection_NoPhotos {font-family: verdana, arial, helvetica; font-size: 12px; color: #CC0000;}

.Photo_Table {border: thick solid #807C4F 2px;}
.Photo_IntroCell {background-color:#FFFFFF;} 
.Photo_BodyCell {background-color: DADFCB;}
.Photo_Title {font-size: 12px; font-weight: bold; font-variant: small-caps;}
.Photo_AuthorLink {color: #993300; text-decoration: none; font-size: 12px; font-weight: normal;}
.Photo_DateCreated {font-size: 12px;}
.Photo_BriefDescription {font: 12px verdana; font-style: italic;}
.Photo_FullDescription {font: 12px verdana;}



/* Discuss */
.discussTable 
{   
    border:1px black solid;
    background-color:black;
}

.discussTable td
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;


}

.discussTable th 
{
    height: 25px;
    padding: 3px;
    margin: 1px;
    background-color: #807C4F;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    font-weight:bold;
}


.discussTable a 
{
    color: navy;
    font-size: 11px;
    text-decoration:underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.discussCell  
{
    padding: 3px;
    margin: 1px;
    background-color: #cfd0c2;
}


.discussCellHilite  
{
    padding: 3px;
    background-color: #DADFCB;
}



/* Comments */

.Comments_ListTable {border: thick solid #000000 1px;}
.Comments_ListItem {background-color: #DADFCB;}
.Comments_ListItem2 {background-color:#DADFCB;}
.Comments_ListAlternatingItem {border-top: thick dashed #cccccc 1px; background-color:#EEEEEE;}
.Comments_ListAlternatingItem2 {background-color:#CCCCFF;}
.Comments_ListTitle {font-size: 12px; font-weight: bold; font-variant: small-caps;}
.Comments_ListTitleLink {color: #3366CC; text-decoration: none; font-size: 12px; font-weight: normal;}
.Comments_ListAuthorLink {color: #993300; text-decoration: none; font-size: 12px; font-weight: normal;}
.Comments_ListDateCreated {font-size: 12px;}
.Comments_ListBriefDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.Comments_ListReplyLink {color: #993300; text-decoration: none; font-size: 12px; font-weight: normal;}


.Comments_Table {border: thick solid #CCCCFF 2px;}
.Comments_IntroCell {background-color:#CCCCFF;} 
.Comments_BodyCell {background-color:#FFFFFF;}
.Comments_Title {font-size: 12px; font-weight: bold; font-variant: small-caps;}
.Comments_AuthorLink {color: #3366CC; text-decoration: none; font-size: 12px; font-weight: normal;}
.Comments_DateCreated {font-size: 12px;}
.Comments_BriefDescription {font-size: 12px;}
.Comments_ParentLink {color: #3366CC; text-decoration: none; font-size: 12px; font-weight: normal;}


/* Topics */

.Topics_TopicTitle {font-weight: bold; font-size: 17px; font-variant: small-caps;}
.Topics_TopicDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.Topics_ListTable {border: thick solid #000000 1px;}
.Topics_ListItem {background-color:#DADFCB;}
.Topics_ListItem2 {background-color:#FFFFFF;}
.Topics_ListAlternatingItem {border-top: thick dashed #cccccc 1px; background-color:#EEEEEE;}
.Topics_ListAlternatingItem2 {background-color:#CCCCFF;}
.Topics_ListTitle {font-size: 12px; font-weight: bold; font-variant: small-caps;}
.Topics_ListTitleLink {color: #993300; text-decoration: none; font-size: 12px; font-weight: normal;}
.Topics_ListAuthorLink {color: #993300; text-decoration: none; font-size: 12px; font-weight: normal;}
.Topics_ListDateCreated {font-size: 12px;}
.Topics_ListBriefDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}


/* Search */

.Search_ListTable {border: none;}
.Search_ListItem {background-color:#dddddd;}
.Search_ListItem2 {background-color:#FFFFFF;}
.Search_ListAlternatingItem {border-top: thick dashed #cccccc 1px; background-color:#EEEEEE;}
.Search_ListAlternatingItem2 {background-color:#CCCCFF;}
.Search_ListTitle {font-size: 12px; font-weight: bold; font-variant: small-caps;}
.Search_ListTitleLink {color: #3366CC; text-decoration: none; font-size: 12px; font-weight: normal;}
.Search_ListAuthorLink {color: #3366CC; text-decoration: none; font-size: 12px; font-weight: normal;}
.Search_ListDateCreated {font-size: 12px;}
.Search_ListBriefDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.Search_NoResults {font-family: verdana, arial, helvetica; font-size: 12px; color: #CC0000;}


/* Form */

.Form_Title {font-weight: bold; font-size: 17px; font-variant: small-caps;}
.Form_Description {font-size: 12px;}
.Form_Table {background-color: #DADFCB; border: thick solid #000000 1px;}
.Form_LabelRow {font-size: 10pt;}
.Form_LabelCell {font-size: 10pt;}
.Form_LabelText {font-size: 10pt; font-variant: small-caps;}
.Form_FieldRow {font-size: 12px;}
.Form_FieldCell {font-size: 12px;}
.Form_Field {font-size: 11px;}
.Form_SectionRow {color: white;background-color: #807C4F;}
.Form_SectionCell {font-size: 12pt;}
.Form_SectionText {font-weight: bold;}
.Form_Button {font-size: 12px;}
.Form_HelpText {font-size: 8pt;}
.Form_SubSectionRow {font-size: 13px;}
.Form_SubSectionCell {font-size: 13px;}
.Form_SubSectionText {font-size: 13px;}
.Form_List {font-size: 12px;}
.Form_Message {font-size: 12px; color: #CC0000}


/* Web Box */

.WebBox_ListTable {border: thick solid #DDDDDD 2px; font-size: 10px;}
.WebBox_ListItem {background-color: #ffffff; font: 10px verdana;}
.WebBox_ListItem a {color: #993300; text-decoration: none; font-size: 10px;}
.WebBox_ListItem a:hover {color: #FF6600; text-decoration: underline;}

.WebBox_TitleText {font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; font-size: 12px; }
.WebBox_TitleText a:active {color: #3366CC; text-decoration: none; }
.WebBox_TitleText a:link {color: #3366CC; text-decoration: none; }
.WebBox_TitleText a:visited {color: #3366CC; text-decoration: none; }
.WebBox_TitleText a:hover {color: #FF6600; text-decoration: none; }

.WebBox_TitleRow {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; font-style:italic;}
.WebBox_TitleCell {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px;}
.WebBox_Table {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px;}
.WebBox_SubText {font-family: verdana, arial, helvetica, sans-serif; font-size: 8px;}
.WebBox_Link {font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; font-size: 10px;}


/* Web Service Box */

.WebServiceBox_ListTable {border: thick solid #DDDDDD 2px;font-size: 10px;}
.WebServiceBox_ListItem {background-color: #ffffff; }
.WebServiceBox_ServiceTitleLink {color: #993300; text-decoration: none; font-size: 12px; font-weight: bold;}
.WebServiceBox_ServiceTitleLink:hover {font-weight: bold;}
.WebServiceBox_ServiceDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px;}
.WebServiceBox_ListTitleLink:link {color: #993300; text-decoration:none;font: 10px verdana;}
.WebServiceBox_ListTitleLink:hover {text-decoration: underline;}
.WebServiceBox_ListDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; }
.WebServiceBox_Copyright {font-family: verdana, arial, helvetica, sans-serif; font-size: 8px;}
.WebServiceBox_LastRefreshed {font-family: verdana, arial, helvetica, sans-serif; font-size: 8px;}


/* Forum Login */

.ForumLogin_SectionTitle {font-weight: bold; font-size: 17px; font-variant: small-caps;}
.ForumLogin_SectionDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.ForumLogin_LoginLink {color: #993300;}



/* HtmlTextBox */


pre 
{
    word-wrap:break-word;
    padding:5px;
    margin-bottom:0px;
    margin-top:0px;
    margin-right:0px;
    margin-left:10px;
    background-color: #eeeeee;
    font: 10px normal Lucida Console;
}


.postBodyText {padding-bottom:20px;width:500px; overflow-x:auto}
.postBodyText p {margin:0px;}

.commentText {padding-bottom:20px;width:500px; overflow-x:auto}
.commentText p {margin:0px;}

.itemCommentText {padding-bottom:20px;width:500px; overflow-x:auto}
.itemCommentText p {margin:0px;}

.articleBodyText {padding-bottom:20px;width:500px; overflow-x:auto}
.articleBodyText p {margin:0px;}

.bookFullDescription {padding-bottom:20px;width:500px; overflow-x:auto}
.bookFullDescription p {margin:0px;}


.downloadFullDescription {padding-bottom:20px;width:500px; overflow-x:auto}
.downloadFullDescription p {margin:0px;}

.eventFullDescription {padding-bottom:20px;width:500px; overflow-x:auto}
.eventFullDescription p {margin:0px;}

.eventSpeakerBiography {padding-bottom:20px;width:500px; overflow-x:auto}
.eventSpeakerBiography p {margin:0px;}

.itemEventSpeakerBiography {padding-bottom:20px;width:500px; overflow-x:auto}
.itemEventSpeakerBiography p {margin:0px;}

.photoFullDescription {padding-bottom:20px;width:500px; overflow-x:auto}
.photoFullDescription p {margin:0px;}

ul#tabStripUL,ul#tabStripUL li
{
	list-style-type:none;
	margin:0;padding:0
}
ul#tabStripUL
{
	padding-left:15px
}
ul#tabStripUL li
{
	float:left;
	width:80px;
	margin-right:2px;
	text-align: center
}
/* done through code ... needed to set background color to Subhead color
ul#tabStrip a
{
	float:left;
	width:80px;
	text-decoration:none;
	background: #FFC;
	color: #999
}
*/
ul#tabStripUL li.active a,ul#tabStripUL a:hover
{
	color: #000
}	

UL LI	{	
	list-style-type:	square ;
	}	

UL LI LI	{	
	list-style-type:	disc;
	}	

UL LI LI LI	{	
	list-style-type:	circle;
	}	





/***********************************
  Theme Specific Style Elements
  ------------------------------
  The following style elements are specific to the current
  theme.
************************************/


/* Arc Theme */

.LogoCell 

