<mat-toolbar color="primary">
  <button style="outline: none;" mat-icon-button (click)="sidenav.toggle();">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer">{{applicationName}}</span>
  <span>Version {{version}}</span>
  <button mat-icon-button>
    <mat-icon>help_outline</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>person_outline</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div *ngIf="!isAuthenticated">
      <button (click)="onLogin()" mat-menu-item>
        <mat-icon>login</mat-icon>
        <span>Sign in</span>
      </button>
    </div>
    <div *ngIf="isAuthenticated">
      <a mat-menu-item [routerLink]="['/edit-my-account']">
        <mat-icon>settings</mat-icon><span>Edit Profile</span>
      </a>
      <button (click)="onLogout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        Sign out
      </button>
    </div>
  </mat-menu>
</mat-toolbar>
