<style>
    .add-edit-dialog .modal-dialog {
        width: 1000px;
    }

</style>
<form id="frmAddeditAccounts">
    <div data-ng-controller="AddEditAccountController">
        <div class="container" id="tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a data-toggle="tab" data-target="#tabsGeneral">General</a></li>
                <li role="presentation" id="rolesTab"><a data-toggle="tab" data-target="#tabsRoles">Roles</a></li>
                <li role="presentation" id="groupsTab"><a data-toggle="tab" data-target="#tabsGroups">Groups</a></li>
                <li role="presentation" id="derivedRolesTab"><a data-toggle="tab" data-target="#tabsDerivedRoles">Derived Roles</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tabsGeneral">
                    <p>
                        <table border="1" cellpadding="3" cellspacing="0" width="950px">
                            <tr>
                                <td>
                                    <table border="0" cellpadding="2" width="100%">
                                        <tr>
                                            <td align="center" colspan="4">
                                                <span id="Label1" forecolor="Red"></span>
                                            </td>
                                        </tr>
                                        <tr id="trAccount">
                                            <td valign="top">
                                                <span class="Form_LabelText">Account: </span>
                                            </td>
                                            <td valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <input id="txtAccount" data-ng-model="vm.profile.Account" cssclass="Form_Field rounded" maxlength="128" />
                                                            <img id="imgWarningAccount" imageurl="~/Content/GrowthWare/Images/help.gif" alternatetext="Help Image" />
                                                            <span id="litAccountWarning"></span>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td id="tdStatus" valign="top">
                                                <span class="Form_LabelText">Status: </span>
                                            </td>
                                            <td valign="top">
                                                <select id="dropStatus" data-ng-model="vm.selectedStatus" data-ng-options="item.Name for item in vm.validStatus track by item.id" cssclass="Form_Field rounded"></select>
                                            </td>
                                        </tr>
                                        <tr id="trSysAdmin" data-ng-hide="vm.profile.IsSystemAdmin">
                                            <td valign="top">
                                                <span class="Form_LabelText">System Administrator: </span>
                                            </td>
                                            <td valign="top">
                                                <asp:checkbox id="chkSysAdmin" data-ng-model="vm.profile.IsSystemAdmin" />
                                            </td>
                                            <td valign="top">
                                                <span class="Form_LabelText">Failed Logon Attempts: </span>
                                            </td>
                                            <td valign="top">
                                                <span id="litFailedAttempts" />
                                                <input id="txtFailedAttempts" cssclass="Form_Field rounded" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <span class="Form_LabelText">First Name: </span>
                                            </td>
                                            <td valign="top">
                                                <input id="txtFirstName" data-ng-model="vm.profile.FirstName" maxlength="35" cssclass="Form_Field rounded" />
                                                <br />
                                            </td>
                                            <td valign="top">
                                                <span class="Form_LabelText">Last Name: </span>
                                            </td>
                                            <td valign="top">
                                                <input id="txtLastName" data-ng-model="vm.profile.LastName" maxlength="35" cssclass="Form_Field rounded" />
                                                <br />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <span class="Form_LabelText">Middle Name: </span>
                                            </td>
                                            <td valign="top">
                                                <input id="txtMiddleName" data-ng-model="vm.profile.MiddleName" maxlength="35" cssclass="Form_Field rounded" />
                                            </td>
                                            <td valign="top">
                                                <span class="Form_LabelText">Preferred Name: </span>
                                            </td>
                                            <td valign="top">
                                                <input id="txtPreferredName" data-ng-model="vm.profile.PreferredName" maxlength="50" cssclass="Form_Field rounded" />
                                                <br />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <span class="Form_LabelText">Email: </span>
                                            </td>
                                            <td valign="top">
                                                <input id="txtEmail" data-ng-model="vm.profile.EMail" maxlength="128" columns="25" cssclass="Form_Field rounded" />
                                                <br />
                                            </td>
                                            <td valign="top">
                                                <span class="Form_LabelText">Timezone: </span>
                                            </td>
                                            <td valign="top">
                                                <select id="dropTimezone" cssclass="rounded">
                                                    <option text="Hawaii (GMT -10)" value="-10" />
                                                    <option text="Alaska (GMT -9)" value="-9" />
                                                    <option text="Pacific Time (GMT -8)" value="-8" />
                                                    <option text="Mountain Time (GMT -7)" value="-7" />
                                                    <option text="Central Time (GMT -6)" value="-6" />
                                                    <option text="Eastern Time (GMT -5)" value="-5" />
                                                    <option text="Atlantic Time (GMT -4)" value="-4" />
                                                    <option text="Brasilia Time (GMT -3)" value="-3" />
                                                    <option text="Greenwich Mean Time (GMT +0)" value="0" />
                                                    <option text="Central Europe Time (GMT +1)" value="1" />
                                                    <option text="Eastern Europe Time (GMT +2)" value="2" />
                                                    <option text="Middle Eastern Time (GMT +3)" value="3" />
                                                    <option text="Abu Dhabi Time (GMT +4)" value="4" />
                                                    <option text="Indian Time (GMT +5)" value="5" />
                                                    <option text="Eastern China Time (GMT +8)" value="8" />
                                                    <option text="Japan Time (GMT +9)" value="9" />
                                                    <option text="Australian Time (GMT +10)" value="10" />
                                                    <option text="Pacific Rim Time (GMT +11)" value="11" />
                                                    <option text="New Zealand Time (GMT +12)" value="12" />
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <span class="Form_SubSectionText"><b>Optional Information </b></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <span class="Form_LabelText">Location: </span>
                                            </td>
                                            <td valign="top">
                                                <input id="txtLocation" maxlength="128" cssclass="Form_Field rounded" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <span class="Form_SubSectionText"><b>Email Options </b></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <span class="Form_LabelText">Email Notifications: </span>
                                            </td>
                                            <td colspan="3" valign="top">
                                                <input type="checkbox" id="chkEnableNotifications" cssclass="Form_Field rounded" checked="true" text="Receive Email Notifications" />
                                                <br />
                                                <span class="Form_Field">(This option controls Email Notification. If this option is enabled, you will see Email Notification.) </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </p>
                </div>
                <div class="tab-pane fade" id="tabsRoles">
                    {{vm.profile.AccountRoles.Roles}}<br/>
                    <p>
                        <gw-picklist size="200" rows="6" id="ctlRoles" selected-items="vm.profile.AccountRoles.Roles" allitemstext="All Roles" selecteditemstext="Selected Roles" sortonchange="true" destinationsortable="false"></gw-picklist>
                    </p>
                </div>
                <div class="tab-pane fade" id="tabsGroups">
                    <p>
                        <table class="pickListTable">
                            <tr class="pickListTableHeader">
                                <td>
                                    Groups
                                </td>
                            </tr>
                            <tr>
                                <td class="pickListTableHelp">
                                    Assign groups
                                </td>
                            </tr>
                            <tr>
                                <td class="pickListTableContents">
                                    ListPicker
                                </td>
                            </tr>
                        </table>
                    </p>
                </div>
                <div class="tab-pane fade" id="tabsDerivedRoles">
                    <p>
                        <table cellspacing="0" cellpadding="3" border="0">
                            <tr>
                                <td align="left" style="width: 480px">
                                    <table class="pickListTable">
                                        <!-- Roles -->
                                        <tr class="pickListTableHeader">
                                            <td>
                                                Derived Roles
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pickListTableHelp">
                                                &nbsp;<img alt="Help" onclick="GW.Common.showHelpMSG(document.getElementById('derivedHelpRoles').innerHTML,'Help Derived Roles')" src="~/Content/GrowthWare/Images/help.gif" title=" &nbsp;Roles that may View&nbsp;" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pickListTableContents">
                                                <asp:listbox id="lstBoxRoles" style="width: 462px;" rows="5"></asp:listbox>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- View Roles -->
                                    <div id="derivedHelpRoles" style="display: none">
                                        Derived roles are calculated by combining roles that are directly assigned through Roles or indirectly assigned through Groups.<br />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
        </div>
        <div class="container bootstrap-dialog-footer-buttons">
            <button class="btn btn-primary" id="btnSave" data-ng-click="save()">
                <span class="bootstrap-dialog-button-icon glyphicon glyphicon-save"></span>Save
            </button>
            <button class="btn btn-primary disabled" id="btnDelete" disabled="">
                <span class="bootstrap-dialog-button-icon glyphicon glyphicon-remove"></span>Delete
            </button>
            <button class="btn btn-primary" id="btnCancel" data-ng-click="cancelEdit()">
                <span class="bootstrap-dialog-button-icon glyphicon glyphicon-thumbs-down"></span>Cancel
            </button>
        </div>
    </div>
</form>