<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-GrowthWare.WebApplication-20140922085717.mdf;Initial Catalog=aspnet-GrowthWare.WebApplication-20140922085717;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="App_Displayed_Name" value="Growthware Web Application" />
    <add key="AuthenticationTypes" value="Internal,LDAP,MicrosoftAccount,Twitter,Facebook,Google,SAML20,OAuth2" />
    <add key="Central_Management" value="False" />
    <add key="Conversion_Pattern" value="%d [%t] %-5p - %m%n" />
    <add key="DB_Status" value="OnLine" />
    <add key="Encryption_Type" value="1" />
    <add key="Environment" value="Local" />
    <add key="Environments" value="Local" />
    <add key="Security_Entity_Translation" value="Security Entity" />
    <add key="Server_Side_View_State" value="True" />
    <add key="Server_Side_View_State_Pages" value="16" />
    <add key="Strip_Domain_From_Http_Context_UserName" value="False" />
    <add key="Local_Authentication_Type" value="Internal" />
    <add key="Local_App_Name" value="" />
    <add key="Local_DAL" value="SQLServer" />
    <add key="Local_DAL_SQLServer_Assembly_Name" value="GrowthWare.Framework.BusinessData" />
    <add key="Local_DAL_SQLServer_Name_Space" value="GrowthWare.Framework.BusinessData.DataAccessLayer.SQLServer.V2008" />
    <add key="Local_DAL_SQLServer_Connectionstring" value="server=(local);Integrated Security=SSPI;database=GW2013Development;connection reset=false;connection lifetime=5;enlist=true;min pool size=1;max pool size=50" />
    <add key="Local_Default_Security_Entity_ID" value="1" />
    <add key="Local_Enable_Cache" value="true" />
    <add key="Local_Enable_Encryption" value="True" />
    <add key="Local_Force_HTTPS" value="False" />
    <add key="Local_LDAP_Domain" value="YourDomain" />
    <add key="Local_LDAP_Server" value="LDAP://ad.YourDomain.???" />
    <add key="Local_Log_Path" value="D:\Development\GrowthWare\2013\CS\GrowthWare.WebApplication\Logs\" />
    <add key="Local_Log_Priority" value="Debug" />
    <add key="Local_Log_Retention" value="5" />
    <add key="Local_RegistrationAccountChoicesAccount" value="Mike" />
    <add key="Local_RegistrationGroups" value="Everyone" />
    <add key="Local_RegistrationRoles" value="" />
    <add key="Local_RegistrationSecurityEntityId" value="1" />
  </appSettings>
  <system.web>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpModules>
      <add name="GWHttpContextModule" type="GrowthWare.WebSupport.Context.HttpContextModule,GrowthWare.WebSupport" />
    </httpModules>    
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule" />
      <add name="GWHttpContextModule" type="GrowthWare.WebSupport.Context.HttpContextModule,GrowthWare.WebSupport" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>