.dark-bg {
    background: rgba(54,66,74,1);
    border-bottom: 1px solid #f1f2f7;
}
logo {
    font-size: 22px;
    font-weight: 300;
    color: #fed189;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}
.lite {
    color: #00a0df !important;
}