input[type] {
  width: 132px;
}

.tabHeight {
  min-height: 350px;
}

// checkbox-frame,
// checkbox-background,
// checkbox-anim-unchecked-checked,
// checkbox-anim-checked-unchecked {
//   transform: scale(.7);
// }

.mat-mdc-checkbox,
checkbox-inner-container {
  transform: scale(.7);
}
