.tabHeight {
    // From (DayOfWeekComponent.openEventDetails)
    min-height: calc(500px - 125px);
    min-width: calc(450px - 50px);
}

.firstCell {
    width: 30px;
    vertical-align: top;
}

.middleCell {
    margin-top: 5px;
    vertical-align: middle;
    width: 20px;
}
