<form class="formSize">
  <mat-tab-group mat-align-tabs="center" class="mat-tab__group">
    <mat-tab label="Encryption Helper" class="mat-tab__tab">
      <div class="mat-tab__container formSection">
        <div class="formSectionContents left">
          <div class="table" style="padding: 5px">
            <div class="tr">
              <div class="td left">
                &nbsp;
              </div>
            </div>
            <div class="tr">
              <div class="td left">
                <mat-form-field appearance="outline">
                  <mat-label htmlFor="encryptionType">Encryption Type</mat-label>
                  <mat-select id="encryptionType" [(value)]="selectedEncryptionType" class="rounded">
                    @for (item of validEncryptionTypes; track item) {
                      <mat-option [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="tr">
              <div class="td left">
                Text:
              </div>
            </div>
            <div class="tr">
              <div class="td left">
                <textarea id="txtValue" name="txtValue" rows="4" cols="50" [(ngModel)]="textValue"
                class="rounded">Textarea</textarea>
              </div>
            </div>
            <div class="tr">
              <div class="td left">
                Results:
              </div>
            </div>
            <div class="tr">
              <div class="td">
                <textarea id="txtProcessed" name="txtProcessed" rows="4" cols="50" [(ngModel)]="processedText" class="rounded" #txtProcessed></textarea>
              </div>
              <div class="td">
                <button (click)="copyInputMessage(txtProcessed)" mat-button class="Form_Button" color="primary">
                  <i style="padding-right: 3px" class="Form_Button_Icon material-icons">file_copy</i>Copy Text
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="buttonRow">
    <button (click)="encryptDecrypt(true)" mat-button class="Form_Button" color="primary">
      <i style="padding-right: 3px" class="Form_Button_Icon material-icons">enhanced_encryption</i>Encrypt
    </button>
    <button (click)="swap()" mat-button class="Form_Button" color="primary">
      <i style="padding-right: 3px" class="Form_Button_Icon material-icons">swap_vertical_circle</i>Swap
    </button>
    <button (click)="encryptDecrypt(false)" mat-button class="Form_Button" color="warn">
      <i style="padding-right: 3px" class="Form_Button_Icon material-icons">no_encryption</i>Decrypt
    </button>
  </div>
</form>