<div class="containerSize">
    <form [formGroup]="frmForgotPassword" (ngSubmit)="onSubmit(frmForgotPassword)" novalidate>
        <div class="table" style="height: 180px;">
            <div class="tr">
                <div class="table">
                    <div class="tr">
                        <div class="td left">
                            <span class="Form_LabelText">Account: </span>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td left">
                            <input matInput type="text" formControlName="account" class="Form_Field rounded" style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tr">
                <div class="td left">
                    @if (controls['account'].value !== '' && controls['account'].untouched && controls['account'].invalid) {
                        <mat-error>{{getErrorMessage('account')}}</mat-error>
                    }
                </div>
            </div>
        </div>    
        <div class="buttonRow">
            <button type="submit" [disabled]="frmForgotPassword.invalid" mat-button class="Form_Button" color="primary">
                Submit
            </button>
            @if(canCancel) {
                <button type="button" (click)="onCancel()" mat-button class="Form_Button" color="accent">
                    <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">cancel</i>Cancel
                </button>    
            }
        </div>
    </form>
</div>
