<form [formGroup]="frmProfile" (ngSubmit)="onSubmit()" novalidate>
  <mat-tab-group mat-align-tabs="center" style="padding-bottom: 0px;">
    <mat-tab label="Details">
      <div class="mat-tab__container formSection">
        <div class="mat-tab__content formSectionContents containerSize">
          <div class="table">
            <div class="tr">
              <div class="td top right">
                <span class="Form_LabelText">{{securityEntityTranslation}}:</span>
              </div>
              <div class="td left">
                @if (!canEnterName) {
                  <span id="litSecurityEntity">{{securityEntityName}}</span>
                }
                @if (canEnterName) {
                  <div>
                    <textarea matInput id="txtName" formControlName="name" #name class="rounded" TextMode="MultiLine" Rows="1" style="Width: 95%;"></textarea>
                    <mat-hint align="end">{{name.value.length}}/256</mat-hint>
                    @if (controls['name'].invalid && controls['name'].touched) {
                      <mat-error style="display: inline-block; padding-left: 5px;">{{getErrorMessage('name')}}</mat-error>
                    }
                  </div>
                }
              </div>
            </div>
            <div class="tr">
              <div class="td top right">
                <span class="Form_LabelText">Description:</span>
              </div>
              <div class="td left">
                <textarea matInput id="txtDescription" formControlName="description" #description class="rounded" TextMode="MultiLine" Rows="3" style="Width: 95%;"></textarea>
                <mat-hint align="end">{{description.value.length}}/512</mat-hint>
                @if (controls['description'].invalid && controls['description'].touched) {
                  <mat-error style="display: inline-block; padding-left: 5px;">{{getErrorMessage('description')}}</mat-error>
                }
              </div>
            </div>
            <div class="tr">
              <div class="td top right">
                <span class="Form_LabelText">URL:</span>
              </div>
              <div class="td left">
                <input matInput id="txtUrl" type="text" formControlName="url" #url class="Form_Field rounded" style="Width: 95%;">
                <br/>
                <mat-hint align="end">{{url.value.length}}/128</mat-hint>
              </div>
            </div>
            <div class="tr">
              <div class="td top right">
                <span class="Form_LabelText">Data Access Layer:</span>
              </div>
              <div class="td left">
                <mat-select [(value)]="selectedDal" class="rounded" style="width: 150px;">
                  @for (item of validDataAccessLayers; track item) {
                    <mat-option [value]="item.name">
                      {{item.value}}
                    </mat-option>
                  }
                </mat-select>
              </div>
            </div>
            <div class="tr">
              <div class="td top right">
                <span class="Form_LabelText">Data access layer DLL Name:</span>
              </div>
              <div class="td left">
                <input matInput id="txtDataAccessLayerAssemblyName" type="text" formControlName="dataAccessLayerAssemblyName" #dataAccessLayerAssemblyName class="Form_Field rounded" style="Width: 95%;">
                <br/>
                <mat-hint align="end">{{dataAccessLayerAssemblyName.value.length}}/50</mat-hint>
                @if (controls['dataAccessLayerAssemblyName'].invalid && controls['dataAccessLayerAssemblyName'].touched) {
                  <mat-error style="display: inline-block; padding-left: 5px;">{{getErrorMessage('dataAccessLayerAssemblyName')}}</mat-error>
                }
              </div>
            </div>
            <div class="tr">
              <div class="td top right">
                <span class="Form_LabelText">Data access layer Namespace:</span>
              </div>
              <div class="td left">
                <input matInput id="txtDataAccessLayerNamespace" type="text" formControlName="dataAccessLayerNamespace" #dataAccessLayerNamespace class="Form_Field rounded" style="Width: 95%;">
                <br/>
                <mat-hint align="end">{{dataAccessLayerNamespace.value.length}}/50</mat-hint>
                @if (controls['dataAccessLayerNamespace'].invalid && controls['dataAccessLayerNamespace'].touched) {
                  <mat-error style="display: inline-block; padding-left: 5px;">{{getErrorMessage('dataAccessLayerNamespace')}}</mat-error>
                }
              </div>
            </div>
            <div class="tr">
              <div class="td top right">
                <span class="Form_LabelText">Connection String:</span><br />
                <a href="http://www.connectionstrings.com/" target="_blank">Build</a>
              </div>
              <div class="td left">
                <textarea matInput id="txtConnectionString" formControlName="connectionString" #connectionString class="rounded" TextMode="MultiLine" Rows="3" style="Width: 95%;"></textarea>
                <mat-hint align="end">{{connectionString.value.length}}/512</mat-hint>
                @if (controls['connectionString'].invalid && controls['connectionString'].touched) {
                  <mat-error style="display: inline-block; padding-left: 5px;">{{getErrorMessage('connectionString')}}</mat-error>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Registration Information">
      <div class="mat-tab__container formSection">
        <div class="mat-tab__content formSectionContents containerSize">
          <div class="table">
            <div class="tr">
              <div class="td top right">
                <span class="Form_LabelText">Security Entity:</span>
              </div>
              <div class="td left" matTooltip="The security entity the roles and groups are associated with" [matTooltipPosition]="'left'">
                <mat-select [(value)]="selectedSecurityEntity" class="rounded">
                  @for (item of validSecurityEntities; track item) {
                    <mat-option [value]="item.id">
                      {{ item.name }}
                    </mat-option>
                  }
                </mat-select>
              </div>
            </div>
            <div class="tr">
              <div class="td top right">
                <span class="Form_LabelText">Account Choices:</span>
              </div>
              <div class="td left" matTooltip="The account used copy the AccountChoices from." [matTooltipPosition]="'left'">
                <input matInput id="txtAccountChoices" type="text" formControlName="accountChoices" #label class="Form_Field rounded" style="Width: 95%;">
              </div>
            </div>
            <div class="tr">
              <div class="td top right">
                <span class="Form_LabelText">Account added by:</span>
              </div>
              <div class="td left" matTooltip="Integer ID of the account associated with registration" [matTooltipPosition]="'left'">
                <input matInput id="txtAddAccount" type="text" formControlName="addAccount" #label class="Form_Field rounded" style="Width: 95%;">
              </div>
            </div>
            <div class="tr">
              <div class="td top right">
                <span class="Form_LabelText">Groups:</span>
              </div>
              <div class="td left" matTooltip="Comma separated list of groups." [matTooltipPosition]="'left'">
                <textarea matInput id="txtGroups" formControlName="groups" #description class="rounded" TextMode="MultiLine" Rows="3" style="width: 95%"></textarea>
              </div>
            </div>
            <div class="tr">
              <div class="td top right">
                <span class="Form_LabelText">Roles:</span>
              </div>
              <div class="td left" matTooltip="Comma separated list of roles." [matTooltipPosition]="'left'">
                <textarea matInput id="txtRoles" formControlName="roles" #description class="rounded" TextMode="MultiLine" Rows="3" style="width: 95%"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="buttonRow">
    <button type="submit" [disabled]="frmProfile.invalid" mat-button class="Form_Button" color="primary">
      <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">save</i>Save
    </button>
    @if (canDelete) {
      <button type="button" (click)="onDelete()" mat-button class="Form_Button" color="warn">
        <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">delete</i>Delete
      </button>
    }
    <button type="button" (click)="onCancel()" mat-button class="Form_Button" color="accent">
      <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">cancel</i>Cancel
    </button>
  </div>  
</form>