<form name="frm_{{tableConfiguration.name}}_Table" id="frm_{{tableConfiguration.name}}_Table" role="form">
  <div class="dynamicTableContainerDiv Container" [ngStyle]="{ 'min-width.px': tableWidth +35, 'max-width.px': tableWidth +35}">
    @if (tableConfiguration.showFirstRow) {
      <div class="dynamicTableHeaderDiv">
        <span style="margin: 5px;">
          Show
          <input
            id="{{tableConfiguration.name}}_txtRecordsPerPage"
            name="{{tableConfiguration.name}}_txtRecordsPerPage"
            type="number"
            [(ngModel)]="txtRecordsPerPage"
            (ngModelChange)='recordsPerPageSubject.next($event)'
            class="rounded10"
            style="width: 60px; height:auto;"
            required />&nbsp;records per page&nbsp;&nbsp;
            <label class = "control-label text-danger" for = "{{tableConfiguration.name}}_txtRecordsPerPage">
              {{recordsPerPageMsg}}
            </label>
          </span>
          @if (showHelp) {
            <span class="material-icons" (click)="onHelp()" style="position:relative; margin: 5px; cursor: pointer;">help</span>
          }
          <span style="margin: 5px;">
            @if (tableConfiguration.buttons.length > 0 && tableConfiguration.buttons[0].visible) {
              <button
                mat-raised-button
                [color]="tableConfiguration.buttons[0].color"
                id="btn_{{tableConfiguration.buttons[0].id}}_{{tableConfiguration.name}}"
                name="btn_{{tableConfiguration.buttons[1].name}}_{{tableConfiguration.name}}"
                (click) = "onTopLeft()"
                >{{tableConfiguration.buttons[0].text}}
              </button>
            }
          </span>
          <span style="flex-grow: 1;">&nbsp;</span>
          <span style="margin: 5px;">
            @if (tableConfiguration.buttons.length > 1 && tableConfiguration.buttons[1].visible) {
              <button
                mat-raised-button
                [color]="tableConfiguration.buttons[1].color"
                [ngClass]="tableConfiguration.buttons[1].class"
                id="btn_{{tableConfiguration.buttons[1].id}}_{{tableConfiguration.name}}"
                name="btn_{{tableConfiguration.buttons[1].name}}_{{tableConfiguration.name}}"
                (click) = "onTopRight()"
                >{{tableConfiguration.buttons[1].text}}
              </button>
            }
          </span>
          <span style="margin: 5px;">
            @if (tableConfiguration.showSearch) {
              <input
                type="text"
                id="{{tableConfiguration.name}}_searchText"
                name="{{tableConfiguration.name}}_searchText"
                [(ngModel)]="searchText"
                (ngModelChange)='searchTextSubject.next($event)'
                class="form-control rounded10"
                style="font-size: 0.9em; width: 164px; float: right;"
                placeholder="Search">
            }
          </span>
        </div>
      }
      <div id="dynamicTable_{{tableConfiguration.name}}" class="dynamicTableMainbodyDiv" [ngStyle]="{ 'max-height.px': tableHeight, 'min-height.px': tableHeight, 'min-width.px': tableWidth +23, 'max-width.px': tableWidth +23}">
        <table [ngStyle]="{ 'min-width.px': tableWidth, 'max-width.px': tableWidth, 'margin-left.px': 5 }">
          @if (tableConfiguration.captionText.length > 0) {
            <caption id="caption_{{tableConfiguration.name}}"style="padding-top: 3px">{{tableConfiguration.captionText}}</caption>
          }
          <thead>
            <tr [style.background-color]="clientChoices.headColor">
              @for (column of tableConfiguration.columns; track column) {
                <th [ngStyle]="{ 'min-width.px': column.width, 'max-width.px': column.width }">
                  <div [ngStyle]="{ 'min-height.px': maxHeadHeight, 'max-height.px': maxHeadHeight }">
                    <div style="display: inline-block;">
                      @if (column.allowSearch) {
                        <input
                          type="checkBox"
                          id="check_Search_{{tableConfiguration.name}}_{{column.name}}"
                          name="check_Search_{{tableConfiguration.name}}_{{column.name}}"
                          [(ngModel)]="column.searchSelected"
                          (click)="onSearchClick(column.name, $event);"
                          class="input__checkbox"
                          title="Include in search">
                      }
                      &nbsp;
                    </div>
                    <div style="display: inline-block;">
                      @if (column.allowSort && column.visible) {
                        <span id="column_Sort_{{tableConfiguration.name}}_{{column.name}}" (click)="onSortChange(column.name)" class="span__sort">{{column.label}}</span>
                      }
                      @if (!column.allowSort && column.editText !== 'image' && column.visible) {
                        <span id="column_Sort_{{tableConfiguration.name}}_{{column.name}}" class="span__sort">{{column.label}}</span>
                      }
                      @if (!column.allowSort && column.editText === 'image' && column.visible) {
                        <span id="column_Sort_{{tableConfiguration.name}}_{{column.name}}" class="span__sort">{{column.label}}</span>
                      }
                      &nbsp;
                    </div>
                    <div style="display: inline-block; position:relative;">
                      @if (column.sortSelected && column.direction === 'asc') {
                        <div (click)="onSortChange(column.name)" class="div__sort" title="Sort descending">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                          </svg>
                        </div>
                      }
                      @if (column.sortSelected && column.direction === 'desc') {
                        <div (click)="onSortChange(column.name)" class="div__sort" title="Sort ascending">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                          </svg>
                        </div>
                      }
                    </div>
                  </div>
                </th>
              }
            </tr>
          </thead>
          <tbody>
            @for (row of tableData$(); track row; let rowIndex = $index, isEven = $even) {
              <tr (click)="onRowClick(rowIndex)" [ngStyle]="{ 'height.px': rowHeight, 'color': clientChoices.headerForeColor, 'background-color': isEven ? clientChoices.alternatingRowBackColor : (!isEven ? clientChoices.rowBackColor : null) }" [class.active-row]="rowIndex == activeRow">
                @for (column of tableConfiguration.columns; track column) {
                  <td>
                    <div>
                      @switch (column.outputType) {
                        @case ('checkBox') {
                          <input type="checkBox" id="check_{{tableConfiguration.name}}_{{column.name}}" name="check_{{tableConfiguration.name}}_{{column.name}}" class="input__checkbox">
                        }
                        @case ('icon') {
                          <i (click)="onEditClick(rowIndex)" id="editIcon_{{tableConfiguration.name}}_{{column.name}}" class="Form_Button_Icon material-icons" style="cursor: pointer;">edit</i>
                        }
                        @default {
                          <span>{{formatData(row[column.name], column.outputType)}}</span>
                        }
                      }
                    </div>
                  </td>
                }
              </tr>
            }
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
      @if (tableConfiguration.showThirdRow) {
        <div class="dynamicTableFooterDiv" style="display: flex;">
          @if (totalRecords > 0) {
            <span style="margin: 5px;" id="totalRecords">{{totalRecords}} total items</span>
          }
          <span style="margin: 5px;">
            @if (tableConfiguration.buttons.length > 2 && tableConfiguration.buttons[2].visible) {
              <button
                mat-raised-button
                [color]="tableConfiguration.buttons[2].color"
                [ngClass]="tableConfiguration.buttons[2].class"
                id="btn_{{tableConfiguration.buttons[2].id}}_{{tableConfiguration.name}}"
                name="btn_{{tableConfiguration.buttons[1].name}}_{{tableConfiguration.name}}"
                (click) = "onBottomLeft()"
                >{{tableConfiguration.buttons[2].text}}
              </button>
            }
          </span>
          <span style="flex-grow: 1;">&nbsp;</span>
          <span style="margin: 5px;">
            @if (tableConfiguration.buttons.length > 3 && tableConfiguration.buttons[3].visible) {
              <button
                mat-raised-button
                [color]="tableConfiguration.buttons[3].color"
                [ngClass]="tableConfiguration.buttons[3].class"
                id="btn_{{tableConfiguration.buttons[3].id}}_{{tableConfiguration.name}}"
                name="btn_{{tableConfiguration.buttons[1].name}}_{{tableConfiguration.name}}"
                (click) = "onBottomRight()"
                >{{tableConfiguration.buttons[3].text}}
              </button>
            }
          </span>
          <span style="margin: 5px;">
            <gw-core-pager [name]="configurationName()" />
          </span>
        </div>
      }
    </div>
    <ng-template #helpTemplate>
      <p>
        "records per page" determines how many records will be returned in the results.
        Just change the number value in the text box to change the results.
      </p>
      <p>
        "Search" limits the results returned based on the contents of the text box.
        The search "term" is applied to all columns with the check box selected.
      </p>
      Search Usage:
      <ul>
        <li>1.) Select desired columns</li>
        <li>2.) Enter text in the "Search" text box<br/>
          Results will update automatically.
        </li>
      </ul>
      <section>
        Row Click Usage:
        <ul>
          <li>Single - Selects or highlights the row.</li>
          <li>Double - If available opens a window to edit or view.</li>
        </ul>
        Note: The double click action is dependant on multiple factors not limited to but including
        security so may not always be available.
      </section>
    </ng-template>
  </form>

