selectedItems: {{selectedItems}}<br />

<table class="pickListTable">
    <tbody>
        <tr class="pickListTableHeader">
            <td>
                {{header}}
            </td>
        </tr>
        <tr>
            <td class="pickListTableHelp">
                {{picklistTableHelp}}
            </td>
        </tr>
        <tr>
            <td class="pickListTableContents">
                <table class="listPicker">
                    <tbody>
                        <tr>
                            <td>{{allItemsText}}</td>
                            <td>&nbsp;</td>
                            <td>{{selectedItemsText}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <select name="{{id}}_SrcList" id="{{id}}_SrcList" multiple="multiple" style="width: 200px" size="6">
                                    <option value="Anonymous" title="Anonymous">Anonymous</option>
                                </select>
                            </td>
                            <td valign="top">
                                <input name="" value=" -> " data-ng-click="switchList('_SrcList', '_DstList','{{sortOnChange}}')" class="listPickerArrow" style="width: 50px" type="button"><br/>
                                <input name="" value=" ->> " data-ng-click="switchAll('_SrcList', '_DstList','{{sortOnChange}}')" class="listPickerArrow" style="width: 50px" type="button"><br/>
                                <input name="" value=" <- " data-ng-click="switchList('_DstList', '_SrcList','{{sortOnChange}}')" class="listPickerArrow" style="width: 50px" type="button"><br/>
                                <input name="" value=" <<- " data-ng-click="switchAll('_DstList', '_SrcList','{{sortOnChange}}')" class="listPickerArrow" style="width: 50px" type="button">
                            </td>
                            <td valign="top">
                                <select name="{{id}}_DstList" id="{{id}}_DstList" multiple="multiple" style="width: 200px" size="6">
                                    <option ng-repeat="item in selectedItems" data-ng-selected="false" value="{{item}}">{{item}}</option>
                                </select>
                            </td>
                            <td></td>
                            <td valign="top">
                                <input name="" value="▲" data-ng-click="moveUp('_DstList')" class="listPickerArrow" style="width: 50px" type="button"><br/>
                                <input name="" value="▼" data-ng-click="movedown('_dstlist')" class="listPickerArrow" style="width: 50px" type="button"><br/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
