{{selectedItems}}<br />

<table class="pickListTable">
    <tbody>
        <tr class="pickListTableHeader">
            <td>
                Roles
            </td>
        </tr>
        <tr>
            <td class="pickListTableHelp">
                Assign roles
            </td>
        </tr>
        <tr>
            <td class="pickListTableContents">
                <table class="listPicker">
                    <tbody>
                        <tr>
                            <td>All Roles</td>
                            <td>&nbsp;</td>
                            <td>Selected Roles</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <select name="{{id}}_SrcList" id="{{id}}_SrcList" multiple="multiple" style="width: 200px" size="6">
                                    <option value="Anonymous" title="Anonymous">Anonymous</option>
                                </select>
                            </td>
                            <td valign="top">
                                <input name="" value=" -> " data-ng-click="switchList('_SrcList', '_DstList','False')" class="listPickerArrow" style="width: 50px" type="button"><br/>
                                <input name="" value=" ->> " data-ng-click="switchAll(this.form.AddEditAccountUserControl_ctlRoles_SrcList, this.form.AddEditAccountUserControl_ctlRoles_DstList,'False')" class="listPickerArrow" style="width: 50px" type="button"><br/>
                                <input name="" value=" <- " data-ng-click="switchList(this.form.AddEditAccountUserControl_ctlRoles_DstList, this.form.AddEditAccountUserControl_ctlRoles_SrcList,'true')" class="listPickerArrow" style="width: 50px" type="button"><br/>
                                <input name="" value=" <<- " data-ng-click="switchAll(this.form.AddEditAccountUserControl_ctlRoles_DstList, this.form.AddEditAccountUserControl_ctlRoles_SrcList,'true')" class="listPickerArrow" style="width: 50px" type="button">
                            </td>
                            <td valign="top">
                                <select name="{{id}}_DstList" id="{{id}}_DstList" multiple="multiple" style="width: 200px" size="6">
                                    <option ng-repeat="item in selectedItems" data-ng-selected="false" value="{{item}}">{{item}}</option>
                                </select>
                            </td>
                            <td></td>
                            <td valign="top"><input name="" value="▲" onclick="GW.ListPicker.moveUp(this.form.AddEditAccountUserControl_ctlRoles_DstList)" class="listPickerArrow" style="width: 50px" type="button"><br><input name="" value="▼" onclick="GW.ListPicker.moveDown(this.form.AddEditAccountUserControl_ctlRoles_DstList)" class="listPickerArrow" style="width: 50px" type="button"><br></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
