<gw-frontend-dashboard-header [sidenav]="sidenav" />
<mat-sidenav-container class="sidenav-container" color="primary" autosize>
  <mat-sidenav #sidenav class="sidenav" opened="true" mode="side">
    <mat-divider></mat-divider>
      <gw-core-vertical id="vertical" />
    <mat-divider></mat-divider>
    <mat-nav-list>
      <gw-core-hierarchical-vertical id="hierarchicalVertical" />
    </mat-nav-list>
  </mat-sidenav>
  <div class="router-outlet__div page">
    <gw-core-loader />
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
<gw-frontend-dashboard-footer />
