.pickListHeaderDiv {
    @extend .rounded-top;
    background-color: var(--pickListTableHeaderBackground);
    padding: 4px;
    color: var(--fontColor);
}

.pickListTableContentsDiv {
    padding: 2px;
    font-size: .8rem;
    background-color: var(--pickListTableContentsBackground);
    color: var(--pickListTableContentsFont);
}

.pickListSelect {
    min-height: 132px;
    max-height: 132px;
}

.help {
    font-size: 1.2rem;
    text-align: center;
    vertical-align: middle;
}

.rounded-top {
    border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
  }