/* Comments */

.Comments_ListTable {border: thick solid #FFFFCC 2px;}
.Comments_ListItem {background-color:#FFFFCC;}
.Comments_ListItem2 {background-color:#FFFFFF;}
.Comments_ListAlternatingItem {border: thick solid #993300 2px;}
.Comments_ListAlternatingItem2 {background-color:#FFFFCC;}
.Comments_ListTitle {font-family: Courier New Bold; font-size: 15px; font-weight: bold; font-variant: none;}
.Comments_ListTitleLink {text-decoration: none; font-size: 12px; font-weight: normal;}
.Comments_ListAuthorLink {text-decoration: none; font-size: 12px; font-weight: normal;}
.Comments_ListDateCreated {font-size: 12px;}
.Comments_ListBriefDescription {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal;}
.Comments_ListReplyLink {text-decoration: none; font-size: 12px; font-weight: normal;}
.Comments_Table {border: none;}
.Comments_IntroCell {background-color:#FFFFCC;} 
.Comments_BodyCell {background-color:#FFFFCC;}
.Comments_Title {font-family: Courier New Bold; font-size: 15px; font-weight: bold; font-variant: none;}
.Comments_AuthorLink {text-decoration: none; font-size: 12px; font-weight: normal;}
.Comments_DateCreated {font-size: 12px;}
.Comments_BriefDescription {font-size: 12px;}
.Comments_ParentLink {text-decoration: none; font-size: 12px; font-weight: normal;}

/* Discuss */
.discussTable 
{   
    border:1px #013DA4 solid;
    background-color:#FFFFFF;
}

.discussTable td
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;


}

.discussTable th 
{
    height: 25px;
    padding: 3px;
    margin: 1px;
    background-image: url(../Images/discussheader.gif);
    background-color: #4455aa;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    font-weight:bold;
}


.discussTable a 
{
    color: navy;
    font-size: 11px;
    text-decoration:underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.discussCell  
{
    padding: 3px;
    margin: 1px;
    background-color: #DDEEFF;
}


.discussCellHilite  
{
    padding: 3px;
    background-color: #D4D9EC;
}

/* HtmlTextBox */

pre 
{
    word-wrap:break-word;
    padding:5px;
    margin-bottom:0px;
    margin-top:0px;
    margin-right:0px;
    margin-left:10px;
    background-color: #DCDDDE;
    font: 10px normal Lucida Console;
}


.postBodyText {padding-bottom:20px;width:500px; overflow-x:auto}
.postBodyText p {margin:0px;}

.commentText {padding-bottom:20px;width:500px; overflow-x:auto}
.commentText p {margin:0px;}

.itemCommentText {padding-bottom:20px;width:500px; overflow-x:auto}
.itemCommentText p {margin:0px;}

.articleBodyText {padding-bottom:20px;width:500px; overflow-x:auto}
.articleBodyText p {margin:0px;}

.bookFullDescription {padding-bottom:20px;width:500px; overflow-x:auto}
.bookFullDescription p {margin:0px;}


.downloadFullDescription {padding-bottom:20px;width:500px; overflow-x:auto}
.downloadFullDescription p {margin:0px;}

.eventFullDescription {padding-bottom:20px;width:500px; overflow-x:auto}
.eventFullDescription p {margin:0px;}

.eventSpeakerBiography {padding-bottom:20px;width:500px; overflow-x:auto}
.eventSpeakerBiography p {margin:0px;}

.itemEventSpeakerBiography {padding-bottom:20px;width:500px; overflow-x:auto}
.itemEventSpeakerBiography p {margin:0px;}

.photoFullDescription {padding-bottom:20px;width:500px; overflow-x:auto}
.photoFullDescription p {margin:0px;}
