<div class="table container">
  <div class="tr">
    <div id="logo" class="td">
      <a (click)="onLogoClick()">Growthware VB</a>
    </div>
    <div class="td spacer" style="display: flex;">
      <div class="td middle_left">
        <button style="outline: none;" mat-icon-button (click)="sidenav().toggle();">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="td middle_right">
        <gw-core-hierarchical-horizontal-flyout
          backgroundColor="#525252"
          fontColor="#fff"
          height="52px"
          hoverBackgroundColor="#2c3e50"
          name="hierarchicalVerticalFlyout"
        />
      </div>
    </div>
    <div class="td right_cell">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person_outline</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        @if (!isAuthenticated()) {
          <div>
            <button (click)="onLogin()" mat-menu-item>
              <mat-icon>login</mat-icon>
              <span>Sign in</span>
            </button>
          </div>
        }
        @if ((isAuthenticated())) {
          <div>
            <div style="border: solid 1px; width: 98%; vertical-align: middle; text-align: center; ">{{accountName()}}</div>
            <a mat-menu-item [routerLink]="['/accounts/edit-my-account']">
              <mat-icon>settings</mat-icon><span>Edit Profile</span>
            </a>
            <a mat-menu-item [routerLink]="['/accounts/change-password']">
              <mat-icon>settings</mat-icon><span>Change Password</span>
            </a>
            <a mat-menu-item [routerLink]="['/accounts/logout']">
              <mat-icon>logout</mat-icon><span>logout</span>
            </a>
          </div>
        }
      </mat-menu>
    </div>
  </div>
</div>