/* Form */

.Form_Title {font-weight: bold; font-size: 17px; font-variant: small-caps;}
.Form_Description {font-size: 12px;}
.Form_Table {background-color: #cccccc; border: thick solid #AAAAAA 1px;}
.Form_LabelRow {font-size: 10pt;}
.Form_LabelCell {font-size: 10pt;}
.Form_LabelText {font-size: 10pt; font-variant: small-caps; white-space: nowrap;}
.Form_LabelTextRed {font-size: 10pt; font-variant: small-caps; color:Red;}
.Form_FieldRow {font-size: 12px;}
.Form_FieldCell {font-size: 12px;}
.Form_Field {font-size: 12px;}
.Form_SectionRow {background-color: #ccccff;}
.Form_SectionCell {font-size: 12pt;}
.Form_SectionText {font-weight: bold;}
.Form_Button {font-size: 12px;}
.Form_HelpText {font-size: 8pt;}
.Form_SubSectionRow {font-size: 13px;}
.Form_SubSectionCell {font-size: 13px;}
.Form_SubSectionText {font-size: 13px;}
.Form_List {font-size: 12px;}
.Form_Message {font-size: 12px; color: #CC0000}