<form [formGroup]="frmProfile" (ngSubmit)="onSubmit()" class="formSize">
    <mat-tab-group mat-align-tabs="center" class="mat-tab__group">
      <mat-tab label="Details" class="mat-tab__tab">
        <div class="div__tab-container formSection">
          <div class="formSectionContents center">
            <div class="table">
                <div class="tr">
                    <div class="td firstCell left">
                        <span class="Form_LabelText">Name:</span>
                    </div>
                    <div class="td middleCell">
                        @if (getErrorMessage('name')) {
                            <mat-error style="display: inline-block; padding-left: 5px; color: red;">*</mat-error>
                        }
                    </div>
                    <div class="td left">
                        <input matInput type="text" formControlName="name" class="Form_Field rounded">
                        <mat-error style="display: inline-block; padding-left: 5px;">{{getErrorMessage('name')}}</mat-error>
                    </div>
                </div>
                <div class="tr">
                    <div class="td firstCell left">
                        <span class="Form_LabelText">Value:</span>
                    </div>
                    <div class="td middleCell">
                        @if (getErrorMessage('value')) {
                            <mat-error style="display: inline-block; padding-left: 5px; color: red;">*</mat-error>
                        }
                    </div>
                    <div class="td left">
                        <input matInput type="text" formControlName="value" class="Form_Field rounded">
                        <mat-error style="display: inline-block; padding-left: 5px;">{{getErrorMessage('value')}}</mat-error>
                    </div>
                </div>
                <div class="tr">
                    <div class="td firstCell left">
                        <span class="Form_LabelText">Status:</span>
                    </div>
                    <div class="td middleCell">&nbsp;</div>
                    <div class="td left">
                        <mat-select [(value)]="selectedStatus" class="Form_Field rounded" style="width: 150px;">
                            @for (item of validStatus; track item) {
                              <mat-option [value]="item.id">
                                {{item.name}}
                              </mat-option>
                            }
                          </mat-select>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="buttonRow">
        @if (canSave) {
            <button type="submit" [disabled]="frmProfile.invalid" mat-button class="Form_Button" color="primary">
                <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">save</i>Save
            </button>
        }
        @if (canDelete) {
            <button type="button" (click)="onDelete()" mat-button class="Form_Button" color="warn">
                <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">delete</i>Delete
            </button>
        }
        <button type="button" (click)="onCancel()" mat-button class="Form_Button" color="accent">
            <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">cancel</i>Cancel
        </button>
    </div>
  </form>