/* The Modal (background) */
.modal-background {
  position: fixed;                          /* Stay in place */
  z-index: 1000;                            /* Sit on top */
  top: 0;                                   /* Ensure it starts from the top */
  left: 0;                                  /* Ensure it starts from the left */
  width: 100%;                              /* Full width */
  height: 100%;                             /* Full height */
  background-color: rgba(0, 0, 0, 0.4);   /* Black w/ opacity */
  display: flex;                            /* Use flexbox for centering */
  align-items: center;                      /* Center vertically */
  justify-content: center;                  /* Center horizontally */
}

.modal__div {
  @extend .rounded-top;
  box-shadow: 0px 2px 7px #292929;
  background-color: whitesmoke;
  position: relative;                 /* Keep relative positioning */
  z-index: 1001;                      /* Higher than modal-background */
  max-width: 90%;                     /* Optional: limit the width */
  max-height: 90%;                    /* Optional: limit the height */
}

.modal-header__div {
  @extend .rounded-top;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: var(--accent-color); // from the body secion of the Angular custom theme
  color: white;
  cursor: grab;

  .modal-close {
    border: none;
    background: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
}


.modal-body__div {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.modal-footer__div {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex; justify-content: flex-end;
  border-top: 1px solid;
}

.toolbar {
  font-size: 1.2rem;
  height: 3.2rem;
  border-top-left-radius: 10px;
  cursor: grab;
  -moz-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}

.button__link {
  margin: auto;
  background: none!important;
  border: none;
  font-size: 1.5rem;
  padding: 0!important;
  /*input has OS specific font-family*/
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-footer__button {
  margin-left: 5px;
}

.rounded-top {
  border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}
