<div class="modal-background">
  <div class="modal__div" #modalDiv cdkDrag>
    <div class="modal-header__div" cdkDragHandle>
      <span>{{ header }}</span>
      <button class="modal-close" (click)="onCancel()">&times;</button>
    </div>
    <div class="modal-body__div" [ngStyle]="{ 'height.px': height, 'width.px': width }">
      <ng-content></ng-content>
    </div>
    @if (showFooter) {
      <div class="modal-footer__div">
        @if (closeBtn.visible) {
          <button id="{{closeBtn.id}}" name="{{closeBtn.name}}" class="modal-footer__button {{closeBtn.class}" (click)="onClose()" mat-raised-button color="primary">{{closeBtn.text}}</button>
        }
        @if (okBtn.visible) {
          <button id="{{okBtn.id}}" name="{{okBtn.name}}" class="modal-footer__button {{okBtn.class}}" data-dismiss="modal" (click)="onOk()" mat-raised-button color="primary">{{okBtn.text}}</button>
        }
      </div>
    }
    <!-- Resize Handles -->
    <div class="resize-handle right" #rightHandle></div>
    <div class="resize-handle bottom" #bottomHandle></div>
    <div class="resize-handle bottom-right" #bottomRightHandle></div> <!-- Lower right corner -->
  </div>
</div>