<form [formGroup]="frmProfile" (ngSubmit)="onSubmit()" novalidate>
  <mat-tab-group mat-align-tabs="center" style="padding-bottom: 0px;">
    <mat-tab label="Details">
      <div class="mat-tab__container formSection">
        <div class="mat-tab__content formSectionContents containerSize">
          <div class="table">
            <div class="tr">
              <div class="td right">
                <span class="Form_LabelText">State:</span>
              </div>
              <div class="td left">
                <span id="lblSate" class="Form_Field">{{state}}</span>
              </div>
            </div>
            <div class="tr">
              <div class="td right">
                <span class="Form_LabelText">Description:</span>
              </div>
              <div class="td top left">
                <textarea matInput id="txtDescription" formControlName="description" #description class="rounded" TextMode="MultiLine" Rows="3" style="Width: 95%;"></textarea>
                <mat-hint align="end">{{description.value.length}}/128</mat-hint>
              </div>
            </div>
            <div class="tr">
              <div class="td right">
                <span class="Form_LabelText">Status: </span>
              </div>
              <div class="td left">
                <mat-select [(value)]="selectedStatus" class="rounded" style="width: 150px;">
                  @for (item of validStatuses; track item) {
                    <mat-option [value]="item.key">
                      {{item.value}}
                    </mat-option>
                  }
                </mat-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="buttonRow">
    @if (canSave) {
      <button type="submit" [disabled]="frmProfile.invalid" mat-button class="Form_Button" color="primary">
        <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">save</i>Save
      </button>
    }
    @if (canDelete) {
      <button type="button" (click)="onDelete()" mat-button class="Form_Button" color="warn">
        <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">delete</i>Delete
      </button>
    }
    <button type="button" (click)="onCancel()" mat-button class="Form_Button" color="accent">
      <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">cancel</i>Cancel
    </button>
  </div>
</form>