body
{
}
.toolbar
{
    font: 1em Arial, Helvetica, Verdana, sans-serif;
    text-align:left;
    padding: 3px;
    filter: 
    progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#ff9900);
}
.HierarchalMenuStyle
{
	background-color:#3F3F3F;
	white-space:nowrap
}
.HierarchalMenuItem
{
	font-family:verdana;
	font-size:10pt;
	padding:2px;
	padding-left:5px;
	padding-right:15px;
	white-space:nowrap
}
.HierarchalMenuMouseup
{
	background-color:#3F3F3F;
	color:white;
	font-family:verdana;
	font-size:10pt;
	padding:2px;
	padding-left:5px;
	padding-right:15px;
	cursor:auto;
	cursor:hand;
	white-space:nowrap
}
.HierarchalMenuMouseover
{
	background-color:#3B5386;
	color:white;
	font-family:verdana;
	font-size:10pt;
	padding:2px;
	padding-left:5px;
	padding-right:15px;
	cursor:auto;
	cursor:hand;
	white-space:nowrap
}
.HierarchalMenuMousedown
{
	background-color:#3B5386;
	color:white;
	font-family:verdana;
	font-size:10pt;
	padding:2px;
	padding-left:5px;
	padding-right:15px;
	cursor:auto;
	cursor:hand;
	white-space:nowrap
}