.sideNav {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.sideNav1 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f7b208
}
.sideNav2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ff9900
}
A.sideNav:link {
	COLOR: #ffffff
}
A.sideNav:visited {
	COLOR: #ffffff
}
A.sideNav:hover {
	COLOR: #f2dac2
}
.topNav {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
.footertext {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
A.footertext:link {
	FONT-WEIGHT: bold; COLOR: #000000
}
A.footertext:visited {
	FONT-WEIGHT: bold; COLOR: #000000
}
A.footertext:hover {
	FONT-WEIGHT: bold; COLOR: #000099
}
.breadcrumb {
	FONT-SIZE: 85%; COLOR: #000099; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
A.breadcrumb:link {
	COLOR: #000099
}
A.breadcrumb:visited {
	COLOR: #000099
}
A.breadcrumb:hover {
	COLOR: #000099
}
.mainText {
	FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
BODY {
	FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 80%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
SPAN {
	FONT-SIZE: 80%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A:link 
{
	FONT-SIZE: 9pt;
	COLOR: #000099
}
A:visited 
{
	FONT-SIZE: 9pt;
	COLOR: #000099
}
A:hover {
	COLOR: #990000
}
.pageheader {
	FONT-WEIGHT: bold; FONT-SIZE: large; COLOR: #000099
}
.eventsHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #336699
}
A.eventsHeader:link {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #336699
}
A.eventsHeader:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #336699
}
A.eventsHeader:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #336699
}
.eventsSubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #6699cc
}
.eventsDetail {
	FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee
}
.eventsDetail2 {
	FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e0dfe3
}
.linksHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #000000; TEXT-DECORATION: underline
}
A.linksHeader:link {
	FONT-WEIGHT: bold; COLOR: #000000
}
A.linksHeader:visited {
	FONT-WEIGHT: bold; COLOR: #000000
}
A.linksHeader:hover {
	FONT-WEIGHT: bold; COLOR: #000099
}
.requiredText {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.hidden {
	VISIBILITY: hidden; POSITION: absolute
}
.visible {
	VISIBILITY: visible; POSITION: absolute
}
.alternatingItemStyle
{
	font: 12px Arial;
	background-color: #cccccc;
}
.itemStyle
{
	font: 12px Arial;
	text-align: left;
}