<div style="margin-left: 20px;">
  <div class="clear-filter selection-controls">
    <div>
      <!-- Delete Selected Button -->
      <button type="button" [disabled]="!anySelected" (click)="onDeleteSelected()" mat-button class="delete-button" color="warn" aria-label="Delete selected files">
        <i style="padding-right: 3px" class="Form_Button_Icon material-icons">delete</i>Delete all checked
      </button>
    </div>
    <div>
      <mat-form-field appearance="outline" dense style="padding-right: 20px;">
        <mat-label>Search files...</mat-label>
        <input matInput type="text" [(ngModel)]="filterTerm" (input)="onFilterChange($event)" aria-label="Search files">
        <button mat-icon-button matSuffix (click)="filterTerm = ''; onFilterChange($event)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Selected Column -->
      <ng-container matColumnDef="selected">
        <th mat-header-cell *matHeaderCellDef>
          <label class="checkbox-label" style="width: 100px;">
            <input type="checkbox" [checked]="allSelected" (change)="onToggleSelectAll($event)" aria-label="Select or unselect all files" />
            {{selectUnselectText}} all  
          </label>
        </th>
        <td mat-cell *matCellDef="let row">
          <div style="display: flex; align-items: center; justify-content: center;">
            <input type="checkbox" [checked]="row.selected" (change)="row.selected = !row.selected;" class="select-all-checkbox" aria-label="Select or unselect the row" />
          </div>
        </td>
      </ng-container>

      <!-- Full Name Column -->
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
        <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>
      </ng-container>
  
      <!-- createdShort Column -->
      <ng-container matColumnDef="createdShort">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
        <td mat-cell *matCellDef="let row"> {{row.createdShort}} </td>
      </ng-container>
  
      <!-- Modified Short Column -->
      <ng-container matColumnDef="modifiedShort">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified </th>
        <td mat-cell *matCellDef="let row"> {{row.modifiedShort}} </td>
      </ng-container>
  
      <!-- Size Column -->
      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
        <td mat-cell *matCellDef="let row"> {{row.size}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (contextmenu)="onRightClick($event, row)"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{filterTerm}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  <!-- an hidden div is created to set the position of appearance of the menu-->
  <div
    style="visibility: hidden; position: fixed;"
    [style.left.px]="menuTopLeftPosition.x"
    [style.top.px]="menuTopLeftPosition.y"
    [matMenuTriggerFor]="rightMenu">
  </div>

  <!-- standard material menu -->
  <mat-menu #rightMenu="matMenu">
    <ng-template matMenuContent let-item="item">
      @if (showDelete) {
        <button mat-menu-item (click)="onMenuDeleteClick(item)">Delete</button>
      }
      @if (showDownload) {
        <button mat-menu-item (click)="onMenuDownloadClick(item)">Download</button>
      }
      @if (showRename) {
        <button mat-menu-item (click)="onMenuRenameClick(item)">Rename</button>
      }
      <button mat-menu-item (click)="onMenuPropertiesClick(item)">Properties</button>
    </ng-template>
  </mat-menu>
</div>
<ng-template #deleteFile>
  <div style="width: 100%;">
    Are you sure you would like to delete<br>'{{selectedFile.name}}'?
  </div>
</ng-template>

<ng-template #deleteSelected>
  <div style="width: 100%;">
    Are you sure you would like to delete all of the selected files?
  </div>
</ng-template>

<ng-template #renameFile>
  <div class="formSection">
    <div class="formSectionContents">
      <form [formGroup]="frmRenameFile" (ngSubmit)="onRenameSubmit(frmRenameFile)">
        <div class="table">
          <div class="tr">
            <div class="td left">
              <span class="Form_LabelText">New name&nbsp;:</span>
            </div>
            <div class="td right">
              <input formControlName="newFileName" class="Form_Field rounded" id="newFileName" />&nbsp;
            </div>
            <div class="td">
              @if (getControls['newFileName'].hasError('required')) {
                <span class="Form_LabelTextRed">{{getErrorMessage('newFileName')}}</span>
              }
            </div>
          </div>
          <div class="tr">
            <div class="td"></div>
            <div class="td right">
              <button type="submit" [disabled]="frmRenameFile.invalid" mat-button class="Form_Button" color="primary">
                <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">save</i>Save
              </button>
            </div>
            <div class="td"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #fileProperties>
  <div class="formSection">
    <div class="formSectionContents">
      <div class="table Form_Table" style="margin: auto; width: 98%">
        <div class="tr Form_LabelRow">
          <div class="td right"><span class="Form_LabelText">Name:</span></div>
          <div class="td left"><span class="Form_FieldCell bold">{{selectedFile.name}}</span></div>
          <div class="td right"><span class="Form_LabelText">Size:</span></div>
          <div class="td left"><span class="Form_FieldCell bold">{{selectedFile.size}}</span></div>
        </div>
        <div class="tr Form_LabelRow">
          <div class="td right"><span class="Form_LabelText">Created:</span></div>
          <div class="td left"><div class="td left"><span class="Form_FieldCell bold">{{selectedFile.createdShort}}</span></div></div>
          <div class="td right"><span class="Form_LabelText">Modified:</span></div>
          <div class="td left"><span class="Form_FieldCell bold">{{selectedFile.modifiedShort}}</span></div>
        </div>
        <div class="tr">
          <div class="td right"></div>
          <div class="td left"></div>
          <div class="td right"></div>
          <div class="td left"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
