<div class="table">
    <div class="tr" style="border: solid 1px; border: solid 1px">
        <div class="td rtght" style="max-width: 250px; border: solid 1px;">Name Value Pair</div>
        <div class="td left" style="border: solid 1px;">Name Value Pair Child</div>
    </div>
    <div class="tr" style="border: solid 1px;">
        <div class="td rtght" style="max-width: 250px; border: solid 1px;">Name Value Pair</div>
        <div class="td left" style="border: solid 1px;">Name Value Pair Child</div>
    </div>
</div>
