<div>
  <gw-core-toaster />
  @if ((skin$ | async); as layout) {
    @switch (layout) {
      @case ('arc') {
        <gw-frontend-arc-layout />
      }
      @case ('dashboard') {
        <gw-frontend-dashboard-layout />
      }
      @case ('default') {
        <gw-frontend-default-layout />
      }
      @case ('blue arrow') {
        <gw-frontend-blue-arrow-layout />
      }
      @case ('devops') {
        <gw-frontend-dev-ops-layout />
      }
      @case ('professional') {
        <gw-frontend-professional-layout />
      }
      @default {
        <div><gw-frontend-default-layout /></div>
      }
    }
  }
  <ng-template #loading>
    loading...
  </ng-template>
</div>