@if (calendar) {
  <table class='calendar-table'>
    <thead>
      <tr style="text-align: center; width: 100%">
        <td colspan="7">
          <h1 style="text-align: center; width: 100%">{{displayMonth}}&nbsp;{{displayYear}}</h1>
          <div>
            <button (click)="decrease()" mat-button class="Form_Button" color="primary">
              <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">remove</i>
            </button>
            <button (click)="currentDate()" mat-button class="Form_Button" color="primary">
              Today
            </button>
            <button (click)="increase()" mat-button class="Form_Button" color="primary">
              <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">add</i>
            </button>
            <mat-radio-group [(ngModel)]="incrementBy">
              <mat-radio-button value="month">Month</mat-radio-button>
              <mat-radio-button value="year">Year</mat-radio-button>
            </mat-radio-group>            
          </div>
        </td>
      </tr>
      <tr>
        @for (dayOfWeek of weekDayNames; track dayOfWeek) {
          <th>{{dayOfWeek}}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (week of calendar.weeks; track week; let weekIndex = $index) {
        <tr>
          @for (day of week.days; track day; let dayIndex = $index) {
            <td>
              <gw-core-day-of-week [calendarDay]=day [weekNumber]=weekIndex></gw-core-day-of-week>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
}