<gw-core-loader />
<gw-frontend-arc-header></gw-frontend-arc-header>
<mat-sidenav-container class="sidenav-container" color="primary" autosize>
    <mat-sidenav #sidenav class="sidenav" opened="true" mode="side">
        <div class="table">
            <div class="tr">
                <div class="td top" style="width: 135px; padding: 0px; margin: 0px;">
                    <gw-core-vertical id="vertical" />
                    <mat-divider></mat-divider>
                    <mat-nav-list>
                      <gw-core-hierarchical-vertical id="hierarchicalVertical" />
                    </mat-nav-list>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="table">
            <div class="tr">
                <div class="td left">{{greeting}}</div>
                <div class="td right">
                    <gw-core-horizontal id="horizontal" fontColor="black" />
                </div>
            </div>
        </div>
        <div class="router-outlet__div page">
            <router-outlet></router-outlet>
        </div>    
    </mat-sidenav-content>
</mat-sidenav-container>
<gw-frontend-arc-footer></gw-frontend-arc-footer>
