<div class="table">
  <div class="tr">
    <div class="td center blue leftColumnCell">
      <img src='assets\bluearrow\images\CompanyLogo.gif' style="height: 65px;" />
    </div>
    <div class="td grey top center">
      @if (environment() !== 'Production') {
      <span id="spEnvironment" style="color: Black;">Environment: {{environment()}}</span><br />
      }
      <span id="spSecurityEntity" style="color: Black;">{{securityEntityTranslation()}}:  {{securityEntityName()}}</span><br />
      Version: <span id="spVersion" style="color: Black;">{{version()}}</span>
    </div>
  </div>
  <div class="tr separatorRow">
    <div class="td leftColumnCell"></div>
    <div class="td"></div>
  </div>
  <div class="tr separatorRow">
    <div class="td grey leftColumnCell"></div>
    <div class="td blue"></div>
  </div>
  <div class="tr">
    <div class="td leftColumnCell"></div>
    <div class="td">
      <gw-core-horizontal id="horizontal" fontColor="black" />
    </div>
  </div>
  <div class="tr">
    <div class="td left leftColumnCell top">
      <gw-core-vertical id="vertical" />
      <mat-divider></mat-divider>
      <gw-core-hierarchical-vertical
        flyout="true"
        backgroundColor="#525252"
        fontColor="#fff"
        height="52px"
        hoverBackgroundColor="#2c3e50"
        name="hierarchicalVerticalFlyout"
        id="hierarchicalVerticalFlyout"
      />
    </div>
    <div class="td">
      <div class="router-outlet__div page">
        <gw-core-loader />
        <router-outlet></router-outlet>  
      </div>
    </div>
  </div>
  <div class="tr separatorRow">
    <div class="td blue leftColumnCell"></div>
    <div class="td grey center">
      <gw-frontend-blue-arrow-footer></gw-frontend-blue-arrow-footer>
    </div>
  </div>
</div>