<form [formGroup]="frmProfile" (ngSubmit)="onSubmit(frmProfile)" novalidate>
    <div class="mat-tab__container formSection">
        <div class="mat-tab__content formSectionContents tabHeight">
            <div class="table">
                <div class="tr">
                    <div class="td top right">
                        <span class="Form_LabelText">{{securityEntityTranslation}}:</span>
                    </div>
                    <div class="td left">
                        <span id="litSecurityEntity" *ngIf="!canEnterName">{{securityEntityName}}</span>
                        <div *ngIf="canEnterName">
                            <textarea matInput id="txtName" formControlName="name" #name class="rounded" TextMode="MultiLine" Rows="3" style="Width: 95%;"></textarea>
                            <mat-hint align="end">{{name.value.length}}/256</mat-hint>
                        </div>
                    </div>
                </div>
                <div class="tr">
                    <div class="td top right">
                        <span class="Form_LabelText">Description:</span>
                    </div>
                    <div class="td left">
                        <textarea matInput id="txtDescription" formControlName="description" #description class="rounded" TextMode="MultiLine" Rows="3" style="Width: 95%;"></textarea>
                        <mat-hint align="end">{{description.value.length}}/512</mat-hint>
                    </div>
                </div>
                <div class="tr">
                    <div class="td top right">
                        <span class="Form_LabelText">URL:</span>
                    </div>
                    <div class="td left">
                        <input matInput id="txtUrl" type="text" formControlName="url" #url class="Form_Field rounded" style="Width: 95%;">
                        <br/>
                        <mat-hint align="end">{{url.value.length}}/128</mat-hint>
                    </div>
                </div>
                <div class="tr">
                    <div class="td top right">
                        <span class="Form_LabelText">Data Access Layer:</span>
                    </div>
                    <div class="td left">
                        <mat-select [(value)]="selectedDal" class="rounded" style="width: 150px;">
                            <mat-option *ngFor="let item of validDataAccessLayers" [value]="item.name">
                                {{item.payLoad}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="tr">
                    <div class="td top right">
                        <span class="Form_LabelText">Data access layer DLL Name:</span>
                    </div>
                    <div class="td left">
                        <input matInput id="txtDataAccessLayerAssemblyName" type="text" formControlName="dataAccessLayerAssemblyName" #dataAccessLayerAssemblyName class="Form_Field rounded" style="Width: 95%;">
                        <br/>
                        <mat-hint align="end">{{dataAccessLayerAssemblyName.value.length}}/50</mat-hint>
                    </div>
                </div>
                <div class="tr">
                    <div class="td top right">
                        <span class="Form_LabelText">Data access layer Namespace:</span>
                    </div>
                    <div class="td left">
                        <input matInput id="txtDataAccessLayerNamespace" type="text" formControlName="dataAccessLayerNamespace" #dataAccessLayerNamespace class="Form_Field rounded" style="Width: 95%;">
                        <br/>
                        <mat-hint align="end">{{dataAccessLayerNamespace.value.length}}/50</mat-hint>
                    </div>
                </div>
                <div class="tr">
                    <div class="td top right">
                        <span class="Form_LabelText">Connection String:</span><br />
                        <a href="http://www.connectionstrings.com/" target="_blank">Build</a>
                    </div>
                    <div class="td left">
                        <textarea matInput id="txtConnectionString" formControlName="connectionString" #connectionString class="rounded" TextMode="MultiLine" Rows="3" style="Width: 95%;"></textarea>
                        <mat-hint align="end">{{connectionString.value.length}}/512</mat-hint>
                    </div>
                </div>
            </div>
            <hr>
            <div class="table">
                <div class="tr">
                    <div class="td">
                        <span class="Form_LabelText">Parent:</span><br />
                        <mat-select [(value)]="selectedParent" class="rounded" style="width: 150px;">
                            <mat-option *ngFor="let item of validParents" [value]="item.key">
                                {{item.value}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="td">
                        <span class="Form_LabelText">Skin:</span><br />
                        <mat-select [(value)]="selectedSkin" class="rounded" style="width: 180px;">
                            <mat-option *ngFor="let item of validSkins" [value]="item.name">
                                {{item.payLoad}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div *ngIf="false" class="td">
                        <span *ngIf="false" class="Form_LabelText">Style:</span><br />
                        <mat-select *ngIf="false" [(value)]="selectedStyle" class="rounded" style="width: 180px;">
                            <mat-option *ngFor="let item of validSkins" [value]="item.name">
                                {{item.payLoad}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="td">
                        <span class="Form_LabelText">Encrypt Type:</span><br />
                        <mat-select [(value)]="selectedEncryptionType" class="rounded" style="width: 150px;">
                            <mat-option *ngFor="let item of validEncryptionTypes" [value]="item.key">
                                {{item.value}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="td">
                        <span class="Form_LabelText">Status:</span><br />
                        <mat-select [(value)]="selectedStatusSeqId" class="rounded" style="width: 150px;">
                            <mat-option *ngFor="let item of validStatuses" [value]="item.key">
                                {{item.value}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttonRow">
            <button type="submit" [disabled]="frmProfile.invalid" mat-button class="Form_Button" color="primary">
              <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">save</i>Save
            </button>
            <button type="button" *ngIf="canDelete" (click)="onDelete()" mat-button class="Form_Button" color="warn">
              <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">delete</i>Delete
            </button>
            <button type="button" (click)="onCancel()" mat-button class="Form_Button" color="accent">
              <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">cancel</i>Cancel
            </button>
          </div>
    </div>    
</form>
