
.loginForm {
  max-height: calc(225px - 115px);
  max-width: calc(450px - 50px);  
  min-height: calc(225px - 115px);
  min-width: calc(450px - 50px);  
}

.loginForm > div {
  margin-top: 5px;
}

.loginForm__mat-form-field {
  width: 420px;
}

.loginForm-footer__div {
  display: flex; 
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.loginForm-footer__div a {
  cursor: pointer;
}
