.header {
    background-color: DarkTurquoise;
    color: Cornsilk;
    display: flex;
    height: 1.6rem;
    min-height: 1.6rem;
    cursor: pointer;
    font-size: 12px;
}

.header__icon-button {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    /* Remove default padding */
}

.header__mat-icon {
    padding-top: 5px;
    font-size: 1rem;
    /* Adjust the icon size as needed */
}

.header__date {
    flex-grow: 1;
    margin-right: 10px;
}

.grey-header {
    background-color: whitesmoke;
    color: black;
}

.selected-header {
    background-color: CornflowerBlue;
    color: white;
}

.selected-header i {
    color: white;
}

.selected-header svg { /* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
    fill: white;
}

.event-body {
    padding-top: 15px;
    background-color: white;
    border: 1px solid #dee2e6;
    height: 150px;
    overflow-y: scroll;
}

.event-body__event {
    cursor: pointer;
    color: white;
    font-size: .6rem;
    margin-bottom: 5px;
}
