<form [formGroup]="frmProfile" (ngSubmit)="onSubmit()">
    <mat-tab-group mat-align-tabs="center" style="padding-bottom: 0px;">
        <mat-tab label="Details">
            <div class="mat-tab__container">
                <div class="mat-tab__content formSectionContents containerSize">
                    <div class="table">
                        <div class="tr">
                            <div class="td firstCell left">
                                <mat-form-field>
                                    <mat-label>Angular forms</mat-label>
                                    <input matInput [matDatepicker]="picker1" [formControl]="selectedEventDate">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="td middleCell"></div>
                            <div class="td left">
                            </div>
                        </div>
                    </div>
                    <gw-core-time-picker [endDate]=endDate [startDate]=startDate (timeRangeSelected)="timeRangeSelected($event)" />
                    <div class="table">
                        <div class="tr">
                            <div class="td firstCell left">
                                <span class="Form_LabelText">Title:</span>
                            </div>
                            <div class="td middleCell">
                                @if (getErrorMessage('title')) {
                                    <mat-error style="display: inline-block; padding-left: 5px; color: red;">*</mat-error>
                                }
                            </div>
                            <div class="td left">
                                <input matInput type="text" formControlName="title" class="Form_Field rounded">
                                <mat-error style="display: inline-block; padding-left: 5px;">{{getErrorMessage('title')}}</mat-error>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td firstCell left">
                                <span class="Form_LabelText">All Day:</span>
                            </div>
                            <div class="td middleCell"></div>
                            <div class="td left">
                                <input formControlName="allDay" type="checkbox" id="chkAllDay" class="Form_Field" checked="true" text="All Day" />
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td firstCell left">
                                <span class="Form_LabelText">Description:</span>
                            </div>
                            <div class="td middleCell"></div>
                            <div class="td left">
                                <textarea matInput id="txtDescription" formControlName="description" #description class="rounded" TextMode="MultiLine" Rows="3" style="Width: 95%;"></textarea>
                                <mat-hint align="end">{{description.value.length}}/512</mat-hint>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td firstCell left">
                                <span class="Form_LabelText">Priority:</span>
                            </div>
                            <div class="td middleCell"></div>
                            <div class="td left">
                                <mat-select placeholder="Priority" [(value)]="selectedColor" class="rounded" style="width: 150px;">
                                    @for (item of validColors; track item) {
                                        <mat-option [value]="item.name">
                                            {{item.value}}
                                        </mat-option>
                                    }
                                </mat-select>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td firstCell left">
                                <span class="Form_LabelText">Link:</span>
                            </div>
                            <div class="td middleCell"></div>
                            <div class="td left">
                                <textarea matInput id="txtLink" formControlName="link" #link class="rounded" TextMode="MultiLine" Rows="3" style="Width: 95%;"></textarea>
                                <mat-hint align="end">{{link.value.length}}/255</mat-hint>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td firstCell left">
                                <span class="Form_LabelText">Location:</span>
                            </div>
                            <div class="td middleCell"></div>
                            <div class="td left">
                                <textarea matInput id="txtLocation" formControlName="location" #location class="rounded" TextMode="MultiLine" Rows="3" style="Width: 95%;"></textarea>
                                <mat-hint align="end">{{location.value.length}}/255</mat-hint>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="buttonRow">
        @if (canSave) {
            <button type="submit" [disabled]="frmProfile.invalid" mat-button class="Form_Button" color="primary">
                <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">save</i>Save
            </button>
        }
        @if (canDelete) {
            <button type="button" (click)="onDelete()" mat-button class="Form_Button" color="warn">
                <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">delete</i>Delete
            </button>
        }
        <button type="button" (click)="onCancel()" mat-button class="Form_Button" color="accent">
            <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">cancel</i>Cancel
        </button>
    </div>
</form>
