<gw-frontend-dashboard-header [sidenav]="drawer"></gw-frontend-dashboard-header>
<mat-drawer-container class="drawer-container" color="primary" autosize>
  <mat-drawer #drawer class="drawer-sidenav" opened="true" mode="side">
    <mat-divider></mat-divider>
      <gw-lib-vertical name="vertical"></gw-lib-vertical>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <gw-lib-hierarchical-vertical name="hierarchicalVertical"></gw-lib-hierarchical-vertical>
    </mat-nav-list>
  </mat-drawer>
  <div class="router-outlet__div page">
    <gw-lib-loader></gw-lib-loader>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
<gw-frontend-dashboard-footer></gw-frontend-dashboard-footer>
