<form [formGroup]="theForm" (ngSubmit)="onSubmit()" class="formSize">
    <mat-tab-group mat-align-tabs="center" class="mat-tab__group">
        <mat-tab label="Test Modal" class="mat-tab__tab">
            <div class="div__tab-container formSection">
                <div class="formSectionContents center">
                    <div class="table">
                        <div class="tr">
                            <div class="td left">
                                <mat-form-field style="width: 98%;">
                                    <mat-label>Title</mat-label>
                                    <input matInput placeholder="Ex. My Title" value="" formControlName="title">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td left">
                                <mat-form-field style="width: 98%;">
                                    <mat-label>Message</mat-label>
                                    <textarea matInput placeholder="Ex. My Message" formControlName="msg"></textarea>
                                    <mat-hint align="end">{{ controls['msg'].getRawValue().length }}/512</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td">
                                <label id="payloadGroupLable" style="font-weight: bold;">Select the payload type</label>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td">
                                <div class="table">
                                    <div class="tr">
                                        <mat-radio-group aria-labelledby="colorSchemGroupLabel" formControlName="selectedPayload">
                                            <div class="td">
                                                <mat-radio-button [value]="'string'">
                                                    <div style="display: inline-block; width: 50px;">String </div>
                                                </mat-radio-button>
                                            </div>
                                            <div class="td">
                                                <mat-radio-button [value]="'templateRef'">
                                                    <div style="display: inline-block; width: 50px;">Template </div>
                                                </mat-radio-button>
                                            </div>
                                            <div class="td">
                                                <mat-radio-button [value]="'component'">
                                                    <div style="display: inline-block; width: 50px;">Component </div>
                                                </mat-radio-button>
                                            </div>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="buttonRow">
        <button type="submit" [disabled]="theForm.invalid" mat-button class="Form_Button" color="primary">
            <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">open_in_new</i>open
        </button>
    </div>
</form>

<ng-template #templateRef>
    <div style="width: 100%;">
        Are you sure you would like to delete all of the selected files?
    </div>
</ng-template>