.HierarchalMenuStyle
{
	white-space:nowrap
}

.HierarchalMenuSubMenu
{	
	background-color: #4B63AE;
	color: White;
	border-width: 3px;
	border-bottom-color:#FFE7CA;
	border-top-color:#FFE7CA;
	border-left-color:#FFE7CA;
	border-right-color:#FFE7CA;
	border-style: solid
}

.HierarchalMenuItem
{
	FONT: 1em Arial, Helvetica, Verdana, sans-serif;
	TEXT-DECORATION: none;
	white-space: nowrap
}
.HierarchalMenuMouseup
{
	COLOR: white; 
	TEXT-DECORATION: none;
	border-style:none;
	cursor:hand
}
.HierarchalMenuMouseover
{
	background-color: #6678B3;
	COLOR: white; 
	TEXT-DECORATION: none;
	cursor:hand;
	white-space: nowrap
}
.HierarchalMenuMousedown
{
	background-color:#3B5386;
	color:white;
	border-style:none;
	cursor:hand
}