toolbar {
    block-size: fit-content;
    height: 2.5rem;
    border: 1px solid whitesmoke;
}

.container {
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    margin-left: 0;
    width: calc(100% - 2px);
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
}

.directories {
    display: inline-block;
    border-right: 1px solid whitesmoke; 
    width: 300px; 
    overflow-y: scroll;
    overflow-x: auto;
}

.fileList {
    vertical-align: top;
    display: inline-block;
}
