<form [formGroup]="frmProfile" (ngSubmit)="onSubmit()">
    <mat-tab-group mat-align-tabs="center" style="padding-bottom: 0px;">
        <mat-tab label="Details">
            <div class="mat-tab__container">
                <div class="mat-tab__content formSectionContents tabHeight">
                    <p>name-value-pair-child-detail works!</p>
                </div>    
            </div>
        </mat-tab>
    </mat-tab-group>
    <br/>
    <div class="buttonRow">
        @if (canSave) {
            <button type="submit" [disabled]="frmProfile.invalid" mat-button class="Form_Button" color="primary">
                <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">save</i>Save
            </button>
        }
        @if (canDelete) {
            <button type="button" (click)="onDelete()" mat-button class="Form_Button" color="warn">
                <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">delete</i>Delete
            </button>
        }
        <button type="button" (click)="onCancel()" mat-button class="Form_Button" color="accent">
            <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">cancel</i>Cancel
        </button>
    </div>
</form>