<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="App_Displayed_Name" value="Growthware Web Application" />
    <add key="AuthenticationTypes" value="Internal,LDAP" />
    <add key="Central_Management" value="False" />
    <add key="Conversion_Pattern" value="%d [%t] %-5p - %m%n" />
    <add key="DB_Status" value="OnLine" />
    <add key="Encryption_Type" value="1" />
    <add key="Encryption_SaltExpression" value="Growthware Web Application" />
    <add key="Environment" value="Local" />
    <add key="Environments" value="Local" />
    <add key="Security_Entity_Translation" value="Security Entity" />
    <add key="Server_Side_View_State" value="True" />
    <add key="Server_Side_View_State_Pages" value="16" />
    <add key="Strip_Domain_From_Http_Context_UserName" value="False" />
    <add key="Local_Actions_AccessDenied" value="AccessDenied" />
    <add key="Local_Actions_ChangePassword" value="ChangePassword" />
    <add key="Local_Actions_EditAccount" value="EditAccount" />
    <add key="Local_Actions_EditFunction" value="Search_Functions" />
    <add key="Local_Actions_EditGroups" value="Manage_Groups" />
    <add key="Local_Actions_EditMessages" value="Search_Messages" />
    <add key="Local_Actions_EditOtherAccount" value="Search_Accounts" />
    <add key="Local_Actions_EditRoles" value="Search_Roles" />
    <add key="Local_Actions_EditSecurityEntity" value="Search_Security_Entities" />
    <add key="Local_Actions_Encryption_Helper" value="Encryption_Helper" />
    <add key="Local_Actions_Logon" value="Logon" />
    <add key="Local_Actions_View_Account_Group_Tab" value="View_Account_Group_Tab" />
    <add key="Local_Actions_View_Account_Role_Tab" value="View_Account_Role_Tab" />
    <add key="Local_Authentication_Type" value="Internal" />
    <add key="Local_Auto_Create_Account" value="True" />
    <add key="Local_Auto_Create_Account_StatusId" value="5" />
    <add key="Local_App_Name" value="" />
    <add key="Local_DAL" value="SQLServer" />
    <add key="Local_DAL_SQLServer_Assembly_Name" value="GrowthWare.Framework.BusinessData" />
    <add key="Local_DAL_SQLServer_Name_Space" value="GrowthWare.Framework.BusinessData.DataAccessLayer.SQLServer.V2008" />
    <add key="Local_DAL_SQLServer_Connectionstring" value="server=(local);Integrated Security=SSPI;database=GW2013Development;connection reset=false;connection lifetime=5;enlist=true;min pool size=1;max pool size=50" />
    <add key="Local_Default_Security_Entity_ID" value="1" />
    <add key="Local_Enable_Cache" value="true" />
    <add key="Local_Enable_Encryption" value="True" />
    <add key="Local_Failed_Attempts" value="3" />
    <add key="Local_Force_HTTPS" value="False" />
    <add key="Local_LDAP_Domain" value="YourDomain" />
    <add key="Local_LDAP_Server" value="LDAP://ad.YourDomain.???" />
    <add key="Local_Log_Path" value="D:\Development\GrowthWare\2013\VB\GrowthWare.WebApplication\Logs\" />
    <add key="Local_Log_Priority" value="debug" />
    <add key="Local_Log_Retention" value="5" />
    <add key="Local_RegistrationAccountChoicesAccount" value="Mike" />
    <add key="Local_RegistrationGroups" value="Everyone" />
    <add key="Local_RegistrationPassword" value="Welcome" />
    <add key="Local_RegistrationPostAction" value="Welcome" />
    <add key="Local_RegistrationRoles" value="asdf" />
    <add key="Local_RegistrationStatusId" value="5" />
    <add key="Local_RegistrationSecurityEntityId" value="3" />
    <add key="Local_EnableThirdPartyAuthentication" value="true" />
    <add key="Local_EnableGoogleAuthentication" value="true" />
    <add key="Local_GoogleClientId" value="583572977840-o8nb6q2oo2i5jk8iuduo3mu7ci4p1dah.apps.googleusercontent.com" />
    <add key="Local_GoogleClientSecret" value="SHaNce3DoaGi-BO8mmmcvNUx" />
    <add key="Local_EnableFacebookAuthentication" value="false" />
    <add key="Local_FacebookAppId" value="" />
    <add key="Local_FacebookAppSecret" value="" />
    <add key="Local_EnableTwitterAuthentication" value="false" />
    <add key="Local_TwitterConsumerKey" value="" />
    <add key="Local_TwitterConsumerSecret" value="" />
    <add key="Local_EnableMicrosoftAccountAuthentication" value="false" />
    <add key="Local_MicrosoftAccountClientId" value="" />
    <add key="Local_MicrosoftAccountClientSecret" value="" />
  </appSettings>

  <system.web>
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows">
        <forms loginUrl="index.aspx?Action=Logon" />
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="GWHttpContextModule" type="GrowthWare.WebSupport.Context.HttpContextModule,GrowthWare.WebSupport" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <defaultDocument>
        <files>
            <add value="index.aspx" />
        </files>
    </defaultDocument>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>