<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="web.optimization" type="Web.Optimization.Configuration.OptimizationSection" />
  </configSections>
  <appSettings>
    <add key="AuthenticationTypes" value="Internal,LDAP,MicrosoftAccount,Twitter,Facebook,Google,SAML20,OAuth2" />
    <add key="Central_Management" value="False" />
    <add key="Conversion_Pattern" value="%d [%t] %-5p %c [%x] - %m%n" />
    <add key="DB_Status" value="OnLine" />
    <add key="Encryption_Type" value="1" />
    <add key="Environment" value="Local" />
    <add key="Environments" value="Local" />
    <add key="Server_Side_View_State" value="True" />
    <add key="Server_Side_View_State_Pages" value="16" />
    <add key="Strip_Domain_From_Http_Context_UserName" value="False" />
    <add key="Local_Authentication_Type" value="Internal" />
    <add key="Local_App_Name" value="" />
    <add key="Local_DAL" value="SQLServer" />
    <add key="Local_DAL_SQLServer_Assembly_Name" value="GrowthWare.Framework.BusinessData" />
    <add key="Local_DAL_SQLServer_Name_Space" value="GrowthWare.Framework.BusinessData.DataAccessLayer.SQLServer.V2008" />
    <add key="Local_DAL_SQLServer_Connectionstring" value="server=(local);Integrated Security=SSPI;database=GW2013Development;connection reset=false;connection lifetime=5;enlist=true;min pool size=1;max pool size=50" />
    <add key="Local_Default_Security_Entity_ID" value="1" />
    <add key="Local_Enable_Cache" value="true" />
    <add key="Local_Enable_Encryption" value="True" />
    <add key="Local_Force_HTTPS" value="False" />
    <add key="Local_LDAP_Domain" value="YourDomain" />
    <add key="Local_LDAP_Server" value="LDAP://ad.YourDomain.???" />
    <add key="Local_Log_Path" value="D:\Development\GrowthWare\2013\VB\GrowthWare.WebApplication\Logs\" />
    <add key="Local_Log_Priority" value="Error" />
    <add key="Local_Log_Retention" value="5" />
    <add key="Local_RegistrationAccountChoicesAccount" value="Mike" />
    <add key="Local_RegistrationGroups" value="Everyone" />
    <add key="Local_RegistrationRoles" value="" />
    <add key="Local_RegistrationSecurityEntityId" value="1" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="GWHttpContextModule" type="GrowthWare.WebSupport.Context.HttpContextModule,GrowthWare.WebSupport" />
    </httpModules>
        <authentication mode="Forms" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="GWHttpContextModule" type="GrowthWare.WebSupport.Context.HttpContextModule,GrowthWare.WebSupport" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <remove value="Default.aspx" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <web.optimization>
    <bundles>
      <bundle virtualPath="~/Content/sample" transform="System.Web.Optimization.JsMinify, System.Web.Optimization">
        <content>
          <!-- Add some single files -->
          <!-- <add path="~/Scripts/validation.js" /> -->
          <!-- <add path="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js" /> -->
          <!-- Add a directory (and its subdirectories) -->
          <!-- <add path="~/Scripts/Plugins" searchPattern="*.js" searchSubdirectories="true" /> -->
        </content>
        <!--
        If you want to apply multiple transformations, 
        you should remove the "transform" attribute from the bundle. 
        -->
        <!--
        <transformations>
          <add type="Web.Optimization.Bundles.CoffeeScript.CoffeeScriptTransform, Web.Optimization.Bundles.CoffeeScript" />
          <add type="System.Web.Optimization.JsMinify, System.Web.Optimization" />
        </transformations>
        -->
      </bundle>
    </bundles>
  </web.optimization>
</configuration>