<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="AuthenticationTypes" value="Internal,LDAP,MicrosoftAccount,Twitter,Facebook,Google,SAML20,OAuth2" />
    <add key="Central_Management" value="False" />
    <add key="Conversion_Pattern" value="%d [%t] %-5p %c [%x] - %m%n" />
    <add key="Environment" value="Local" />
    <add key="Environments" value="Local" />
    
    <add key="Local_Authentication_Type" value="Internal" />
    <add key="Local_DAL" value="SQLServer" />
    <!--<add key="Local_DAL_SQLServer_Assembly_Name" value="GrowthWare.Framework.Data" />-->
    <add key="Local_DAL_SQLServer_Assembly_Name" value="GrowthWare.Framework.BusinessData" />
    <add key="Local_DAL_SQLServer_Name_Space" value="GrowthWare.Framework.BusinessData.DataAccessLayer.SQLServer.V2008" />
    <add key="Local_DAL_SQLServer_Connectionstring" value="lbvEYZqfkQqpsXUDYkyllWjHNU8+zeHaLd3iosrjhjqVkOfLgk8tqhNh1RHfjCgNc9cBoSvcDqewZt17gf6Nxw3uXg8UvlCO8SMCJ1cNpg+M64JBRvSl4EdPc6fkf4LDlYl66Wr38GEeRTPnnek9h01yhja8EYzxAEgMLGYN4In2UAYaGC3A1vZPt+SJfoaKPsne2zjoaRRdIw1gDeItkA==" />
    <add key="Local_Default_Security_Entity_ID" value="1" />
    <add key="Local_Enable_Cache" value="true"/>
    <add key="Local_Enable_Encryption" value="True" />
    <add key="Local_Force_HTTPS" value="False" />
    
    <add key="Local_LDAP_Domain" value="YourDomain" />
    <add key="Local_LDAP_Server" value="LDAP://ad.YourDomain.???" />
    
    <add key="Local_Log_Path" value="C:\Development\GrowthWare\2013\VB\GrowthWare.WebApplication\Logs\" />
    <add key="Local_Log_Priority" value="Debug" />
    <add key="Local_Log_Retention" value="5" />
    
    <add key="Local_RegistrationAccountChoicesAccount" value="Mike" />
    <add key="Local_RegistrationGroups" value="Everyone" />
    <add key="Local_RegistrationRoles" value="" />
    <add key="Local_RegistrationSecurityEntityId" value="1" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="GWHttpContextModule" type="GrowthWare.WebSupport.Context.HttpContextModule,GrowthWare.WebSupport" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="GWHttpContextModule" type="GrowthWare.WebSupport.Context.HttpContextModule,GrowthWare.WebSupport" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
