<div class="table" style=" width: 200px;">
    <div class="tr">
        <div class="td">
            <mat-form-field appearance="fill">
                <mat-select [(value)]="selectedSecurityEntity" class="rounded">
                    <mat-option *ngFor="let item of validSecurityEntities" [value]="item.id">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>      
            </mat-form-field>            
        </div>
    </div>
    <div class="tr">
        <div class="td right">
            <button type="button" mat-button (click)="onSave()" class="Form_Button" color="primary">
                <i style="padding-right: 3px" class="Form_Button_Icon material-icons">save</i>Save
            </button>      
        </div>
    </div>
</div>
