@for (item of navLinks; track item; let i = $index, mLast = $last) {
  @if (!mLast) {
    <div style="display: inline-block; border-right: 1px solid;">
      <a (click)="onItemSelected(item)" data-title="{{ item.description }}" style="cursor: grab; padding-left: 10px;" [ngStyle]="{'color': fontColor}">
        {{item.label}}
      </a>  
    </div>        
  }
  @if (mLast) {
    <div style="display: inline-block;">
      <a (click)="onItemSelected(item)" data-title="{{ item.description }}" style="cursor: grab;; padding-left: 10px;">
        {{item.label}}
      </a>  
    </div>        
  }

}
