<form [formGroup]="frmMessage" (ngSubmit)="onSubmit(frmMessage)" class="formSize">
  <mat-tab-group mat-align-tabs="center" class="mat-tab__group">
    <mat-tab label="General Information" class="mat-tab__tab">
      <div class="div__tab-container formSection">
        <div class="formSectionContents">
          <div class="pageDescription left" style="padding: 5px;">
            In this page, you can add or edit messages, which can be used as error or general information text in response to an action by a user. For example, 'Invalid Password' or 'Please allow 24 hours for your submission to appear.'
          </div>
          <div class="table">
            <div class="tr">
              <div class="td left">
                <span class="Form_LabelText">Name:</span>
              </div>
              <div class="td left">
                <span class="Form_LabelText">Title:</span>
              </div>
            </div>
            <div class="tr">
              <div class="td left">
                <input type="text" id="txtName" formControlName="name" class="rounded" style="width: 95%;" />
              </div>
              <div class="td left">
                <input type="text" id="txtMessageTitle" formControlName="title" class="rounded" Columns="50" MaxLength="100" style="width: 95%;" />
              </div>
            </div>
          </div>
          <div class="table">
            <div class="tr">
              <div class="td left">
                <span class="Form_LabelText">Description: </span><br />
              </div>
            </div>
            <div class="tr">
              <div class="td left">
                <input type="text" id="txtDescription" formControlName="description" class="rounded" style="height: 49px; width: 97%;" TextMode="MultiLine" MaxLength="128" />
              </div>
            </div>
            <div class="tr">
              <div class="td left">
                <span class="Form_LabelText">Tags: </span>
                <i (click)="onHelp('Tags')" style="cursor: pointer" class="Form_Button_Icon material-icons">help</i>
              </div>
            </div>
            <div class="tr">
              <div class="td left">
                <textarea id="txtTags" formControlName="avalibleTags" class="rounded" TextMode="MultiLine" Columns="15" Rows="5" style="Width: 97%;"></textarea>
              </div>
            </div>
            <div class="tr">
              <div class="td left">
                <span class="Form_LabelText">Message Body:</span>
                <input type="checkbox" id="chkFormatAsHTML" formControlName="formatAsHtml" />
                <label for="chkEnableNotifications">Format as HTML</label>
              </div>
            </div>
            <div class="tr">
              <div class="td left">
                <textarea  id="txtMessageBody" formControlName="messageBody" maxlength="512" TextMode="MultiLine" Columns="50" Rows="5" class="rounded" style="width: 97%;" matInput></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="buttonRow">
    @if (canSave) {
      <button type="submit" [disabled]="frmMessage.invalid" mat-button class="Form_Button" color="primary">
        <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">save</i>Save
      </button>
    }
    <button type="button" (click)="onCancel()" mat-button class="Form_Button" color="accent">
      <i style="padding-right: 3px;" class="Form_Button_Icon material-icons">cancel</i>Cancel
    </button>
  </div>
</form>
<ng-template #helpTags>
  <p>
    Tags are avalible/provided when a message model object is created by the developer where the developer would like to subsitute data from the property for placeholders in the message body.<br/>
    If no tags are provided then the message body will be displayed as is.<br/>
    RegistrationSuccess is an example where tags have been provided.
  </p>
</ng-template>