.mat-toolbar {
  block-size: fit-content;
  height: 2.5rem;
}

.mat-toolbar__ul {
  padding-top: 1rem;
}

.version__span {
  display: inline-block;
  padding-top: 1.2rem;
}

ul li {
  list-style: none;
}
