<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button style="outline: none;" class="white-icon" mat-icon-button (click)="sidenav.toggle();">
        <mat-icon>menu</mat-icon>
      </button>
      <span> Application Name </span>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
          <li>
            <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
          </li>
          <li>
            <button mat-icon-button>
              <mat-icon>help_outline</mat-icon>
            </button>
          </li>
          <li>
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button *ngIf="!isAuthenticated" (click)="onLogin()" mat-menu-item>
                <mat-icon>login</mat-icon>
                Sign in
              </button>
              <a *ngIf="isAuthenticated" mat-menu-item [routerLink]="['/edit-my-account']">
                <mat-icon>settings</mat-icon><span>Edit Profile</span>
              </a>
              <button *ngIf="isAuthenticated" (click)="onLogout()" mat-menu-item>
                <mat-icon>logout</mat-icon>
                Sign out
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
