Label.Links
{
	color: blue;
	text-decoration: underline;
	cursor:hand
}
A.Links:visited
{
    COLOR: Blue;
}
body
{
	margin: 0px;
}
.scrollWidth
{
	width: 15px;
}
.pageContent
{
	position: absolute; 
	left: 140; 
	top: 180;
}
.fieldSetNormal
{
	border-width:thin
}
.inset
{
	border-width:thin;
	BORDER-TOP-STYLE: inset; 
	BORDER-RIGHT-STYLE: inset; 
	BORDER-LEFT-STYLE: inset; 
	BORDER-BOTTOM-STYLE: inset
}
.screen_title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: Helvetica
}
.section_title
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Helvetica
}
.screen_identification
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Helvetica
}
.screen_section
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Helvetica
}
.field_title
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Helvetica
}
.input_field
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Helvetica
}
.submit_button
{
	WIDTH: 140px;
	HEIGHT: 24px;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Helvetica
}
.defaultButton
{
	WIDTH: 140px;
	HEIGHT: 24px;
	font-size:10pt;
	font-weight:bold;
	font-family:Helvetica
}
.table_column_title
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Helvetica
}
TABLE.home_page_table
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Helvetica
}
TD.results_table
{
    BORDER-RIGHT: gray thin solid;
    BORDER-TOP: gray thin solid;
    BORDER-LEFT: gray thin solid;
    BORDER-BOTTOM: gray thin solid
}
TABLE.results_table
{
    BORDER-RIGHT: gray thin solid;
    BORDER-TOP: gray thin solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: gray thin solid;
    BORDER-BOTTOM: gray thin solid;
    FONT-FAMILY: Helvetica;
    BORDER-COLLAPSE: collapse
}
.tabLeftRight
{
	width: 13px;
	height: 23px;
	CURSOR: HAND
}
.tabMiddle
{
	CURSOR: HAND
}
.tabImage
{
	CURSOR: HAND;
	height: 27px
}
TABLE.DataEntry
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #cccccc
}
TR.HeaderRow
{
    FONT-SIZE: 12pt;
    BACKGROUND-COLOR: #003468;
    TEXT-ALIGN: left
}
TD.HeaderText
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    COLOR: white;
    FONT-FAMILY: 'Times New Roman'
}
TABLE.TabBox
{
	border-style: inset;
	border-width: thin;
    WIDTH: 100%;
    HEIGHT: 250px;
}