<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form id="frmModalPopup">
        <div class="modal-header">
            <h4>Modal Dialog</h4>
        </div>
        <div class="modal-body">
            <p>{{modalData.content}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">Okay</button>
            <button class="btn" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</body>
</html>