/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top: 50px;
  background-color: #f5f5f5;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 10px;
  }
}


/* Sidebar navigation */
.nav-sidebar {
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.HMenu a
{
    color: whitesmoke;
    text-decoration: none;
    font-size: 12px;
}
/* Horizontal Hierarchical Menu ----------------------------------------------------------*/
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
	margin: 0;
	padding: 0;
	position: relative;
}
#cssmenu {
	height: 49px;
	background: #141414;
	background: -moz-linear-gradient(top, #32323a 0%, #141414 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414));
	background: -webkit-linear-gradient(top, #32323a 0%, #141414 100%);
	background: -o-linear-gradient(top, #32323a 0%, #141414 100%);
	background: -ms-linear-gradient(top, #32323a 0%, #141414 100%);
	background: linear-gradient(to bottom, #32323a 0%, #141414 100%);
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#32323a', EndColorStr='#141414', GradientType=0);
	border-bottom: 2px solid #0fa1e0;
}
#cssmenu:after,
#cssmenu ul:after {
	content: '';
	display: block;
	clear: both;
}
#cssmenu a {
	background: #141414;
	background: -moz-linear-gradient(top, #32323a 0%, #141414 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414));
	background: -webkit-linear-gradient(top, #32323a 0%, #141414 100%);
	background: -o-linear-gradient(top, #32323a 0%, #141414 100%);
	background: -ms-linear-gradient(top, #32323a 0%, #141414 100%);
	background: linear-gradient(to bottom, #32323a 0%, #141414 100%);
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#32323a', EndColorStr='#141414', GradientType=0);
	color: #ffffff;
	display: inline-block;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 49px;
	padding: 0 20px;
	text-decoration: none;
}
#cssmenu ul {
	list-style: none;
}
#cssmenu > ul {
	float: left;
}
#cssmenu > ul > li {
	float: left;
}
#cssmenu > ul > li:hover:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	bottom: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #0fa1e0;
	margin-left: -10px;
}
#cssmenu > ul > li.active a {
	-moz-box-shadow: inset 0 0 3px #000000;
	-webkit-box-shadow: inset 0 0 3px #000000;
	background: #070707;
	background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
	background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
	background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
	background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
	background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#26262c', EndColorStr='#070707', GradientType=0);
}
#cssmenu > ul > li:hover > a {
	background: #070707;
	background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
	background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
	background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
	background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
	background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#26262c', EndColorStr='#070707', GradientType=0);
	-moz-box-shadow: 0 0 10px #3399FF;
	-webkit-box-shadow: 0 0 10px #3399FF;
	box-shadow: 0 0 10px #3399FF;
	margin-right: 10px;
	border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
}
#cssmenu .has-sub {
	z-index: 1;
}
#cssmenu .has-sub:hover > ul {
	display: block;
}
#cssmenu .has-sub ul {
	display: none;
	position: absolute;
	width: 200px;
	top: 100%;
	left: 0;
}
#cssmenu .has-sub ul li {
	*margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
	background: #0fa1e0;
	border-bottom: 1px dotted #6fc7ec;
	filter: none;
	font-size: 11px;
	display: block;
	line-height: 120%;
	padding: 10px;
}
#cssmenu .has-sub ul li:hover a {
	background: #0c7fb0;
}
#cssmenu .has-sub .has-sub:hover > ul {
	display: block;
}
#cssmenu .has-sub .has-sub ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
	background: #0c7fb0;
	border-bottom: 1px dotted #6db2d0;
}
#cssmenu .has-sub .has-sub ul li a:hover {
	background: #095c80;
}
/******* Vertical Hierarchal Menu ***************/
/* Some stylesheet reset */
#cssmenuVHMenu > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	line-height: 1;
}

/* The container */
#cssmenuVHMenu > ul {
	display: block;
	position: relative;
	width: 150px;
}

/* The list elements which contain the links */
#cssmenuVHMenu > ul li {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	width: 150px;	
}

/* General link styling */
#cssmenuVHMenu > ul li a {
	/* Layout */
	display: block;
	position: relative;
	margin: 0;
	border-top: 1px dotted #3a3a3a;
	border-bottom: 1px dotted #1b1b1b;
	padding: 11px 20px;
	width: 110px;

	/* Typography */
	font-family: Helvetica, Arial, sans-serif;
	color: #d8d8d8;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px 1px #000;
	font-size: 13px;
	font-weight: 300;			

	/* Background & effects */
	background: #282828;
}

/* Rounded corners for the first link of the menu/submenus */
#cssmenuVHMenu > ul li:first-child>a {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: 0;
}

/* Rounded corners for the last link of the menu/submenus */
#cssmenuVHMenu > ul li:last-child>a {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 0;
}


/* The hover state of the menu/submenu links */
#cssmenuVHMenu > ul li>a:hover, #cssmenuVHMenu > ul li:hover>a {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
	background: #54cdf1;
	background: -webkit-linear-gradient(bottom, #54cdf1, #74d7f3);
	background: -ms-linear-gradient(bottom, #54cdf1, #74d7f3); 
	background: -moz-linear-gradient(bottom, #54cdf1, #74d7f3);
	background: -o-linear-gradient(bottom, #54cdf1, #74d7f3);
	border-color: transparent;
}

#cssmenuVHMenu .has-sub {
	z-index: 1;
}

/* The arrow indicating a submenu */
#cssmenuVHMenu > ul .has-sub>a::after {
	content: '';
	position: absolute;
	top: 16px;
	right: 10px;
	width: 0px;
	height: 0px;

	/* Creating the arrow using borders */
	border: 4px solid transparent;
	border-left: 4px solid #d8d8d8; 
}

/* The same arrow, but with a darker color, to create the shadow effect */
#cssmenuVHMenu > ul .has-sub>a::before {
	content: '';
	position: absolute;
	top: 17px;
	right: 10px;
	width: 0px;
	height: 0px;

	/* Creating the arrow using borders */
	border: 4px solid transparent;
	border-left: 4px solid #000;
}

/* Changing the color of the arrow on hover */
#cssmenuVHMenu > ul li>a:hover::after, #cssmenuVHMenu > ul li:hover>a::after {
	border-left: 4px solid #fff;
}

#cssmenuVHMenu > ul li>a:hover::before, #cssmenuVHMenu > ul li:hover>a::before {
	border-left: 4px solid rgba(0, 0, 0, .3);
}

	
/* THE SUBMENUS */
#cssmenuVHMenu > ul ul {
	position: absolute;
	left: 150px;
	top: -9999px;
	padding-left: 5px;
	opacity: 0;
	/* The fade effect, created using an opacity transition */
	-webkit-transition: opacity .3s ease-in;
	-moz-transition: opacity .3s ease-in;
	-o-transition: opacity .3s ease-in;
	-ms-transition: opacity .3s ease-in;
}

/* Showing the submenu when the user is hovering the parent link */
#cssmenuVHMenu > ul li:hover>ul {
	top: 0px;
	opacity: 1;
}