<form [formGroup]="frmProfile" (ngSubmit)="onSubmit()" class="formSize">
    <mat-tab-group mat-align-tabs="center" class="mat-tab__group">
      <mat-tab label="General" class="mat-tab__tab">
        <div class="div__tab-container formSection">
          <div class="formSectionContents">
            Feedback details
            <input formControlName="details" />
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="buttonRow">
      <button type="submit" [disabled]="frmProfile.invalid" mat-button class="Form_Button" color="primary">
        <i style="padding-right: 3px" class="Form_Button_Icon material-icons">save</i>Save
      </button>
      @if (canDelete) {
      <button type="button" (click)="onDelete()" mat-button class="Form_Button" color="warn">
        <i style="padding-right: 3px" class="Form_Button_Icon material-icons">delete</i>Delete
      </button>
      }
      <button type="button" (click)="onCancel()" mat-button class="Form_Button" color="accent">
        <i style="padding-right: 3px" class="Form_Button_Icon material-icons">cancel</i>Cancel
      </button>
    </div>
  </form>
