<form [formGroup]="frmProfile" (ngSubmit)="onSubmit()" class="formSize">
    <mat-tab-group mat-align-tabs="center" class="mat-tab__group">
      <mat-tab label="General" class="mat-tab__tab">
        <div class="div__tab-container formSection">
          <div class="formSectionContents">
            <div class="form-row">
              <mat-form-field class="full-width">
                <mat-label>Area occurred</mat-label>
                <mat-select  [(value)]="selectedAction">
                  <mat-option value="--">--</mat-option>
                  @for (item of validLinks; track item.action) {
                    <mat-option [value]="item.action">{{item.title}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>  
            <div class="form-row">
              <mat-form-field class="full-width">
                <mat-label>Details</mat-label>
                <textarea matInput formControlName="details" rows="5"></textarea>
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field class="half-width">
                <mat-label>Assigned To</mat-label>
                <mat-select formControlName="assignee">
                  @for (item of avalibleDevelopers; track item) {
                  <mat-option [value]="item">
                      {{item}}
                  </mat-option>
                  }
                </mat-select>
            </mat-form-field>
              <mat-form-field class="half-width">
                <mat-label>Verified By</mat-label>
                <mat-select formControlName="verifiedBy">
                  @for (item of avalibleQA; track item) {
                  <mat-option [value]="item">
                      {{item}}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>  

            <div class="form-row">
              <mat-form-field class="half-width">
                <mat-label>Severity</mat-label>
                <input type="number" matInput formControlName="severity">
                @if ((controls['severity'].invalid && controls['severity'].touched && controls['severity'].dirty) || getErrorMessage('severity')) {
                  <mat-error style="display: inline-block; padding-left: 5px">{{getErrorMessage('severity')}}</mat-error>
                }  
              </mat-form-field>
              <mat-form-field class="half-width">
                <mat-label>Status</mat-label>
                <mat-select [(value)]="selectedStatus">
                  <mat-option value="--">--</mat-option>
                  @for (item of avalibleStatuses; track item) {
                    <mat-option [value]="item">{{item}}</mat-option>
                  }
                </mat-select>
                @if (controls['status'].invalid && controls['status'].touched && controls['status'].dirty) {
                  <mat-error style="display: inline-block; padding-left: 5px">{{getErrorMessage('status')}}</mat-error>
                }
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field class="half-width">
                <mat-label>Type</mat-label>
                <mat-select [(value)]="selectedType">
                  <mat-option value="--">--</mat-option>
                  @for (item of avalibleTypes; track item) {
                    <mat-option [value]="item">{{item}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field class="half-width">
                <mat-label>Found In Version</mat-label>
                <input matInput formControlName="foundInVersion">
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field class="half-width">
                <mat-label>Target Version</mat-label>
                <input matInput formControlName="targetVersion">
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field class="half-width">
                <mat-label>Date Opened</mat-label>
                <input matInput [matDatepicker]="dateOpenedPicker" formControlName="dateOpened">
                <mat-datepicker-toggle matSuffix [for]="dateOpenedPicker"></mat-datepicker-toggle>
                <mat-datepicker #dateOpenedPicker></mat-datepicker>
              </mat-form-field>
  
              <mat-form-field class="half-width">
                <mat-label>Date Closed</mat-label>
                <input matInput [matDatepicker]="dateClosedPicker" formControlName="dateClosed">
                <mat-datepicker-toggle matSuffix [for]="dateClosedPicker"></mat-datepicker-toggle>
                <mat-datepicker #dateClosedPicker></mat-datepicker>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="setToCurrentTime('dateClosed', $event)">Now</button>
            </div>
  
            <div class="form-row">
              <mat-form-field class="full-width">
                <mat-label>Notes</mat-label>
                <textarea matInput formControlName="notes" rows="3"></textarea>
              </mat-form-field>
            </div>
  
            <div class="form-row">
              <mat-form-field class="full-width">
                <mat-label>Submitted By</mat-label>
                <input matInput formControlName="submittedBy" readonly>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="buttonRow">
      <button type="submit" [disabled]="frmProfile.invalid" mat-button class="Form_Button" color="primary">
        <i style="padding-right: 3px" class="Form_Button_Icon material-icons">save</i>Save
      </button>
      @if (canDelete) {
      <button type="button" (click)="onDelete()" mat-button class="Form_Button" color="warn">
        <i style="padding-right: 3px" class="Form_Button_Icon material-icons">delete</i>Delete
      </button>
      }
      <button type="button" (click)="onCancel()" mat-button class="Form_Button" color="accent">
        <i style="padding-right: 3px" class="Form_Button_Icon material-icons">cancel</i>Cancel
      </button>
    </div>
  </form>
