<div class="formSize">
    <mat-tab-group mat-align-tabs="center" class="mat-tab__group">
        <mat-tab label="Details" class="mat-tab__tab">
            <div class="div__tab-container formSection">
                <div class="formSectionContents">
                    <p>db-log-details works!</p>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="buttonRow">
        <button type="button" (click)="onCancel()" mat-button class="Form_Button" color="accent">
            <i style="padding-right: 3px" class="Form_Button_Icon material-icons">cancel</i>Cancel
        </button>
    </div>
</div>
