<div class="mat-tab__container formSection" style="width: 600px;">
    <div class="mat-tab__content formSectionContents">
        <div class="table">
            <div class="tr">
                <div class="td left">
                    &nbsp;
                </div>
            </div>
            <div class="tr">
                <div class="td left">
                    <mat-form-field appearance="outline">
                        <mat-label htmlFor="encryptionType">Encryption Type</mat-label>
                        <mat-select id="encryptionType" [(value)]="selectedEncryptionType" class="rounded">
                            <mat-option *ngFor="let item of validEncryptionTypes" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="tr">
                <div class="td left">
                    Text:
                </div>
            </div>
            <div class="tr">
                <div class="td left">
                    <textarea id="txtValue" name="txtValue" rows="4" cols="50" [(ngModel)]="textValue"
                        class="rounded">Textarea</textarea>
                </div>
            </div>
            <div class="tr">
                <div class="td left">
                    Results:
                </div>
            </div>
            <div class="tr">
                <div class="td">
                    <textarea id="txtProcessed" name="txtProcessed" rows="4" cols="50" [(ngModel)]="processedText"
                        class="rounded"></textarea>
                </div>
                <div class="td">
                    copy text
                </div>
            </div>
            <div class="tr">
                <div class="buttonRow">
                    <div class="td">
                        <button (click)="encryptDecrypt(true)" mat-button class="Form_Button" color="primary">
                            <span>Encrypt</span>
                        </button>
                        <button (click)="encryptDecrypt(false)" mat-button class="Form_Button" color="warn">
                            <span>Decrypt</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
