<div class="table header">
    <div class="tr" style="height: 78.5px;">
        <div class="td header_firstRow_left__div">
            <img class="centerLogo" src='assets\professional\images\CompanyLogo.gif' />
        </div>
        <div class="td header_firstRow_center__div">
            <img src='assets\professional\images\top_blue_curve.gif' />
        </div>
        <div class="td spacer header_firstRow_right__div">
            <div class="table header_firstRow_right__div__table">
                <div class="tr">
                    <div class="td header_firstRow_right__div__table__td">
                        <span id="spSecurityEntity">{{securityEntityTranslation()}}:&nbsp;&nbsp;{{securityEntityName()}}</span>
                    </div>
                    <div class="td">
                        <span id="spEnvironment">
                            Environment: {{environment}}
                        </span>
                    </div>
                </div>
                <div class="tr">
                    <div class="td">
                        <span id="spEnvironment">Version:&nbsp;&nbsp;{{version()}}</span>
                    </div>
                    <div class="td">
                        <span id="spName">Name:&nbsp;&nbsp;{{name()}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tr header_secondRow">
        <div class="td"></div>
        <div class="td"></div>
        <div class="td"></div>
    </div>
    <div class="tr header_thirdRow">
        <div class="td"></div>
        <div class="td"></div>
        <div class="td header_thirdRow_right__div">
            <div class="table">
                <div class="tr">
                    <div class="td">
                        <gw-core-horizontal id="horizontal" />
                    </div>
                    <div class="td right">
                        Search:<input type="text" style="height: 8px; width: 200px;" />&nbsp;Go&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tr header_forthRow">
        <div class="td"></div>
        <div class="td"></div>
        <div class="td"></div>
    </div>
</div>

